<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider_cntent">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="post-9" class="post-9 page type-page status-publish hentry">
              <h1 class="page_title">Ability Diagnostics Laboratory Services</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="warnty">

              <h2>{{postsArray.service_title}}</h2>
              <div class="content">
                <p [innerHTML]=postsArray.service_desc></p>
              </div>

              <div class="clear"></div>
            </div>


          </div>
        </div>
      </div>
    </main>
  </div>
</div>
