#primary h1 {
    color: #444;
   font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#primary h1:after{
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 17px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
.no_padding3 {
    float: left;
    width: auto;
}
.ability_titl {margin-top: 12px;float: left;width: 100%;}
.ability_titl .panel-title { font-size: 20px;}
pre, table, td, th { border: 1px solid #d1d1d1;}
.listed_box { vertical-align: top!important;}
.listed_txt { margin-top: 15px; font-weight: 400;}
.listed_style2 { color: #ff5e5e;}
.listed_style3 { font-size: 14px;font-weight: 600;color:green}
.listed_style, .listed_style1, .listed_style2, .report_done { font-size: 14px; font-weight: 600;}
.blue-btn {
    background: #34b6e6;
    height: 33px;
    display: inline-block;
    color: #fff;
    padding: 0px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px; font-family: "Yanone Kaffeesatz";
    line-height: 35px;
        cursor: pointer;
        display: inherit;
}
.pagi a.active {
    background: #337ab7;
    color: #fff;
}

.pagi > a:first-child {
    display: block !important;
}
.pagi > .active {
    display: block !important;
}
.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.pagi a {
    
    text-align: center;
    float: left;
    margin-right: 5px;
    padding: 2px 10px;
}
.pagi > a.active + a {
    display: block !important;
}

.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.table-container .show_physician_list {
    margin: 0 0;
}

.show_physician_list {
    font-family: arial;
    font-size: 16px;
    margin: 0 0 .75em;
    padding: 0;
    text-align: right;
    padding: 10px;
}
.show_physician_list span {
    color: #34b6e6;
    font-size: 18px;
}
.track-modal button.close {
    position: absolute;
    z-index: 9;
    right: 0;
    background: #34b6e6;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    padding: 5px 6px;
    border-radius: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{padding: 5px;}

.load-spmn {text-align: left; margin-bottom: 20px; float: left; padding: 0;}




/* ... Stages TAT ... */

#stageTat .modal-dialog {
    z-index: 9999 !important;
    width: 70%;
}

#tat .tat_style1{
    font-size: 14px;
    font-weight: 600;
    color:green;
    line-height: 1.5;
    width: 100%;
    display: block;
}
#tat .tat_style2{
    font-size: 14px;
    font-weight: 600;
    color: #ff5e5e !important;
    line-height: 1.5;
    width: 100%;
    display: block;
}
.stage-tat{
    margin-top: 10px;
}
.stage-tat span{
    padding-right: 10px;
}
.stage-tat a{
    font-size: 18px;
    color: #34b6e6;
    cursor: pointer;
    text-decoration: none;
}

#stageTat button.close {
    width: auto;
    font-size: 40px !important;
    color: #333 !important;
    font-family: inherit !important;
    background: none !important;
    padding: 0 10px 0 0 !important;
}

#stageTat button.close:focus, #stageTat button.close:focus{
    text-decoration: none;
}