<cm-navbar></cm-navbar>
	<div id="primary" class="container">
			<h1>Specimen Stages Status</h1>
			<form  [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
				<div class="specimen_border">
					<div class="row">
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan BarCode:</label>
							<input type="text" name="scan_code" class="form-control" value="" placeholder="Scan Specimen BarCode" formControlName="bar_code">
						</div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Accessioning Number :</label>
							<input type="text" class="form-control" placeholder="Accessioning Number" formControlName="acc_no" >
						</div>
						<div class="col-md-2 speciman_top specimen_bottom">
							<span class="analysis_right">From</span>
							<!-- <input type="text" class="form-control datepicker" placeholder="From Create Date" formControlName="fromdate"> -->
							<input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" formControlName="fromdate" id="datepicker" placeholder="MM/DD/YY"/>
						</div> 
						<div class="col-md-2 speciman_top specimen_bottom">
							<span class="analysis_right">To </span>
							<!-- <input type="text" class="form-control datepicker" placeholder="To Create Date" formControlName="todate"> -->
							<input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" formControlName="todate" id="datepicker" placeholder="MM/DD/YY"/>
						</div>	
					</div>
					<div class="row">
						<!-- <div class="col-md-4 speciman_top specimen_bottom">
							<label>Sort By Accessioning Number:</label>
							<select name="sort_number" id="sort_number" class="form-control" formControlName="sort_data">
							<option value="asc">Ascending</option>
							<option value="desc">Descending</option>
							</select>
						</div> -->
						<div class="col-md-2 no_padding3">
						
							<input type="submit" value="Search" tabindex="100">
						</div>
										
						<div class="col-md-2 no_padding3">
								<input type="button" value="Load Last Five days Pending Records" class="reset_button" (click)="load_last_five()"> 
						</div>
						<div class="col-md-2 no_padding3">
							<input type="button" value="Reset" class="reset_button" (click)="resetForm()">
						</div>
					</div>
				</div>
			</form>

			<!-- Button trigger modal -->
			<!-- <a href="{{url}}PrintPDF/print_specimen_labels?assessioning_num={{param_list}}" target="_blank" class="btn btn-success btn-lg" style="margin: 10px 0 0 0;"><span class="glyphicon glyphicon-print"></span>
				Print Labels</a> -->
  <div class="col-md-12 stage-tat">
	  <span>Specimen Stages TAT</span>
	<a data-toggle="modal" data-target="#stageTat">
		<i aria-hidden="true" class="fa fa-bell"></i><sup>{{stageTATCount}}</sup>
	</a>
  </div>

			
					<div class="panel panel-primary ability_titl">
					<div class="panel-heading">
						<h3 class="panel-title"> Lab Processing </h3>
					</div>
					
						<div class="table-container">
							<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
							<thead>
							<tr>
										<th width="15%" class="listed_box shrt-acc"> # <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter></th>
										<th width="17%" class="listed_box" *ngIf="st1">
										<div class="listed_buttn">
										<a routerLinkActive="active" routerLink="/pending-stage-details/1" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
										</div>
										<div class="listed_txt">Stage 1: Delivery to lab</div></th>
										<th width="17%" class="listed_box" *ngIf="st2">
										<div class="listed_buttn">
										<a routerLinkActive="active" routerLink="/pending-stage-details/2" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
									</div>
		<div class="listed_txt">Stage 2: Gross</div></th>
		<th width="17%" class="listed_box" *ngIf="st3">
		<div class="listed_buttn">
		<a routerLinkActive="active" routerLink="/pending-stage-details/3" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
	</div>
		<div class="listed_txt"> Stage 3: Microtomy</div>
		</th>
		<th width="17%" class="listed_box" *ngIf="st4">
		<div class="listed_buttn">
			<a routerLinkActive="active" routerLink="/pending-stage-details/4" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
		</div>
		<div class="listed_txt">Stage 4: QC Check</div>
		</th>
		</tr>
		                    </thead>
<tbody>

<tr *ngFor="let specimens of mf.data">
<td valign="middle"># {{specimens.assessioning_num}}
		<a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a>

</td>
<td valign="middle" *ngIf="st1">
<span *ngIf="specimens.first_data==='Process Not Done'; else elsepart " class="listed_style2"> {{specimens.first_data}}</span>
<ng-template #elsepart><span class="listed_style3">{{specimens.first_data}}</span></ng-template>
<div class="clearfix"></div>
<a routerLink="/specimen-next-page/{{specimens.id}}/1" class="btn btn-primary listed_button">
<span class="glyphicon glyphicon-plus"></span> 
{{specimens.first_msg}}
</a>
</td>
<td valign="middle" *ngIf="st2">
	<span *ngIf="specimens.second_data==='Process Not Done'; else elsepart1 " class="listed_style2">  {{specimens.second_data}}</span>
	<ng-template #elsepart1><span class="listed_style3">{{specimens.second_data}}</span></ng-template>
	<div class="clearfix"></div>
<a routerLink="/specimen-next-page/{{specimens.id}}/2" class="btn btn-primary listed_button">
	<span class="glyphicon glyphicon-plus"></span> {{specimens.second_msg}}
</a></td>
<td valign="middle" *ngIf="st3">
	<span *ngIf="specimens.third_data==='Process Not Done'; else elsepart2 " class="listed_style2"> {{specimens.third_data}}</span>
	<ng-template #elsepart2><span class="listed_style3">{{specimens.third_data}}</span></ng-template>	
	<div class="clearfix"></div>
<a routerLink="/specimen-next-page/{{specimens.id}}/3" class="btn btn-primary listed_button">
	<span class="glyphicon glyphicon-plus"></span>{{specimens.third_msg}} 
</a>
<!-- <a href="{{url}}PrintPDF/print_specimen_labels?assessioning_num={{specimens.assessioning_num}}" target="_blank" class="btn btn-success btn-lg" style="margin: 10px 0 0 0;"><span class="glyphicon glyphicon-print"></span>
                    Print Labels</a> -->
</td>
<td valign="middle" *ngIf="st4">
<span *ngIf="specimens.fourth_data==='Process Not Done'; else elsepart3 " class="listed_style2"> {{specimens.fourth_data}}</span>
<ng-template #elsepart3><span class="listed_style3">{{specimens.fourth_data}}</span></ng-template>	
<div class="clearfix"></div>
<a routerLink="/specimen-next-page/{{specimens.id}}/4" class="btn btn-primary listed_button">
	<span class="glyphicon glyphicon-plus"></span>{{specimens.fourth_msg}} 
</a></td>
</tr>
<td colspan="7">
	<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
  </td> 

</tbody>
</table>
<div style="margin-bottom: 20px;" class="show_physician_list"><div class="col-sm-5 load-spmn" *ngIf="load_btn"><input type="button" class="btn btn-blue exprt-btn" value="Load More" (click)="load_more()"> </div>Total Number of Specimen <span>{{spe_count}}</span></div>

</div>

</div>		


<!-- Modal -->
<div class="modal fade" id="stageTat" tabindex="-1" role="dialog" aria-labelledby="stageTatLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="table-container panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Specimen Stages TAT</h3>
				</div>
				<table class="table table-striped" style="width: 100%;">   
				<thead>
				<tr>
				<th width="15%" class="listed_box shrt-acc"> # Accessioning Number</th>
				<th width="17%" class="listed_box" *ngIf="st1">
				<div class="listed_txt">Stage 1: Delivery to lab</div></th>
				<th width="17%" class="listed_box" *ngIf="st2">
				<div class="listed_txt">Stage 2: Gross</div></th>
				<th width="17%" class="listed_box" *ngIf="st3">
				<div class="listed_txt"> Stage 3: Microtomy</div>
				</th>
				<th width="17%" class="listed_box" *ngIf="st4">
				<div class="listed_txt">Stage 4: QC Check</div>
				</th>
				</tr>
				</thead>
				<tbody id="tat">
				<tr *ngFor="let specimens of tatDetails">
				<td valign="middle"># {{specimens.accessioning_num}}
				</td>
				<td valign="middle" *ngIf="st1">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.color1}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.status1}}</span>
				</td>
				<td valign="middle" *ngIf="st2">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color2 == 'Red'"> {{specimens.color2}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color2 == 'Red'"> {{specimens.status2}}</span>
				</td>
				<td valign="middle" *ngIf="st3">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color3 == 'Red'"> {{specimens.color3}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color3 == 'Red'"> {{specimens.status3}}</span>
				</td>
				<td valign="middle" *ngIf="st4">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color4 == 'Red'"> {{specimens.color4}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color4 == 'Red'"> {{specimens.status4}}</span>
				</td>
				</tr>
				<tr *ngIf="tatMsg"><td colspan="4">{{tatMsg}}</td></tr>
				</tbody>
				</table>

				</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

</div>	
