<cm-navbar></cm-navbar>
<div class="content-wrap">
	<div class="container">
        <div id="primary" class="content-area col-md-12">
		<h1>Data Analysis Stage</h1>
		<div class="row">
		 <!-- <div class="col-md-3">
		 
		 <cm-pcr-left-menu></cm-pcr-left-menu>
		 
		 </div> -->
		 <div class="col-md-9">
      <p class="pcr_h3">Import QuantStudio Data</p>
      <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="incomingfile($event)"/>
      <div class='exportExcel'>
        <p class="pcr_h3">Analyze QuantStudio's Data</p>
        <button class="analyze-btn" (click)="Upload()">Analyze</button>
        <a [routerLink]="['/pcr-stages']" class="analyze-btn" style="margin-left: 20px;">BACK</a>
    </div>

    <div class="table-container" *ngIf="analyze_data_count">
        <h3>After Analyze QuantStudio's Data Review:</h3>
            <p><strong>PCR Not checked:</strong> </p>
              <div *ngFor="let unique of unique_data"><span>{{unique}}</span><br></div>
						 
        <p>QuantStudio  batch number is : <strong>{{barcode}}</strong> </p>
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
        <thead>
          <tr class="table_cls">
            <th width="10%">Well Position</th>
            <th width="12%">Accessioning Number</th>
            <th width="12%">Target Name</th>
            <th width="8%">ROX >= 2000</th>
            <th width="8%">Ct SD < .5 </th>
            <th width="8%">AMP SCORE >=1.24 </th>
            <th width="8%">Cq >=0.8 </th>
            <th width="8%">NTC? </th>
            <th width="8%">Filter Out? </th>
            <th width="8%">2/3 Pass?</th>
            <th width="13%">Positive/Negative</th>
          </tr>
        </thead>               
        <tbody id="specimens_list">         
          <tr class="odd" *ngFor="let analyze of mf.data">                   
            <td valign="middle">
              <div>{{analyze.well_position}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.accessioning_num}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.target_name}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.rox}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.ct_sd}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.amp_score}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.cq}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.ntc}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.filter_out}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.pass_fail_status}}</div>
            </td>
            <td valign="middle" >
              <div>{{analyze.positive_negtaive}}</div>
            </td>
          </tr>     
          <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
        </tbody>
        <tfoot>
          <tr class="table_cls">
            <th width="10%">Well Position</th>
            <th width="12%">Accessioning Number</th>
            <th width="12%">Target Name</th>
            <th width="8%">ROX >= 2000</th>
            <th width="8%">Ct SD < .5 </th>
            <th width="8%">AMP SCORE >=1.24 </th>
            <th width="8%">Cq >=0.8 </th>
            <th width="8%">NTC? </th>
            <th width="8%">Filter Out? </th>
            <th width="8%">2/3 Pass?</th>
            <th width="13%">Positive/Negative</th>
          </tr>
          <td colspan="7">
          <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
          </td>  
          
        </tfoot>
        </table>
        <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{analyze_data_count}}</span></div></div>
        <ng-template #customLoadingTemplate>
          <div class="custom-class">
            <h3>
              Loading...
            </h3>
           
          </div>
        </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
      </div>
		   </div>
	    </div>
     </div>
   </div>
</div>