
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
    margin-bottom: 30px;
}
.srch-btn {
    background: #34b6e6;
    padding-left: 14px !important;
}

.btn-blue {
    background: #34b6e6 !important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    color: #fff !important;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 21px !important;
    height: 35px;
    align-items: center !important;
    width: 90px;
    justify-content: center !important;
    position: relative;
    text-align: center;
    margin: 0 5px;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 51%;
    margin-left: 0;
}
.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}


.speciman_top.frm-to input {
    width: 80%;
}
.speciman_top .form-control {
    width: 51%;
    margin-left: 0;
}
.no_padding3 {
    float: left;
    width: auto;
}
.table_cls {
    background: #34B6E6;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
.table_cls th {
    color: #fff;
    font: 14px Lato;
}
.table-container .show_physician_list {
    margin: 0 0;
}

.show_physician_list {
    font-family: arial;
    font-size: 16px;
    margin: 0 0 .75em;
    padding: 0;
    text-align: right;
}
b, optgroup, strong {
    font-weight: 700;
}
.show_physician_list span {
    color: #34b6e6;
    font-size: 18px;
}
.speciman_top .form-control {
    width: 76%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
.lable-cls input {
    width: 65% !important;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}