<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Lab Data Analytics</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border">
          <div class="row">
            <div class="list-mid">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">From Date:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Create Date" formControlName="from_date" />
                <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">To Date:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="To Create Date" formControlName="to_date" />
                <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-4">
                <input class="form-control srch-btn reset_button btn-blue" type="submit" name="wp-submit"
                  id="lwa_wp-submit" value="Search" tabindex="100">
                <a href="javascript:void(0);" class="form-control rest-btn reset_button btn-blue"
                  (click)="resetForm()">Reset</a>

                <input type="button" class="btn btn-blue exprt-btn" name="csv" value="Export" (click)="exportAsXLSX()">
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </div>
      </form>


      <div class="table-container">
        <p>{{msg}}</p>
        <p style="float: right;">Search By Accessioning Number: <input type="text"
            (keyup)='search($event.target.value)'></p>
        <div id="from_specimen_date">
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">
            <thead>
              <tr class="table_cls">
                <th width="15%">
                  <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                </th>
                <th width="10%">
                  <mfDefaultSorter by="p_firstname">Patient Name</mfDefaultSorter>
                </th>
                <th width="10%">
                  <mfDefaultSorter by="patient_age">Patient Age</mfDefaultSorter>
                </th>
                <th width="10%">
                  <mfDefaultSorter by="create_date">Created Date</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody id="specimens_list">
              <tr class="odd" *ngFor="let specimens of mf.data">
                <td valign="middle">
                  <div>{{specimens.assessioning_num}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.p_firstname}} {{specimens.p_lastname}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.patient_age}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.create_date | date:"yyyy-MM-dd" }}</div>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="table_cls">
                <th width="10%">Accessioning Number</th>
                <th width="10%">Patient Name</th>
                <th width="10%">Patient Age</th>
                <th width="10%">Created Date</th>
              </tr>
              <td colspan="7">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>

            </tfoot>
          </table>
          <div class="col-md-6 pull-right">
            <div class="show_physician_list"><strong>Showing Number of Specimen: </strong>
              <span>{{postsArray.count}}</span></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>