#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.no_padding3 {
    float: left;
    width: auto;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
.fa-search:before {
    content: "\f002";
}
.histry-modal .modal-dialog {
    margin-top: 50px !important;
}

.modal-dialog {
    margin: 10% auto!important;
}
.histry-modal .modal-content {
    box-shadow: none;
}
.acc_no {
    position: absolute;
    right: 41px;
    top: 13px;
}
.acc_no span {
    color: #34b6e6;
    font-weight: 600;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-rotate-right:before, .fa-repeat:before {
    content: "\f01e";
}
.histo {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 15px 0;
    text-rendering: optimizeLegibility;
}

.h3, h3 {
    font-size: 24px;
}
ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}
.track-list ul li {
    color: black;
    border-bottom: 4px solid silver;
    float: left;
    text-align: center;
    line-height: 3.5em;
    width: 16.6%;
    position: relative;
    font-size: 13px;
}
.track-list ul li.active::before {
    background: yellowgreen;
}

.track-list ul li::before {
    content: "\2713";
    color: white;
    background-color: silver;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
    position: relative;
    bottom: -33px;
    float: left;
    left: 50%;
    margin-left: 0;
    text-align: center;
}
a {
    color: #34B6E6;
}
.acc_no span {
    color: #34b6e6;
    font-weight: 600;
}
.track-list ul li i {
    margin-left: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-caret-down:before {
    content: "\f0d7";
}
.track-list .tooltiptext {
    height: auto;
    width: 165px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #8a8a8a;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    padding-left: 30px;
}
.pcr {
    display: inline-block;
    width: 100%;
}
.track-list ul li:hover {
    cursor: pointer;
}


.pcr .track-list ul li {
    width: 20%;
}
.histry-modal .modal-body {
    padding-bottom: 50px;
}
.tooltiptext .track-list ul li {
    float: none;
    width: auto;
    border: none;
    border-left: 3px solid silver;
    height: 60px;
    line-height: 2em;
    text-align: left !important;
}

.track-list ul li {
    color: black;
    border-bottom: 4px solid silver;
    float: left;
    text-align: center;
    line-height: 3.5em;
    width: 16.6%;
    position: relative;
    font-size: 13px;
}
.tooltiptext .track-list ul li:before {
    left: 0;
    z-index: 9;
    bottom: 0;
    line-height: 2em;
    margin-left: -1.1em !important;
}
.tooltiptext .track-list ul li:last-child {
    height: auto;
    border: none;
}
.tooltiptext .track-list ul li:before {
    margin-right: 22px;
    text-align: center;
}
.track-list .tooltiptext1 {
    height: auto;
    width: 165px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #8a8a8a;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-align: center;
    padding: 13px 5px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 61%;
    padding-left: 30px;
}
.tooltiptext1 .track-list ul li {
    float: none;
    width: auto;
    border: none;
   
    border-left: 3px solid silver;
    height: 60px;
    line-height: 2em;
    text-align: left !important;
}
.tooltiptext1 .track-list ul li:before {
    left: 0;
    z-index: 9;
    bottom: 0;
    line-height: 2em;
    margin-left: -1.1em !important;
}
.tooltiptext1 .track-list ul li:before {
    margin-right: 22px;
    text-align: center;
}
.tooltiptext1 .track-list ul li::before {
    margin-left: -1.1em;
}
.tooltiptext1 .track-list ul li:last-child {
    height: auto;
    border: none;
}
.track-list .popup-show { display: block !important;}
.track-list {position: relative;}

.analysis_right {
    margin-right: 12px;
}
