<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">

      <div id="primary" class="content-area col-md-12">
        <h1>Specimen Tracking</h1>
        <form id="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number :</label>
                <input type="text" class="form-control" formControlName="acc_no" placeholder="Accessioning Number">
                <app-field-error-display [displayError]="isFieldValid('acc_no')"
                  errorMsg="Accessioning number required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 no_padding3">
                <button type="submit" class="btn reset_button" name="search_filter" id="submit" value="true"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2">
                <a href="javascript: void(0);" class="reset_button" (click)="resetForm()" title="Reset"><i
                    class="fa fa-repeat"></i> Reset</a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </form>
        <div class="histry-modal" id="myModal" role="dialog" data-backdrop="static" *ngIf="acc_no">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="acc_no"> <span>Accessioning Number :</span> {{postsArray.acc_no}}</div>
              <div class="modal-body">
                <div class="histo" *ngIf="histo_modal">
                  <h3>Histo Specimen</h3>
                  <div class="track-list">
                    <ul>
                      <li class="active"><a href="#">Specimen Created</a></li>
                      <li class="{{postsArray.class1}}"><a href="#">QC Confirmation</a></li>

                      <li (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" class="spec {{postsArray.class2}}">
                        Specimen Stages<i class="fa fa-caret-down" aria-hidden="true"></i></li>
                      <li class="{{postsArray.class3}}">Pending Specimen</li>
                      <li class="{{postsArray.class4}}">Pending Report</li>
                      <li class="{{postsArray.class5}}">Submitted Report</li>
                    </ul>
                    <div class="tooltiptext" *ngIf="mouseEnterVal">
                      <div class="track-list">
                        <ul>
                          <li class="{{postsArray.histo_stage1}}">Delivery to lab</li>
                          <li class="{{postsArray.histo_stage2}}">Gross</li>
                          <li class="{{postsArray.histo_stage3}}">Microtomy</li>
                          <li class="{{postsArray.histo_stage4}}">QC Check</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pcr" *ngIf="pcr_modal">
                  <h3>PCR Specimen</h3>
                  <div class="track-list">
                    <ul>
                      <li class="active"><a href="#">Specimen Created</a></li>
                      <li class="{{postsArray.pcr_class1}}"><a href="#">QC Confirmation</a></li>

                      <li (mouseenter)="mouseEnterNew()" (mouseleave)="mouseLeaveNew()"
                        class="spec1  {{postsArray.pcr_class2}}">PCR Stages<i class="fa fa-caret-down"
                          aria-hidden="true"></i></li>
                      <li class="{{postsArray.pcr_class3_4}}">Report Generate</li>
                      <li class="{{postsArray.pcr_class3_4}}">Submitted Report</li>
                    </ul>
                    <div class="tooltiptext1" *ngIf="mouseEnterNewVal">
                      <div class="track-list">
                        <ul>
                          <li class="{{postsArray.pcr_stage1}}">Delivery To Extraction</li>
                          <!-- <li class="{{postsArray.pcr_stage2}}">Delivery To PCR</li> -->
                          <li class="{{postsArray.pcr_stage3}}">Assign Well Stage</li>
                          <li class="{{postsArray.pcr_stage4}}">Data Analysis</li>
                          <!-- <li class="{{postsArray.pcr_class3_4}}">Manual Review</li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #customLoadingTemplate>
          <div class="custom-class">
            <h3>
              Loading...
            </h3>

          </div>
        </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
        </ngx-loading>
      </div>
    </div>
  </div>
</div>