<cm-navbar></cm-navbar>
<div id="content" class="site-content">
<div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slider_cntent">	
											</div>
			</div>
		</div>
	</div>
   </div>	  
<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		<div class="inner_page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<div class="bg-primary heading">Survey</div>
						<p class="survey_sub_head">We appreciate your feedback so we can continually improve your experience.  Please take a moment to answer these questions anonymously:
						</p>
						<p class="survey_sub_head1">One a scale of 1 to 5 (5 being the best):</p>
						<div class="clear"></div>
						<div class="contact_form">
							<form id="form_query" class="lwa-form" [formGroup]="surveyForm" (ngSubmit) = "onSubmit()">
								<div class="query_qus">
									<label>How satisfied are you with the support you received?</label>
									<select id="survey_option1" formControlName="option1">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div class="clear"></div>
								</div>
								<div class="query_qus">
									<label>How responsive were we to your inquiries?</label>
									<select id="survey_option2" formControlName="option2">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div class="clear"></div>
								</div>

								<div class="query_qus">
									<label>How satisfied are you with the diagnosis reports (for physicians)?</label>
									<select id="survey_option3" formControlName="option3">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div class="clear"></div>
								</div>

								<div class="query_qus">
									<label>How satisfied are you with the turnaround time?</label>
									<select id="survey_option4" formControlName="option4">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
								<div class="query_qus">
									<label>Overall, how was your experience?</label>
									<select id="survey_option5" formControlName="option5">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div class="clear"></div>
								</div>
                	            <div class="query_qus">
									<div class="frm_fld_text">
									<label>Enter your email so we can get back to you (optional):</label>
									<input type="email" id="email" placeholder="Enter Your Email Address" formControlName="email"/>
									</div>
									<div class="clear"></div>
								</div>
								<div style="float: right" class="query_qus" [ngClass]="displayFieldCss('answer_survey')">
									<div class="frm_fld_text">
										<textarea id="form6" placeholder="Anything else you’d like to tell us?" formControlName="answer_survey"></textarea>
                  </div>
                  <app-field-error-display 
                    [displayError]="isFieldValid('answer_survey')" 
                    errorMsg="Please enter description.">
                  </app-field-error-display>
									<div class="clear"></div>
								</div>
							
								<div class="clear"></div>
								<div class="query_button">
									<input type="submit" value="submit" formControlName="submit"/>	
								</div>
							</form>
						</div>	
					</div>
				</div>
			</div>
		</div>		
	</main>
</div>
</div>