@media screen and (min-width: 56.875em){
.content-area {
    width: 100%;
    padding-left: 0;
}
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
body, button, input, select, textarea {
    color: #1a1a1a;
    font-family: Lato, Georgia, serif;
    font-size: 14px;
    line-height: 1.75;
}
button, input, select, textarea {
    max-width: 100%;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.pull-right {
    float: right!important;
}
.no_padding3 {
    float: left;
    width: auto;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}

#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}

#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}
.content-area .table-container {
    position: relative;
}
/* .listing_table {
    margin-top: 40px;
} */
.table_cls {
    background: #34B6E6;
}
.blue-btn {
    background: #34b6e6;
    height: 33px;
    display: inline-block;
    color: #fff;
    padding: 0px 13px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px; font-family: "Yanone Kaffeesatz";
    line-height: 35px;
    margin-bottom: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-map-marker:before {
    content: "\f041";
}
.table_cls th {
    color: #fff;
    font: 14px Lato;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
.listed_style1 {
    color: #0F4802;
    margin-bottom: 10px;
    font-weight: bold;
}

.ability_titl {margin-top: 12px;float: left;width: 100%;}

/* ... Stages TAT ... */

#stageTat .modal-dialog {
    z-index: 9999 !important;
    width: 70%;
}

#tat .tat_style1{
    font-size: 14px;
    font-weight: 600;
    color:green;
    line-height: 1.5;
    width: 100%;
    display: block;
}
#tat .tat_style2{
    font-size: 14px;
    font-weight: 600;
    color: #ff5e5e !important;
    line-height: 1.5;
    width: 100%;
    display: block;
}
.stage-tat{
    margin-top: 10px;
}
.stage-tat span{
    padding-right: 10px;
}
.stage-tat a{
    font-size: 18px;
    color: #34b6e6;
    cursor: pointer;
    text-decoration: none;
}

#stageTat button.close {
    width: auto;
    font-size: 40px !important;
    color: #333 !important;
    font-family: inherit !important;
    background: none !important;
    padding: 0 10px 0 0 !important;
}

#stageTat button.close:focus, #stageTat button.close:focus{
    text-decoration: none;
}

#stageTat button.close{
    line-height: 1 !important;
}
