<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
	
		<div class="content-area col-md-4"></div>
		<div id="primary" class="content-area col-md-8">
			<h1>Pending Specimen List</h1>
			 <form [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
         <div class="specimen_border">
           <div class="row">



           <div class="col-md-4 speciman_top specimen_bottom">
             <label>Physician Name:</label>


            <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
      <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
          <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
              {{group}}
          </mat-option>
        </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
            </div>



            <div class="col-md-4 speciman_top specimen_bottom">
             <label>Specimen Collected Date:</label>
              <input type="text" class="form-control" formControlName="collected_date" value="" placeholder="Collected Date (MM/DD/YY)" bsDatepicker [bsConfig]="datePickerConfig"/>
           </div>
           <div class="col-md-4 speciman_top specimen_bottom">
		      <label>Scan Specimen BarCode:</label>
              <input type="text" class="form-control" id="scan_code" value="" placeholder="Scan Specimen BarCode" formControlName="barcode" >
			</div>
           </div> 
          <div class="row">
			<div class="col-md-4 speciman_top specimen_bottom">
            <label>Patient First Name:</label>
              <input type="text" class="form-control"  value="" placeholder="Patient First Name" formControlName="firstname"/>
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
            <label>Patient Last Name:</label>
              <input type="text" class="form-control" value="" placeholder="Patient Last Name" formControlName="lastname" />
            </div>
           <div class="col-md-4 speciman_top specimen_bottom">
            <label>Accessioning Number :</label>
              <input type="text" class="form-control" value="" placeholder="Accessioning Number" formControlName="assessioning_num"/>
            </div>
            </div> 
           <div class="row">
    		 <div class="col-md-2 no_padding3">
            <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100">
            </div>
    		 <div class="col-md-2 no_padding3">
         <button type="button" (click)="resetForm()">Reset</button>
            </div> 
            <div class="col-md-2 no_padding3">
    		 <button type="button" (click)="load_all()">load all</button>
            </div>
 		    <!-- <div class="col-md-4 pull-right speciman_top specimen_bottom">
         	
					<label>Quick Search:</label>
					<input type="text" ng-model="keyword" class="form-control" placeholder="keyword">
				
			</div> -->
		   </div>
        </div> 
        </form>

        <div class="col-md-12 stage-tat">
          <span>Pending Specimen TAT</span>
        <a data-toggle="modal" data-target="#stageTat">
          <i aria-hidden="true" class="fa fa-bell"></i><sup>{{stageTATCount?stageTATCount:0}}</sup>
        </a>
        </div>
        <div class="ability_titl">	
				<div class="table-container">
          <table class="table table-striped listing_table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;"> 
            <thead> 
							<tr class="table_cls">
								 <th width="15%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter> <span class="glyphicon sort-icon" ng-show="sortKey=='assessioning_num'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								 <th width="15%">Physician Name <span class="glyphicon sort-icon" ng-show="sortKey=='physician_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                  <th width="11%">Patient Name <span class="glyphicon sort-icon" ng-show="sortKey=='p_firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                  <th width="15%">Date Collected <span class="glyphicon sort-icon" ng-show="sortKey=='collection_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								 <th width="15%">Patient Address</th>
								 <th width="25%">Actions</th>
							</tr>
						</thead>
					
                        <tbody>
                          <tr class="odd" *ngFor="let specimens of mf.data">                   
                            <td valign="middle">
                              <div>{{specimens.assessioning_num}}</div>
                            </td>
                            <td valign="middle" >
                              <div>{{specimens.physician_name}}</div>
                            </td>
                            <td valign="middle" >
                              <div>{{specimens.p_firstname}} {{specimens.p_lastname}}</div>
                            </td>
                            <td valign="middle" >
                              <div>{{specimens.collection_date}}</div>
                            </td>
                            <td valign="middle" >
                              <div>{{specimens.patient_address}}</div>
                            </td>
                            <td>
                            <div class="buttonList1">
                            
                              <a class="blue-btn" *ngIf="specimens.count==='done'" routerLinkActive="active" routerLink="/add-specimen-report/{{specimens.id}}"><i class="fa glyphicon-plus"></i>  Add Specimen Report</a>
                              <p class="listed_style1" *ngIf="specimens.count==='pending'">Specimen All Stages aren't completed.</p>
                              
                              <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a>   
                            </div>
                            </td>
                          </tr>   
        <!-- <tr style="display: none" id="no_data_found"><td colspan="12">{{no_specimen_data}}</td></tr>		 -->
          </tbody>
          <tfoot>
          	<tr class="table_cls">
              <th width="15%">Accessioning Number</th>
              <th width="15%">Physician Name</th>
              <th width="15%">Patient Name</th>
              <th width="15%">Date Collected</th>
              <th width="15%">Patient Address</th>
              <th width="25%">Actions</th>
            </tr>
            <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
            </td>  
            
          </tfoot>
			 </table>
			 <div class="col-md-6"></div>
			  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimens_list.specimen_count}}</span></div></div>
       </div>
       </div>
		
		</div>
	
                     
   </div>


<!-- Modal -->
<div class="modal fade" id="stageTat" tabindex="-1" role="dialog" aria-labelledby="stageTatLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="table-container panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pending Specimen TAT</h3>
				</div>
				<table class="table table-striped" style="width: 100%;">   
				<thead>
				<tr>
				<th width="15%" class="listed_box shrt-acc"> # Accessioning Number</th>
				<th width="17%" class="listed_box">
				<div class="listed_txt">Status</div></th>
				</tr>
				</thead>
				<tbody id="tat">
				<tr *ngFor="let specimens of tatDetails">
				<td valign="middle"># {{specimens.accessioning_num}}
				</td>
				<td valign="middle">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.color1}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.status1}}</span>
				</td>
        </tr>
        <tr *ngIf="tatMsg"><td colspan="2">{{tatMsg}}</td></tr>

				</tbody>
				</table>

				</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

</div>