.box {
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    text-align: center;
}
.box, .doctor {
    width: 33%;
    float: left;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    margin-right: 10px;
    
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
        margin-bottom: 20px;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.no_padding3 {
    float: left;
    width: auto;
}
.table_cls {
    background: #34B6E6;
}
.table_cls th {
    color: #fff;
    font: 14px Lato;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
.table{border: 0;}
.blue-bg {
    background: #abd3e2;
    padding: 6px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 15px 0;
        clear: both;
}
.show_physician_list {margin-bottom: 20px;}
.show_physician_list span {    color: #34b6e6;}
.Red { color: Red}
