
/**10.9.19_css*/

.page_title{
    color: #444;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
    font-family: "Yanone Kaffeesatz";
    font-size: 44px;
    position: relative;
}

.page_title:after{
    position: absolute;
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
ul.bltt {
    list-style-type: disc;
    padding-left: 30px;
}
p.MsoNormal {
    color: #807d7d;
    font-size: 15px;
    line-height: 22px;
    font: 16px/24px Lato;
}
ul.bltt li{
    color: #807d7d;
    font-size: 15px;
    line-height: 22px;
    font: 16px/24px Lato;
}
p.undr strong {
    text-decoration: underline;
}