<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
<div class="container">
<div class="content-area col-md-4"></div>
<div id="primary" class="content-area col-md-8">
<h1>Suspended List</h1>
<form class="lwa-form" [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
<div class="specimen_border">
<div class="row">

 
  <div class="col-md-4 speciman_top specimen_bottom">
      <label>Physician Name:</label>
       
      <!-- <select class="" data-placeholder="Search Physician" formControlName="physician" >
       <option *ngFor="let physician of phy_data" value="{{physician.id}}">{{physician.physician_name}}</option>
      </select> -->
      <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
      <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
          <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
              {{group}}
              
          </mat-option>
        </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </div>

 <div class="col-md-4 speciman_top specimen_bottom">
  <label>Specimen Collected Date:</label>
   <!-- <input type="text" class="form-control datepicker" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
   <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" formControlName="date" id="datepicker" placeholder="MM/DD/YY"/>
</div>
<div class="col-md-4 speciman_top specimen_bottom">
   <label>Scan Specimen BarCode:</label>
   <input type="text" class="form-control datepicker" id="scan_code" placeholder="Scan Specimen BarCode" formControlName="barcode" >
</div>
</div> 
<div class="row">
<div class="col-md-4 speciman_top specimen_bottom">
 <label>Patient First Name:</label>
   <input type="text" class="form-control" id="patient_fname" placeholder="Patient First Name" formControlName="fname"/>
 </div>
 <div class="col-md-4 speciman_top specimen_bottom">
 <label>Patient Last Name:</label>
   <input type="text" class="form-control" id="patient_lname" placeholder="Patient Last Name" formControlName="lname" />
 </div>
<div class="col-md-4 speciman_top specimen_bottom">
 <label>Accessioning Number :</label>
   <input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number" formControlName="assessioning_num"/>
 </div>
 </div> 
<div class="row">
<div class="col-md-2 no_padding3">
  <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100">
  </div>
<div class="col-md-2 no_padding3">
  <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i> Reset</a> 
</div> 

</div>
</div> 
</form>

  <div class="table-container">
  <div id="sus_specimen_list_wrapper" class="dataTables_wrapper">
    <div class="dataTables_length" id="">
     
      
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
            <thead>
                <tr class="table_cls">
                
                  <th width="15%"><mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter></th>
                  <th width="10%"><mfDefaultSorter by="p_firstname">Patient Name</mfDefaultSorter></th>
                  <th width="10%"><mfDefaultSorter by="collection_date">Date Collected</mfDefaultSorter></th>
                  <th width="15%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter></th>
                  <th width="10%">Patient Address</th>
                  <th width="8%">Physician Sign the form?</th>
                  <th width="">Actions</th>
                </tr>
              </thead>    
            <tbody>
              <tr *ngFor="let suspend of mf.data" id="{{suspend.id}}" role="row" class="odd" >
                <td valign="middle" class="sorting_1">
                <div>
                  {{suspend.physician_name}}          				
                </div>
                </td>
                <td valign="middle">
                    <div>{{suspend.p_firstname}} {{suspend.p_lastname}}</div>
                </td>
                <td valign="middle">
                    <div>{{suspend.collection_date}}</div>
                </td>
                <td valign="middle">
                  <div id="assessioning_num">{{suspend.assessioning_num?suspend.assessioning_num:'Not Processed'}}</div>
                </td>  
                <td valign="middle">
                  <div>{{suspend.patient_address}}</div>
                </td>
                <td>
                  
                  <div id="status" *ngIf="suspend.physician_accepct==='1'">No</div>
                  <div id="status" *ngIf="suspend.physician_accepct==='0'">Yes</div>
                </td> 
                <td>
      <div class="buttonList1">
      <a class="blue-btn" routerLinkActive="active" routerLink="/view-specimen/{{suspend.id}}/general"><i class="fa fa-eye"></i> View</a>
                <a class="blue-btn" type="button" routerLinkActive="active" routerLink="/specimens-edit/{{suspend.id}}/suspendedEdit"><i class="fa fa-pencil-square-o"></i> Edit</a>

           <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(suspend.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a>   
      </div>
               </td>
              </tr>
              <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>
          </tbody>
          <tfoot>
            <tr class="table_cls">
              
              <th width="15%">Physician Name</th>
              <th width="10%">Patient Name</th>
              <th width="10%">Date Collected</th>
              <th width="15%">Accessioning Number</th>
              <th width="10%">Patient Address</th>
              <th width="8%">Physician Sign the form? </th>
              <th width="23%">Actions</th>
            </tr>
            <td colspan="7">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
            </td> 
          </tfoot>    
          
        </table>
      <div class="show_physician_list">Total Number of Specimen <span>{{postsArray.count}}</span></div>
    </div>
  
</div>
</div>
</div>

</div>
</div>
</div>