@media screen and (min-width: 56.875em){
    .content-area {
        width: 100%;
        padding-left: 0;
    }
    }
    .content-area h1{
        color: #444;
        font-weight: 400;
        font-size: 44px; font-family: "Yanone Kaffeesatz";
        margin: 0 0 20px;
        padding: 0 0 4px;
        text-transform: capitalize;
        background: 0 0;
    }
    #wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
        display: block;
        margin: 5px 0 0;
        padding: 0;
        width: 9%;
        content: '';
        height: 3px;
        background: #34b6e6;
    }
    .specimen_border {
        border: 1px solid #ccc;
        padding: 17px 12px;
    }
    .specimen_bottom {
        margin-bottom: 15px;
    }
    .specimen_bottom label {
        color: #5c5c5c;
        float: left;
        font: 600 13px Lato;
        padding: 1.5% 1%;
        text-align: left;
        width: 46%;
    }
    .speciman_top .form-control {
        width: 52%;
        margin-left: 0;
    }
    
    .form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
        display: inline-block;
        vertical-align: middle;
    }
    input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
        background: #f7f7f7;
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        color: #999;
        padding: 8px;
        font-size: 12px!important;
    }
    .no_padding3 {
        float: left;
        width: auto;
    }
    #btnForgotPassword, #place_order, .btn, button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
        width: auto;
        background: #34b6e6!important;
        font-weight: 300 !important;
        font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
        border-radius: 2px;
        border: 0;
        padding: 5px 15px!important;
        color: #fff!important;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        height: 33px;
    }
    .order_tab, .table_bg, .users_list {
        background: #34B6E6;
    }
    .users_list th {
        color: #fff;
        font: 14px Lato!important;
    }
    pre, table, td, th {
        border: 1px solid #d1d1d1;
    }
    .blue-btn {
        background: #34b6e6;
        height: 33px;
        display: inline-block;
        color: #fff;
        padding: 2px 15px;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px; font-family: "Yanone Kaffeesatz";
        line-height: 29px;
        margin-bottom: 0 !important;
        border: none;
    }
    
    input[type=button]{margin-bottom: 0 !important;}
    
    .show_physician_list span {
        color: #34b6e6;
        font-size: 18px;
    }
    .table-container .show_physician_list {
        margin: 0 0 20px;
    }
    
    .show_physician_list {
        font-family: arial;
        font-size: 16px;
        margin: 0 0 .75em;
        padding: 0;
        text-align: right;
    }
    .table {border: 0 !important;}
    button, button[disabled]:focus, button[disabled]:hover, input[type=button], input[type=button][disabled]:focus, input[type=button][disabled]:hover, input[type=reset], input[type=reset][disabled]:focus, input[type=reset][disabled]:hover, input[type=submit], input[type=submit][disabled]:focus, input[type=submit][disabled]:hover {
        background: #1a1a1a;
        border: 0;
        border-radius: 2px;
        color: #fff;
        font-family: Lato, "Helvetica Neue", sans-serif;
        font-weight: 700;
        letter-spacing: .046875em;
        line-height: 1;
        padding: .84375em 0.5em .78125em;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-right: 4px;
    }
    .ng-star-inserted {border: none !important;}
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    a.blue-btn:focus {
        background: rgb(164, 191, 201);
    }