<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Archive PCR Submitted Reports</h1>
      <div class="row">
        <!-- <div class="col-md-3">
       
       <cm-pcr-left-menu></cm-pcr-left-menu>
       
       </div> -->
        <div class="col-md-12">
          <div class="table-container">
            <h4>Accessioning # Generated Report</h4>
            <form action="" method="post">
              <div class="table-container">
                <p style="float: right;"> Seacrch By Accessioning Number: <input type="text"
                    (keyup)='search($event.target.value)'></p>
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
                  style="width: 100%;">
                  <thead>
                    <tr class="table_cls">
                      <th width="50%">
                        <mfDefaultSorter by="accessioning_num">Accessioning Number</mfDefaultSorter>
                      </th>
                      <th width="50%">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="specimens_list">
                    <tr class="odd" *ngFor="let specimens of mf.data">
                      <td valign="middle">
                        <div>{{specimens.accessioning_num}}</div>
                      </td>
                      <td>
                        <div class="buttonList1">
                          <a href="{{url}}pcr_report_pdf/{{specimens.report_pdf_name}}" class="blue-btn" target="_blank"
                            *ngIf="specimens.report_pdf_name"><i class="fa fa-eye"></i> View PCR Report</a>
                          <span *ngIf="!specimens.report_pdf_name"
                            style="color:red; font-weight: bold; text-shadow: none;">Report Canceled<br /> </span>
                          <span *ngIf="!specimens.report_pdf_name">Canceled Reason:
                            {{specimens.cancelled_reason}}</span>

                        </div>
                      </td>
                    </tr>
                    <tr class="odd" *ngIf="no_data_status">
                      <td colspan="5">{{no_data}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="table_cls">
                      <th width="50%">Accessioning Number</th>
                      <th width="50%">Actions</th>
                    </tr>
                    <td colspan="7">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                    </td>

                  </tfoot>
                </table>
                <div class="col-md-6 pull-right">
                  <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>
                      {{specimen_count}}</span></div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>