<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
        <div id="primary" class="content-area col-md-12">
    <h1>Archive Documents</h1>
    <div class="row">
     <!-- <div class="col-md-3">
     
     <cm-pcr-left-menu></cm-pcr-left-menu>
     
     </div> -->
     <div class="col-md-12">
        <h3>Upload File</h3>
      <input #uploadFile type="file" name="files" id="jsonFile" (change)="incomingfile($event)" />
      <div class='exportExcel'>
        <a href="javascript:void(0);" (click)="fileUpload()" class="blue-btn">Submit</a>
    </div>
        <div class="table-container">
           <p style="float: right;">Seacrch By File Name: <input type="text" (keyup)='search($event.target.value)'></p> 
          <h3>Uploaded Documents</h3>
          <form action="" method="post">
              <div class="table-container">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
                  <thead>
                    <tr class="table_cls">
                    <th width="50%"><mfDefaultSorter by="file_name">File Name</mfDefaultSorter></th>
                    <th width="40%"><mfDefaultSorter by="created_date">Uploaded Date</mfDefaultSorter></th>
                    <th width="10%">Action</th>
                    </tr>
                  </thead>               
                  <tbody id="specimens_list">         
                    <tr class="odd" *ngFor="let specimens of mf.data">                  
                      <td valign="middle">
                        <div>
                          <img *ngIf="specimens.ext==='pdf'" src="assets/images/pdf.png" width="35px;" height="34px;">
                          <img *ngIf="specimens.ext==='doc' || specimens.ext==='docx'" src="assets/images/default.png" width="35px;" height="34px;">
                          <img *ngIf="specimens.ext==='xls' || specimens.ext==='xlsx' || specimens.ext==='csv' || specimens.ext==='eds'" src="assets/images/excel.jpg" width="35px;" height="34px;">
                          <a href="{{url}}archive_files/{{specimens.file_name}}" download target="_blank">{{specimens.file_name}}
                          </a>
                        </div>
                      </td>
                      
                      <td valign="middle">
                          <div>{{specimens.created_date.substring(0,10)}}</div>
                        </td>
                      <td>
                      <div class="buttonList1">
                        <a href="javascript:void(0);" class="blue-btn" (click)="deleteArchiveFile(specimens.id)">Delete</a> 
                      </div>
                      </td>
                    </tr>     
                    <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
                  </tbody>
                  <tfoot>
                    <tr class="table_cls">
                        <th width="50%"><mfDefaultSorter by="accessioning_num">File Name</mfDefaultSorter></th>
                        <th width="40%">Uploaded Date</th>
                        <th width="10%">Action</th>
                    </tr>
                    <td colspan="7">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                    </td>  
                    
                  </tfoot>
                  </table>
                  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimen_count}}</span></div></div>
                </div>
              </form>
        
        </div>
       </div>
      </div>
     </div>
   </div>
</div>