.left-box-stl {
    background: #34b6e6;
    border: 1px solid #34b6e6;
}
ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}
.left-box-stl ul li.active {
    width: 100%;
    background: #fff;
}

.left-box-stl ul li {
    border-bottom: 1px solid #98d3e9;
}
li {
    list-style: none;
}
.left-box-stl ul li.active a {
    color: #34b6e6;
}

.left-box-stl ul li a {
    color: #fff;
    padding: 13px 10px;
    display: block;
    font: 400 16px 'Lato';
}
a:focus, a:hover {
    text-decoration: none;
}
.left-box-stl ul li.active a {
    color: #34b6e6;
}
.left-box-stl ul li.active {
    width: 100%;
    background: #fff;
}

.left-box-stl ul li:hover {
    background: #fff;
}
.left-box-stl ul li.active a {
    color: #34b6e6;
}

.left-box-stl ul li:hover a {
    color: #34b6e6;
}
tbody td, thead th, tfoot tr th {
    border: 1px solid #d1d1d1;
}
