<cm-navbar></cm-navbar>
<div class="content-wrap">
	<div class="container">
        <div id="primary" class="content-area col-md-12">
		<h1>Delivery to Pcr</h1>
		<div class="row">
		 <div class="col-md-3">
		 
				<cm-pcr-left-menu></cm-pcr-left-menu>
		 
		 </div>
		 <div class="col-md-9">
		<form class="lwa-form" [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
			<div class="specimen_border">
					<div class="row">
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Physician Name:</label>
							<!-- <select name="physician_id" class="chzn-select" data-placeholder="Search Physician" id="physician">
							
							</select> -->
							<input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
							<mat-form-field class="example-full-width">
							<input type="text" placeholder="" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
							<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
									<mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
								<mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
									{{group}}
									
								</mat-option>
							</mat-optgroup>
							</mat-autocomplete>
							</mat-form-field>
						</div>
						
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan Barcode:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Scan BarCode" formControlName="barcode">
						</div>
							<div class="col-md-4 speciman_top specimen_bottom">
							<label>Accessioning No. :</label>
							<input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number" formControlName="assessioning_num"/>
						</div>
					</div> 
				 
					<div class="row">
					    <div class="col-md-2 no_padding3">
								<a href="javascript:void(0));" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>  Reset</a> 
						</div> 
						<div class="col-md-2 no_padding3">
							<input type="submit" name="search_filter" value="Search" id="submit" class="form-control"/>
						</div>
					
						<div class="col-md-2 no_padding3">
							<!-- <input type="submit" name="load_more" value="Load All" id="loadmore" class="form-control"/> -->
							<input type="button" name="wp-submit" id="lwa_wp-submit" value="Load All" class="reset_button" (click)="load_all()">
						</div>
						
					</div>
				</div> 
			</form>
		    <div class="table-container">

				 <form action="" method="post">
						<div class="table-container">
						  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
								<thead>
								  <tr class="table_cls">
									<th width="20%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter></th>
									<th width="30%"><mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter></th>
									<th width="95%"><mfDefaultSorter by="assessioning_num">Actions</mfDefaultSorter></th>
								  </tr>
								</thead>               
								<tbody id="specimens_list">         
								  <tr class="odd" *ngFor="let specimens of mf.data">                   
									  <td valign="middle">
										  <div>{{specimens.assessioning_num}}</div>
									  </td>
									  <td valign="middle" >
										  <div>{{specimens.physician_name}}</div>
									  </td>
									  <td>
										<div class="buttonList1">
										  <a class="blue-btn" routerLinkActive="active" routerLink="/view-specimen/{{specimens.id}}"><i class="fa fa-eye"></i> View</a>
										  <a href="javascript:void(0);" class="blue-btn" (click)="displayProcessStage(specimens.id)"><i class="fa fa-eye"></i> Process Stage</a>
										  <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a>   
										</div>
									  </td>
									</tr>     
									<tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
								</tbody>
								<tfoot>
								  <tr class="table_cls">
									<th width="20%">Accessioning Number</th>
									<th width="30%">Physician Name</th>
									<th width="95%">Actions</th>
								  </tr>
								  <td colspan="7">
									<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
								  </td>  
								  
								</tfoot>
							  </table>
							  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimens_list.specimen_count}}</span></div></div>
							  <ng-template #customLoadingTemplate>
								  <div class="custom-class">
									  <h3>
										  Loading...
									  </h3>
									 
								  </div>
							  </ng-template>
							  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
						  </div>
						</form>
			  
		 	 </div>
		   </div>
	    </div>
     </div>
   </div>
</div>