#primary h1 {
    color: #444;
   font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#primary h1:after{
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 17px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    margin-right: 10px;
}
.no_padding3 {
    float: left;
    width: auto;
}
.ability_titl {margin-top: 40px;}
.ability_titl .panel-title { font-size: 20px;}
pre, table, td, th { border: 1px solid #d1d1d1;}
.listed_box { vertical-align: top!important;}
.listed_txt { margin-top: 15px; font-weight: 400;}
.listed_style2 { color: #ff5e5e;}
.listed_style, .listed_style1, .listed_style2, .report_done { font-size: 14px; font-weight: 600;}
.blue-btn {
    background: #34b6e6;
    height: 33px;
    display: inline-block;
    color: #fff;
    padding: 0px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px; font-family: "Yanone Kaffeesatz";
    line-height: 35px;
        cursor: pointer;
        display: inherit;
}
.pagi a.active {
    background: #337ab7;
    color: #fff;
}

.pagi > a:first-child {
    display: block !important;
}
.pagi > .active {
    display: block !important;
}
.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.pagi a {
    
    text-align: center;
    float: left;
    margin-right: 5px;
    padding: 2px 10px;
}
.pagi > a.active + a {
    display: block !important;
}

.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.table-container .show_physician_list {
    margin: 0 0;
}

.show_physician_list {
    font-family: arial;
    font-size: 16px;
    margin: 0 0 .75em;
    padding: 0;
    text-align: right;
    padding: 10px;
}
.show_physician_list span {
    color: #34b6e6;
    font-size: 18px;
}
.track-modal button.close {
    position: absolute;
    z-index: 9;
    right: 0;
    background: #34b6e6;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    padding: 5px 6px;
    border-radius: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{padding: 5px;vertical-align: middle;}
.pcr-stage-cls {border-radius: 2px; color: #fff; width: 100px; padding: 6px 0;background: #34b6e6!important;font-weight: 300 !important;font-size: 17px !important;font-family: "Yanone Kaffeesatz"!important;text-transform:uppercase;text-align: center;}

.new_g.green, .new.red {
    width: 50%;
   
}
.green, .red {
    width: 25%;
    border-radius: 5px;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.regular-radio {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.red .regular-radio+label {
    background-color: #090;
}

.new_g.green label, .new.red label {
    font: 500 20px/65px 'Lato';
    cursor: pointer;
}
.green label, .red label {
    font: 500 20px/150px Lato;
}
.regular-radio+label {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font: 500 33px/200px Lato;
}
.red_hot a, .regular-radio+label, .save_radio+label, h2.frm-hrd {
    text-transform: uppercase;
}
label {
    width: 17%;
    font: 600 13px Lato;
    color: #5c5c5c;
}
.filter_value, label {
    float: left;
    text-align: left;
}
.regular-radio:checked + label {
    background-color: #e9ecee !important;
    color: #99a1a7 !important;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1), inset 0 0 10px rgba(0, 0, 0, .1);
}

.green .regular-radio+label {
    background-color: red;
}
.new_g.green label, .new.red label {
    font: 500 20px/65px 'Lato';
    cursor: pointer;
}
.modal-body {
    position: relative;
    padding: 15px;
    float: left;
    width: 100%;
    
}
.close-btn {
    background: #34b6e6 none repeat scroll 0 0;
    text-align: right;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
textarea.form-control {
    height: 80px;
    margin-bottom: 15px;
}
#submit_process {
    float: left;
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-family: "Yanone Kaffeesatz"!important;
    font-size: 18px !important;
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    
}
.bg-info {
    padding: 15px;
    position: relative;
}

.read {
    background-color: #f2dede !important;
    color: #000 !important;
}
.close-bt {
    position: absolute;
    bottom: 13px;
    right: 10px;
}
.new-backbtn1 {
    float: left;
    clear: both;
    background: #34b6e6 !important;
    padding: 6px 13px!important;
    font-weight: 300 !important;
    font-size: 15px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Yanone Kaffeesatz !important;
    margin-right: 15px;
}

