<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider_cntent"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrap">
    <div class="container">

      <div id="primary" class="content-area col-md-12">

        <div id="registration-form" class="form">

          <form name="pay" method="post" action="{{APIurl}}pay" id="pay" novalidate="novalidate">
            <div class="bg-primary heading">Pay Online</div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>First Name :<span>*</span></label>
                <input type="text" name="First_Name" id="CustRefID1" value="" placeholder="First Name"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Last Name :<span>*</span></label>
                <input type="text" name="Last_Name" id="CustRefID2" class="form-control" value=""
                  placeholder="Last Name">
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Email :<span>*</span></label>
                <input type="email" name="Email" class="form-control" id="Email" value="" placeholder="Email">
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>State : </label>
                <select id="State" name="State" class="form-control">
                  <option value="">-Select-</option>
                  <option value="AK">AK</option>
                  <option value="AL">AL</option>
                  <option value="AR">AR</option>
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VA">VA</option>
                  <option value="VT">VT</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Address : </label>
                <textarea name="Address1" class="form-control" id="Address1" placeholder="Address"></textarea>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Address 2 : </label>
                <textarea name="Address2" class="form-control" id="Address2" placeholder="Address 2"></textarea>
              </div>
            </div>


            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>City : </label>
                <input type="text" name="City" class="form-control" id="City" value="" placeholder="City">
              </div>
            </div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Zip :<span>*</span></label>
                <input type="text" name="Zip" class="form-control" id="Zip" value="" placeholder="Zip">
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Phone Number :</label>
                <input type="text" name="PhoneNumber" class="form-control" id="mobile" value=""
                  placeholder="PhoneNumber">
              </div>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="col-md-2 no_padding1" style="margin-top:25px;">
              <input type="submit" class="btn btn-primary" name="submit" value="Update Details">
            </div>
            <div class="clear">&nbsp;</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>