<cm-navbar></cm-navbar>
<div id="content" class="site-content">
    <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
 <div class="container">
     <div class="row">
         <div class="col-md-12">
             <div class="slider_cntent"></div>
         </div>
     </div>
 </div>
</div>	                  

<div id="primary" class="content-area">
<main id="main" class="site-main" role="main">

<div class="inner_page">
 <div class="container">
     <div class="row">
           <div class="col-md-12">
               <span class="lwa-title">Log In</span>	<div class="lwa lwa-default">        
<form class="lwa-form" [formGroup]="loginForm" (ngSubmit) = "onSubmit()">
<div>
<span class="lwa-status"></span>
<div class="alert alert-success alert-dismissible" *ngIf = "!errorMessage">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
Username or Password cannot be blank!</div>
<div class="alert alert-success alert-dismissible" *ngIf = "!captchaErrorMessage">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
Captcha cannot be blank!</div>
<div class="alert alert-success alert-dismissible" *ngIf = "!wrongmsg">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
Username or Password mismatched!</div>
<div class="alert alert-success alert-dismissible" *ngIf = "message">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
Logged Out Successfully!</div>
<table>
   <tbody><tr class="lwa-username">
       <td class="lwa-username-label">
           <label>Username</label>
       </td>
       <td class="lwa-username-input">
<input type="text" formControlName="username">
<div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">

 <div class="error" *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
   <p>Username is required!</p>
 </div>
</div>
        
       </td>
   </tr>
   <tr class="lwa-password">
       <td class="lwa-password-label">
           <label>Password</label>
       </td>
       <td class="lwa-password-input">
<input type="password" formControlName="password">
<div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">

 <div class="error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
   <p>Password is required!</p>
 </div>
</div>
       </td>
   </tr>
   <tr> <td colspan="5" class="lwa-password-input">
        <ngx-recaptcha2 #captchaElem
        [siteKey]="siteKey"
        (success)="handleSuccess($event)"
        [useGlobalDomain]="false"
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </td></tr>
   <tr class="lwa-submit">
       <td class="lwa-submit-button">
           <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Log In" tabindex="100">
          
</td>

   </tr>
   
</tbody>
</table>
</div>
</form>
</div>                        
</div>
       </div>
   </div>
</div>

</main>
</div>
</div>