.inner_banner {
    min-height: 350px;
    background-size: cover!important;
    margin-bottom: 30px;
}
.login-action-login #loginform,
				.login-action-lostpassword #lostpasswordform,
				.login-action-register #registerform {
					width: 302px !important;
				}
				#login_error,
				.message {
					width: 322px !important;
				}
				.login-action-login #loginform .gglcptch,
				.login-action-lostpassword #lostpasswordform .gglcptch,
				.login-action-register #registerform .gglcptch {
					margin-bottom: 10px;
}
.lwa-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #444;
    display: block;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 auto 20px;
    padding: 0 0 4px;
    text-align: center;
    text-transform: capitalize;
}
.lwa-title:after {
    background: #34b6e6 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 5px auto 0;
    padding: 0;
    right: 0;
    text-align: center;
    width: 9%;
}
.lwa-username .lwa-username-label, .lwa-password-label {
    width: 24%;
}

.lwa .lwa-username-label, .lwa .lwa-password-label {
    /* padding-right: 10px; */
    vertical-align: middle;
}
.lwa-username .lwa-username-label label, .lwa-password .lwa-password-label label {
    width: 100%;
}

label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}
.filter_value, label {
    float: left;
    text-align: left;
}
.lwa td {
    padding-top: 7px;
    vertical-align: top;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 17px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    padding: 6px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}

.lwa-password input, .lwa-username input, .lwa-email input, .lwa-remember-email input {
    margin: 0px;
    width: 99.7%;
    padding-left: 2%;
    padding-right: 2%;
}
.inner_page {
    min-height: 300px;
    padding: 0 0 60px;
}

.lwa {
    width:30%;
    margin: 0 auto;
    border: 1px dashed #ccc;
    padding: 14px;
    }
    .lwa-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #444;
    display: block;
    font: 400 44px "Yanone Kaffeesatz";
    margin: 0 auto 20px;
    padding: 0 0 4px;
    text-align: center;
    text-transform: capitalize;
    
    }
    
    .lwa-title:after{
    background: #34b6e6 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 5px auto 0;
    padding: 0;
    right: 0;
    text-align: center;
    width: 9%;
    
    }
    .lwa-username {
    margin: 15px auto;
    width: 100%;
    }
    .lwa-username .lwa-username-label, .lwa-password-label {
    width: 24%;
    }
    .lwa-username .lwa-username-label label, .lwa-password .lwa-password-label label {
    width: 100%;
    }
    .lwa-password, .lwa-submit {
    background:none !important;
    }
    .lwa-submit .lwa-submit-button {
    display: block;
    text-align: center;
    }
    .lwa-submit-links {
    display:none;
    }