.inner_banner {
    min-height: 350px;
    background-size: cover!important;
    margin-bottom: 30px;
}
.inner_page {
    min-height: 300px;
    padding: 0 0 60px;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
    font-family: "Yanone Kaffeesatz";
    font-size: 44px;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.frm_rw {
    width: 90%;
}
.contact_form .frm_rw .frm_blk {
    clear: both;
    display: inline-block;
    width: 100%;
}

.frm_rw .frm_blk {
    margin-bottom: 10px;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
    float: left;
}
.contact_form .frm_fld {
    float: left;
    width: 75%;
}
.contact_form input[type=text], .contact_form input[type=email], .contact_form textarea {
    width: 100%;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.contact_form input[type=text], .contact_form input[type=email], .contact_form textarea {
    width: 100%;
}

.frm_rw textarea {
    height: 120px;
   
}
.btn_blk {
    padding: 15px 0 0;
    width: 25%;
}
.btn_blk input[type=submit] {
    width: 100%;
    background: #34b6e6;
    font-weight: 300;
    padding: 5px 0;
    font-size: 32px;
    font-family: "Yanone Kaffeesatz";
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font: 300!important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    font-family: "Yanone Kaffeesatz" !important;
    font-size: 18px !important;
}
.contact_info {
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 3% 4.5%;
    margin: 0;
}
.contact_info h4 {
    color: #444;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px dotted #ccc;
    font-size: 32px; font-family:"Yanone Kaffeesatz"; 
}
.contact_info p {
    padding: 0;
    color: #5c5c5c;
    font: 400 20px/30px Lato;
    margin: 0;
}
.ma_location {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.ma_location iframe {
    width: 100%;
    height: 286px;
    margin: 0;
}
