.ability-pcr {
  font-size: 27px;
  margin: 20px 0 50px 0; 
  font-weight: 500;
  color: #000;
  position: relative;
}

.ability-pcr:after{
  position: absolute;
  display: block;
  top: 30px;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.according h3 {
  color: #36b7e6;
}
.according img{
  width: 100%;
  height: 278px;
}
.accordin h3 {
  color: #36b7e6;
}
.accordin2 h3 {
  color: #36b7e6;
  margin: 0;
}
.accordin3 h3 {
  color: #36b7e6;
}
.accordin4 h3 {
  color: #36b7e6;
}
.accordin5 h3 {
  color: #36b7e6;
  margin: 13px 0 15px 0;
}
.accordin5 .text-ty{
  color: #8c7d7d;
  font-size: 15px;
}
.according-text {
  margin-top: 15px;
  font-size: 15px;
  color: #807d7d;
}
.accordin2 p {
  font-size: 15px;
  line-height: 27px;
  color: #807d7d;
}
.accordin h3 {
  margin: 0 0 10px 0;
}
.accordin3 ul {
  list-style: disc;
  margin: 0 18px;
}
.accordin3 ul li {
  font-size: 15px;
  color: #807d7d;
}
.accordin p {
  margin: 0 0 10px 0;
  font-size: 15px;
  color: #807d7d;
}
.accordin2 img{
  width:60%;
}

.accordin4 {
  font-size: 15px;
  color: #807d7d;
}
.accordin5 {
  font-size: 15px;
  color: #807d7d;
  margin-bottom: 30px;
}

.content_pdf .clk_img {
  margin: 0 430px !important;
  margin: 20px auto !important;
  display:table;
  color: #8B0000 !important;
  font-weight: 700;
}
.clk_img_rpp {
  margin: 0 auto;
  display:block;
}