<cm-navbar></cm-navbar>
<style>
  .reflex_test p {
    line-height: 23px;
  }
</style>

<div class="container">
  <h1 class="ability-pcr">Ability’s PCR Respiratory Pathogen Panel (RPP) Test</h1>
</div>

<div class="according">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../abadmin/assets/uploads/Service/rpp/img_one.jpg" alt="img1">
      </div>
      <div class="col-md-9">
        <h3>According to the Centers for Disease Control and Prevention (CDC):</h3>
        <div class="row">
          <div class="col-md-12 according-text">
            <b>Influenza:</b> The number of annual cases of influenza illness during the 2017-2018 season was the highest it had been since 2009. The CDC estimates that 48.8 million people became sick with influenza, about 959,000 were hospitalized, and 79,400 died.
          </div>
          <div class="col-md-12 according-text">
            <b>RSV:</b>  on average there are 2.1 million outpatient visits and 57,527 hospitalizations in children under the age of 5, and 177,000 hospitalizations and 14,000 deaths in adults older than the age of 65.
          </div>
          <div class="col-md-12 according-text">
            <b>Common cold:</b> millions of cases of the common cold occur each year (typically caused by rhinoviruses, but also by other viruses included in the respiratory pathogen panel).
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="accordin">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>What we test for...</h3>
        <p>Our <b>respiratory pathogen panelis</b> a molecular test that detects the genetic material (RNA or DNA) of some of the more common pathogens. </p>
        <p>It can identify co-infections (more than one microbe causing infection) and identify microbes that might be missed with traditional testing, such as culture. Our panel can also identify subtypes or strains of microbes. Results of our respiratory pathogen panel may be available within 24-48 hours, compared to several days with some more traditional culture testing.</p>
      </div>
      <div class="col-md-4">
        <img src="../abadmin/assets/uploads/Service/rpp/img_two.jpg" alt="img1">
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="accordin2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>When to Order a RPP Test from Ability Diagnostics</h3>
        <p>Our RPP test can be ordered for patients who are seriously ill, hospitalized, or at an increased risk for a severe respiratory infection. Such presented symptoms are often combined with related complications or multiple physiologic co-infections. </p>
      </div>
      <div class="col-md-4">
        <img src="../abadmin/assets/uploads/Service/rpp/img_three.jpg" alt="img1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Viral respiratory infections caused by influenza A or B (the flu) and the respiratory syncytial virus(RSV) are largely seasonal in the United States, with the cold and flu season running from late fall through early spring. During each season, there are multiple strains of influenza and a variety of other viruses causing very similar flu-likesymptoms, making it difficult to diagnose the cause of infection based on symptoms and medical history alone. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>Practitioners may often suspect the causesof these pathogens based upon the season. Signs, symptoms and medical history-and in some cases recent travel can offer suspected diagnoses but will not allow for positive identification of the microbial pathogen, without testing.</p>
      </div>
      <div class="col-md-4">
        <img src="../abadmin/assets/uploads/Service/rpp/img_four.jpg" alt="img1">
      </div>
    </div>
  </div>
</div>

<div class="accordin3">
  <div class="container">
    <h3>Our Panel for RPP</h3>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>Acinetobacter baumanii</li>
          <li>Adenovirus HAdV-B	</li>
          <li>Aspergillus flavus, fumigatus, niger, terreus</li>
          <li>Bordetella pertussis, parapertusis, bronchiseptica</li>
          <li>Candida albicans, glabrata, parapsilosis, tropicalisCandida auris</li>
          <li>Chlamydia trachomatis</li>
          <li>Chlamydia pneumoniae</li>
          <li>Coronavirus (229E, NL63, OC43, and HKU1)</li>
          <li>COVID-19 Coronavirus (SARS-CoV-2)</li>
          <li> Enterobacter aerogenes, cloacae</li>
          <li>Enterovirus A, B, C</li>
          <li>Enterovirus D68</li>
          <li>Escherichia coli </li>
          <li>Haemophilus influenzae</li>
          <li>Human metapneumovirus</li>
          <li>Influenza virus A, B</li>
          <li>Klebsiella pneumoniae, oxytoca</li>
          <li>Legionella pneumophila</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>Moraxella catarrhalis</li>
          <li>Mycobacterium avium-intracellulare, </li>
          <li>kansasiiMycobacterium tuberculosis</li>
          <li>Mycoplasma pneumoniae</li>
          <li>Neisseria gonorrhoeae </li>
          <li>Parainfluenza virus (types 1, 2, 3, 4)</li>
          <li>Proteus mirabilis, vulgaris</li>
          <li>Pseudomonas aeruginosa</li>
          <li>Respiratory syncytial virus</li>
          <li>Rhinovirus A, C</li>
          <li>Rhizopus spp., Mucor spp. </li>
          <li>Serratia marcescens</li>
          <li>Staphylococcus aureus</li>
          <li>Staphylococcus spp.11</li>
          <li>Streptococcus agalactiae9</li>
          <li>Streptococcus pneumoniae</li>
          <li>Streptococcus pyogenes10</li>
          <li>Varicella zoster virus8</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
  
<div class="col-md-12 content_pdf">
 <p> </p>
  <p class="fl_center clk_img">Click on image to see full report</p>
  <p><a href="../abadmin/assets/uploads/Service/rpp/rpp_sample_report.pdf" target="_blank"> <img class="clk_img_rpp" src="../abadmin/assets/uploads/Service/rpp/rpp_report_image.jpg" alt="" width="1024px"> </a></p>
  <p class="fl_center clk_img">Click on image to see full report</p>
  <p> </p>

</div>

<div class="col-md-12 content_pdf">
  <p> </p>
   <p class="fl_center clk_img">Click on image to see full report</p>
   <p><a href="../abadmin/assets/uploads/Service/rpp/rpp_sample_report_disesse_coding.pdf" target="_blank"> <img class="clk_img_rpp" src="../abadmin/assets/uploads/Service/rpp/rpp_report_disesse_coding_image.jpg" alt="" width="1024px"> </a></p>
   <p class="fl_center clk_img">Click on image to see full report</p>
   <p> </p>
 
 </div>

<div class="accordin4">
  <div class="container">
    <h3>The Importance of Quantification with Ability’s PCR RPP Test </h3>
    <div class="row">
      <div class="col-md-12">
        <p>Viruses can be shed intermittently. The level of viral and bacterial quantification present within a tested respiratory sample can vary greatly during an infection. A negative result may mean that the microbe causing an infection was not present or not present in high enough numbers to be detected in the sample that was collected.</p>
      </div>
    </div>
  </div>
</div>

<div class="accordin5">
  <div class="container">
    <h3>From Dr. David Bolick, MD; Ability Diagnostics Lead Pathologist </h3>
    <div class="row">
      <div class="col-md-12">
        <p>“The Ability Diagnostics Respiratory Pathogen panel is the best solution that we have seen for detection and treatment pulmonary pathogens. It addresses the issues of medical misdiagnoses by providing accurate, precise, and rapid results. The assay detects 14 respiratory pathogens, consisting of 10 viruses and four bacteria. </p>
        <p>This respiratory panel significantly impacts issues of underdiagnosis and overutilization of less effective technologies. Reducing this diagnostic errors not only decreases risk to the health and safety of patients, but also significantly impacts the cost to the economy.”</p>
      </div>
    </div>
    <h3 class="text-ty">To schedule a call with Dr. Bolick to discuss our RPP panel and how PCR can assist your practice with respiratory diagnosing and antibiotic treatment options, please call us at 801-899-3828. </h3>
  </div>
</div>