.top_hdr {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
  background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0 1px 3px 2px #dfdede;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px;
}

.office_manager_hdr {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
  background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0 1px 3px 2px #dfdede;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px;
}

.office_manager_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

embed,
iframe,
img,
object,
video {
  vertical-align: middle;
  max-width: 100%;
}

.custom-logo-link {
  display: block;
}

.top_hdr ul {
  text-align: right;
  line-height: 0;
}

.top_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

.office_manager_hdr ul {
  text-align: right;
  line-height: 0;
}

.office_manager_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

img {
  height: auto;
}

.top_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.top_hdr ul li:first-child a:before {
  content: '\f023';
}

.top_hdr ul li:first-child a:before,
.top_hdr ul li:last-child a:before,
.top_hdr ul li:nth-child(2) a:before,
.top_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.top_hdr ul li:last-child a:before {
  content: '\f08b';
}

.main_mnu ul li:first-child,
.top_hdr ul li:first-child {
  margin: 0;
}

.main_mnu ul li {
  margin: 0 0 0 15px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.hdr_btm {
  /* padding: 31px 0 19px; */
  padding: 10px 0 0px;
}

.hdr_btm,
.main_mnu {
  margin: 0;
  display: block;
}

.main_mnu ul li a {
  color: #777;
  font: 400 20px/30px Lato;
  text-decoration: none;
}

.main_mnu {
  padding: 10px 0 0;
  text-align: right;
}

.top_menu li a.active,
.primary-menu li a.active {
  color: #34b6e6 !important;
}

.middle_hdr {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
  background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0 1px 3px 2px #dfdede;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px;
}

.middle_hdr ul {
  text-align: right;
  line-height: 0;
  margin: 0;
}

.main_mnu ul li:first-child {
  margin: 0;
}

.middle_hdr ul li,
.sub-menu:hover li ul li {
  position: relative;
}

.middle_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.middle_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

.middle_hdr ul li .sub-menu {
  background: #34b6e6;
  z-index: 99;
}

.middle_hdr ul {
  text-align: right;
  line-height: 0;
}

.middle_hdr ul li .sub-menu li {
  margin: 0;
}

.middle_hdr ul li .sub-menu li,
.middle_hdr ul li .sub-menu li ul {
  display: none;
  width: 215px;
  text-align: left;
  color: #fff;
  padding-left: 10px;
  line-height: 30px;
}

.main_mnu ul li:first-child,
.middle_hdr ul li:first-child {
  margin: 0;
}

.scl_cntct,
.middle_hdr ul li,
.middle_hdr ul li .sub-menu:hover li ul li {
  position: relative;
}

.middle_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.middle_hdr ul li:first-child a:before {
  content: '\f023';
}

.middle_hdr ul li:first-child a:before,
.middle_hdr ul li:last-child a:before,
.middle_hdr ul li:nth-child(2) a:before,
.middle_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}


.middle_hdr ul li:nth-child(2) a:before {
  content: '\f0f2';
}

.middle_hdr ul li:nth-child(3) a:before {
  content: '\f0f2';
}

.middle_hdr ul li.noteicon a:before {
  content: '\f249';
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.middle_hdr ul li:last-child a:before {
  content: '\f08b';
}

#menu-top-header-menu li .btn {
  padding: 0;
}

.middle_hdr .top_menu li:hover>.sub-menu li {
  display: block;
}

.sub-menu {
  position: absolute;
}

.sub-menu li a {
  color: #fff !important;
}

.sub-menu li a:hover {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}

.sub-menu li a:before {
  content: '\f054' !important;
  font-family: FontAwesome;
  font-size: 14px;
}


.labdoctor_hdr {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
  background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0 1px 3px 2px #dfdede;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px;
}

.custom-logo-link {
  display: block;
}

.labdoctor_hdr ul {
  text-align: right;
  line-height: 0;
}

.labdoctor_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

img {
  height: auto;
}

.labdoctor_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.labdoctor_hdr ul li:first-child a:before {
  content: '\f023';
}

.labdoctor_hdr ul li:first-child a:before,
.labdoctor_hdr ul li:last-child a:before,
.labdoctor_hdr ul li:nth-child(2) a:before,
.labdoctor_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.labdoctor_hdr ul li:last-child a:before {
  content: '\f08b';
}




.scl_cntct,
.labdoctor_hdr ul li,
.labdoctor_hdr ul li .sub-menu:hover li ul li {
  position: relative;
}

.labdoctor_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.labdoctor_hdr ul li:hover .sub-menu {
  position: absolute;
  left: 0;
  text-align: left;
  top: 30px;
  width: 210px;
  padding: 9px;
}

.labdoctor_hdr ul li .sub-menu {
  background: #34b6e6;
  z-index: 99;
}

.labdoctor_hdr ul {
  text-align: right;
  line-height: 0;
}

.labdoctor_hdr ul li:hover .sub-menu li {
  display: block;
  position: relative;
  line-height: 100%;
}

.labdoctor_hdr ul li .sub-menu li {
  margin: 0;
}


.labdoctor_hdr ul li .sub-menu li a {
  color: #fff;
  text-align: center;
}

.labdoctor_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

.labdoctor_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.labdoctor_hdr ul li .sub-menu li {
  margin: 0;
}

.labdoctor_hdr ul li .sub-menu li,
.labdoctor_hdr ul li .sub-menu li ul {
  display: none;
}

.labdoctor_hdr ul li:nth-child(2) a:before {
  content: '\f007';
}

.labdoctor_hdr ul li:first-child a:before,
.labdoctor_hdr ul li:last-child a:before,
.labdoctor_hdr ul li:nth-child(2) a:before,
.labdoctor_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.labdoctor_hdr ul li.noteicon a:before {
  content: '\f249';
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.office_manager_hdr ul li:hover .sub-menu {
  position: absolute;
  left: 0;
  text-align: left;
  top: 30px;
  width: 210px;
  padding: 9px;
}

.office_manager_hdr ul li .sub-menu {
  background: #34b6e6;
  z-index: 99;
}

.office_manager_hdr ul li {
  position: relative;
}

.office_manager_hdr ul li .sub-menu li {
  display: none;
}

.office_manager_hdr ul li:hover .sub-menu li {
  display: block;
  position: relative;
  line-height: 100%;
}

.office_manager_hdr ul li:first-child a:before {
  content: '\f023';
}

.office_manager_hdr ul li:first-child a:before,
.office_manager_hdr ul li:last-child a:before,
.office_manager_hdr ul li:nth-child(2) a:before,
.office_manager_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.office_manager_hdr ul li:nth-child(2) a:before {
  content: '\f0f2';
}

.office_manager_hdr ul li:nth-child(3) a:before {
  content: '\f007';
}

.office_manager_hdr ul li:last-child a:before {
  content: '\f08b';
}

.office_manager_hdr ul li.noteicon a:before {
  content: '\f249';
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.drop-sub:hover .drop-menu {
  display: block !important;
}


/*formenu-only-start*/
.data_entry_hdr ul li:hover .sub-menu {
  position: absolute;
  left: 0;
  text-align: left;
  top: 30px;
  width: 220px;
  padding: 9px;
}

.data_entry_hdr ul li .sub-menu {
  background: #34b6e6;
  z-index: 99;
}

.data_entry_hdr ul li {
  position: relative;
}

.data_entry_hdr ul li .sub-menu li {
  display: none;
}

.data_entry_hdr ul li:hover .sub-menu li {
  display: block;
  position: relative;
  line-height: 100%;
  margin-left: 0;
}

.data_entry_hdr ul li:first-child a:before {
  content: '\f023';
}

.data_entry_hdr ul li:first-child a:before,
.data_entry_hdr ul li:last-child a:before,
.data_entry_hdr ul li:nth-child(2) a:before,
.data_entry_hdr ul li:nth-child(3) a:before {
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.data_entry_hdr ul li:nth-child(2) a:before {
  content: '\f0f2';
}

.data_entry_hdr ul li:nth-child(3) a:before {
  content: '\f007';
}

.data_entry_hdr ul li:last-child a:before {
  content: '\f08b';
}

.data_entry_hdr ul li.noteicon a:before {
  content: '\f249';
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.data_entry_hdr {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
  background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0 1px 3px 2px #dfdede;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px;
}

.data_entry_hdr ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 12px;
  line-height: 0;
}

.data_entry_hdr ul {
  text-align: right;
  line-height: 0;
}

.data_entry_hdr ul li a {
  color: #777;
  font: 400 15px/30px Lato;
}

/*formenu-only-end*/
.acc-my:before {
  content: '\f007';
  font-family: FontAwesome;
  margin: 0 6px 0 0;
}

.top_nav_menu {
  padding-top: 5px;
}