<cm-navbar></cm-navbar>
	<div id="primary" class="container">
			<h1>Specimen Stages Processing</h1>
			<form  [formGroup]="searchForm" (ngSubmit) = "searchStages()">
				<div class="specimen_border">
					<div class="row">
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan BarCode/ Accessioning Number:</label>
							<input type="text" name="acc_no" class="form-control" value="" placeholder="Scan Specimen BarCode" formControlName="acc_no">
						</div>	
					</div>
					<div class="row">
						<div class="col-md-2 no_padding3">
						
							<input type="submit" value="Search" tabindex="100">
						</div>
						<div class="col-md-2 no_padding3">
							<input type="button" value="Reset" class="reset_button" (click)="resetForm()">
						</div>
					</div>
				</div>
      </form>
      <div style="display: table;margin: 20px auto;" *ngIf="!search_res">
      <span class="batch-label" style="margin: 0 5px 0 748px;"> Search By Accessioning Number:</span> <input style="float: right;" type="text" (keyup)='search($event.target.value)'>
    </div>
      <div class="panel panel-primary ability_titl" *ngIf="!search_res">
					<div class="panel-heading">
						<h3 class="panel-title"> Stage Process <br> <span>{{stage_name}}</span></h3>
					</div>
					
						<div class="table-container">
							<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
							<thead>
							<tr>
							<th width="60%" class="listed_box shrt-acc"> # <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter></th>
              <th width="40%" class="listed_box" *ngIf="st4">
              <div class="listed_txt">Status</div>
              </th>
              </tr>
		                    </thead>
<tbody>

<tr *ngFor="let specimens of mf.data">
<td valign="middle"># {{specimens.assessioning_num}}
		<!-- <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a> -->

</td>
<td valign="middle" *ngIf="st1 || st2 || st3 || st4">
<span *ngIf="stage_id == '1' && specimens.first_data==='Process Not Done'" class="listed_style2"> {{specimens.first_data}}</span>
<span *ngIf="stage_id == '2' && specimens.second_data==='Process Not Done'" class="listed_style2"> {{specimens.second_data}}</span>
<span *ngIf="stage_id == '3' && specimens.third_data==='Process Not Done'" class="listed_style2"> {{specimens.third_data}}</span>
<span *ngIf="stage_id == '4' && specimens.fourth_data==='Process Not Done'" class="listed_style2"> {{specimens.fourth_data}}</span>
</td>
</tr>
<td colspan="7">
	<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
  </td> 

</tbody>
</table>

<div style="margin-bottom: 20px;" class="show_physician_list"><a [routerLink]="['/listed-specimen-stages']" class="new-backbtn1">Back</a><div class="col-sm-5 load-spmn" *ngIf="load_btn"><input type="button" class="btn btn-blue exprt-btn" value="Load More" (click)="load_more()"> </div>Total Number of Specimen <span>{{spe_count}}</span></div>

</div>

</div>	


<div class="m-top" *ngIf="search_res">
    
  <form action="" id="specimen_stages" name="specimen_stages" class="specimen_width" [formGroup]="spe_next" (ngSubmit) = "onSubmit()">
   <div class = "panel panel-primary">
   <div class="panel-heading">
             <div id="accessioning_number">
             <h5>Accessioning Number: {{postsArray.spe_details?.assessioning_num}}</h5>
             </div>
             <h3 class="panel-title" id="title">Stage: {{postsArray.stage_data?.stage_name}} </h3>
   </div>    
  <div class="panel-body txt_cntr">
  <div class="row">
  
  <div class="col-md-3 red">
  
                      <input type="radio" id="pass" class="regular-radio big-radio stage_status" value="1" [(ngModel)]="pass" formControlName="pass">
                      <label for="pass">
                        Pass &amp; Save
                      </label>
    
    
  </div>
  <div class="col-md-3 green">
  
                     <input type="radio" id="fail" class="regular-radio big-radio stage_status" value="0" [(ngModel)]="pass" formControlName="pass">
                      <label for="fail">
                        Fail &amp; Send Report
                      </label>
  
    
  </div>
  
   <div class="col-md-6" *ngIf="clinical_info">
                    <!-- <div id="addtional_description">
                    <p class="add_des">
                      <textarea name="addtional_desc" placeholder="Gross Description" id="addtional_desc" class="form-control gross_des" [(ngModel)]="add_desc" formControlName="add_desc">{{showselected()}}{{showselectedsub()}}</textarea>
                    </p>
                    </div>
          
                    <div class="text-left">
                          <label>
                            <input value="Aggregate" id="aggregate" type="checkbox" [(ngModel)]="agg" formControlName="agg" (change)="AddToTextArea($event,'Aggregate')">Aggregate</label>
                          <label>
                            <input value="Submitted in toto" id="submitted" type="checkbox" [(ngModel)]="sub" formControlName="sub" (change)="AddToTextAreasub($event,'Submitted in toto')">Submitted
                          </label>
                          </div>
                    <div id="optional_comments">
                      <p class="gross_des">
                      <textarea name="comments" placeholder="Optional comments" id="comment" class="form-control gross_des" [(ngModel)]="comment" formControlName="comment"></textarea>
                      <span *ngIf="marked">Aggregate</span><span *ngIf="!marked"></span>  
                    </p>
                    </div>  -->
                    <div style="margin-bottom: 10px;display: flex;text-align: center;">
                      <label>Dimension:</label>
                      </div>
                     <div style="display: flex;width: 100%;">
                    
                     <div style="display: flex;width:32%;margin-right: 5px;" [ngClass]="displayFieldCss('xvalue')">
                       <label style="margin-right: 15px;margin-top: 7px;text-align: left;width: 2%;">X </label><input type="number" id="xvalue" class="form-control" formControlName="xvalue" autofocus [(ngModel)]="xvalue">
                      </div>
                      <app-field-error-display 
                      [displayError]="isFieldValid('xvalue')" 
                      errorMsg="X value required">
                    </app-field-error-display>
                       <div style="display: flex;width: 32%;margin-right: 5px;" [ngClass]="displayFieldCss('yvalue')">
                       <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Y </label><input type="number" id="yvalue" formControlName="yvalue" class="form-control" [(ngModel)]="yvalue">
                       </div>
                       <app-field-error-display 
                       [displayError]="isFieldValid('yvalue')" 
                       errorMsg="Y value required">
                     </app-field-error-display>
                       <div style="display: flex;width: 32%;" [ngClass]="displayFieldCss('zvalue')">
                       <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Z </label><input type="number" id="zvalue" formControlName="zvalue" class="form-control" [(ngModel)]="zvalue">
                       </div>
                       <app-field-error-display 
                       [displayError]="isFieldValid('zvalue')" 
                       errorMsg="Z value required">
                     </app-field-error-display>
                     </div>
                     <div id="addtional_description">
                      <div style="width: 100%;display: flex;margin-top: 20px;">
                      <div style="width: 8%;display: flex;" [ngClass]="displayFieldCss('color')">
                      <label style="width: 100%;margin-right: 5px;">Color:</label>
                      </div>
                      <app-field-error-display 
                       [displayError]="isFieldValid('color')" 
                       errorMsg="Color is required">
                     </app-field-error-display>
                      <div style="width: 100%;display: flex;margin-bottom: 20px;">
                      <input type="text" class="form-control" style="width: 100%;" placeholder="Color" id="color" formControlName="color" [(ngModel)]="color">
                        </div>
                        </div>
                      </div>
                      <div id="addtional_description" [ngClass]="displayFieldCss('pieces')">
                      <label>Pieces:</label>
                        <label>
                          <input type="radio" id="pieces1" value="1" formControlName="pieces" [(ngModel)]="pieces">1
                        </label>
                         <label>
                          <input type="radio" id="pieces2" value="2" formControlName="pieces" [(ngModel)]="pieces">2
                        </label>
                         <label>
                          <input type="radio" id="pieces3" value="3" formControlName="pieces" [(ngModel)]="pieces">3
                        </label>
                         <label>
                          <input type="radio" id="pieces4" value="multiple" formControlName="pieces" [(ngModel)]="pieces">Multiple
                        </label>
                      </div> 
                      <app-field-error-display 
                      [displayError]="isFieldValid('pieces')" 
                      errorMsg="Pieces is required">
                    </app-field-error-display>  
                      <div id="addtional_description">
                        <label>Tissue Type:</label>
                          <label>
                            <input type="radio" id="nail" value="nail" formControlName="tissue" [(ngModel)]="nail">Nail
                          </label>
                           <label>
                            <input type="radio" id="skin" value="skin" formControlName="tissue" [(ngModel)]="nail">Skin
                          </label>
                          
                        </div>
                        <div id="cassette-description">
                          <div style="width: 13%;display: inline-block;">
                            <label style="width: 100%;">Cassettes:</label>
                            </div>
                            <div style="width: 86%;display: inline-block;margin-bottom: 20px;" [ngClass]="displayFieldCss('cassettes')">
                          <input type="text" class="form-control"  style="width: 100%;" placeholder="Cassettes" id="cassettes" formControlName="cassettes" [(ngModel)]="cassettes">
                         
                            </div>
                            <app-field-error-display 
                            [displayError]="isFieldValid('cassettes')" 
                            errorMsg="Cassettes is required">
                          </app-field-error-display>
                          </div>
                          <div id="addtional_description">
                          <label class="toto-label">Submitted in toto:</label>
                          <label>
                            <input type="checkbox"  value="submitted in toto" id="submitted" formControlName="opt_sub">
                          </label>
                          </div>
                          <div id="addtional_description" class="histo-sec"  *ngIf="histo_chk!==''">
                          <label class="histo-name">
                            <input type="checkbox" value="histo" id="histo" (change)="show_histo()"  formControlName="histo">
                          </label>
                          <label class="histo-label">For Histo:</label>
                          <input type="text" id="histo_val"  formControlName="histo_val" [(ngModel)]="histo_val">
                          </div>
                          <div id="addtional_description" class="pcr-sec"  *ngIf="pcr_chk!==''">
                          <label class="pcr-name">
                            <input type="checkbox" value="pcr" id="pcr" (change)="show_pcr()" formControlName="pcr">
                          </label>
                          <label class="pcr-label">For PCR:</label>
                          <input type="text" id="pcr_val" formControlName="pcr_val" [(ngModel)]="pcr_val">
                          </div>
  
                          <div id="addtional_description" class="histo-sec" *ngIf="histo_chk===''">
                            <label class="histo-name">
                              <input type="checkbox" value="histo" id="histo" (change)="show_histo()"  formControlName="histo">
                            </label>
                            <label class="histo-label">For Histo:</label>
                            <input type="text" id="histo_val" *ngIf="histo_text"  formControlName="histo_val">
                            </div>
                          <div id="addtional_description" class="pcr-sec" *ngIf="pcr_chk===''">
                            <label class="pcr-name">
                              <input type="checkbox" value="pcr" id="pcr" (change)="show_pcr()" formControlName="pcr">
                            </label>
                            <label class="pcr-label">For PCR:</label>
                            <input type="text" id="pcr_val" *ngIf="pcr_text"  formControlName="pcr_val">
                          </div>
  </div>	
  <div class="clearfix"></div>
  <div  class="alert" *ngIf="pass_fail_msg">
    Please select any option!
   </div>
  <h2 class="frm-hrd" *ngIf="clinical_info">Clinical Information</h2>	
  <div style="float:left; padding:0; width:62px;margin-left: 14px;" *ngIf="clinical_info"><strong>Location: </strong></div>
  <div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;" *ngIf="clinical_info">
    <span *ngFor="let clinic of postsArray.clinical_info; let i=index">
      {{clinic}}
  </span><br/>
  </div>
  
  <!-- <h2 class="frm-hrd" *ngIf="clinical_msg">Clinical Information</h2>	
  <div style="float:left; padding:0; width:62px; margin:0;" *ngIf="clinical_msg"><strong>Location: </strong></div>
  <div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;" *ngIf="clinical_msg">Right</div> -->
  
  <a [routerLink]="['/listed-specimen-stages']" class="new-backbtn">Back</a>
  <input class="mynew-btn" type="submit" id="save_next" name="save_next" value="Save"/>
  </div>	
    
  </div>      
  </div>
  </form>
  
      <div id="primary" class="content-area col-md-12">
      <div class="row">
       <div class="red_hot duddux">
  
        <div class = "panel panel-primary ability_titl">
              <div class = "panel-heading">
                <h3 class = "panel-title"> SPECIMEN STATUS </h3>
              </div>
              <div class = "panel-body">
                <div class="table-container">
                  <table class="table table-striped listing_table doodle" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th width="20%">Stage</th>
                        <th width="8%">Pass/Fail</th>
                        <th width="16%">Timestamp</th>
                        <th width="10%">Lab Tech</th>
                        <th width="20%">Comments </th>
                        <th width="15%">Additional Description</th>
                        <!-- <th width="10%">All in this stage</th> -->
                      </tr>
                    </thead>
                    <tbody>
                   
                      <tr *ngFor="let specimens of postsArray.stage_time">
                          <td valign="middle">
                              {{specimens.stage_name}}</td>
                             <td valign="middle" id="validate_1" class="{{specimens.pass_fail}}">
                              
                             </td>
                             <td valign="middle">
                               {{specimens.specimen_timestamp}}<br/>        	
                             </td>
                             <td>
                               {{specimens.physician_name}}</td>
                             <td>
                                 {{specimens.comments}}     
                             </td>
                             <td valign="middle">
                                 {{specimens.addtional_desc}}
                             </td>
                             <!-- <td valign="middle">
                               <div class="vw">
                                 <a href="" id="stage_view_1"> view </a>
                               </div>
                             </td> -->
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
  </div>
      </div>
      
      </div>
</div>	
