#primary h1 {
    color: #444;
   font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#primary h1:after{
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 17px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
.no_padding3 {
    float: left;
    width: auto;
}
.ability_titl {margin-top: 40px;}
.ability_titl .panel-title { font-size: 20px;}
pre, table, td, th { border: 1px solid #d1d1d1;}
.listed_box { vertical-align: top!important;}
.listed_txt { margin-top: 15px; font-weight: 400;}
.listed_style2 { color: #ff5e5e;}
.listed_style3 { font-size: 14px;font-weight: 600;color:green}
.listed_style, .listed_style1, .listed_style2, .report_done { font-size: 14px; font-weight: 600;}
.blue-btn {
    background: #34b6e6;
    height: 33px;
    display: inline-block;
    color: #fff;
    padding: 0px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px; font-family: "Yanone Kaffeesatz";
    line-height: 35px;
        cursor: pointer;
        display: inherit;
}
.pagi a.active {
    background: #337ab7;
    color: #fff;
}

.pagi > a:first-child {
    display: block !important;
}
.pagi > .active {
    display: block !important;
}
.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.pagi a {
    
    text-align: center;
    float: left;
    margin-right: 5px;
    padding: 2px 10px;
}
.pagi > a.active + a {
    display: block !important;
}

.pagi a {
    padding: 2px 10px;
    background: #34B6E6;
    color: #fff;
}
.table-container .show_physician_list {
    margin: 0 0;
}

.show_physician_list {
    font-family: arial;
    font-size: 16px;
    margin: 0 0 .75em;
    padding: 0;
    text-align: right;
    padding: 10px;
}
.show_physician_list span {
    color: #34b6e6;
    font-size: 18px;
}
.track-modal button.close {
    position: absolute;
    z-index: 9;
    right: 0;
    background: #34b6e6;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    padding: 5px 6px;
    border-radius: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{padding: 5px;}

.load-spmn {text-align: left; margin-bottom: 20px; float: left; padding: 0;}







/*new css*/
.panel-heading {
    background: #34b6e6;
    border: none;
}
#title {
    font: 500 30px/19px Lato;
    padding: 10px;
}
.txt_cntr {
    width: 100%;
    margin: 0 auto;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}

.filter_value, label {
    float: left;
    text-align: left;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}
.gross_des {
    height: 69px!important;
}
#optional_comments .gross_des {
    width: 100%;
    margin-top: 8px;
    background: none;
}
#optional_comments { clear: both; float: left;width: 100%;}
h2.frm-hrd {
    font-weight: 400;
    margin: 0;
    background: #34b6e6;
    padding: 8px 10px;
    color: #fff;
    font-size: 24px;
    clear: both;
    text-transform: uppercase;
}
.no_margin {
    margin-top: 0!important;
}
.no_padding3 {
    float: left;
    width: auto;
}
.no_padding, .no_padding1, .no_padding2 {
    padding-right: 50px;
    padding-left: 0;
}
.red_hot a {
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
}

.red_hot .panel-heading, .red_hot a {
    background: #34b6e6;
}
.ability_titl .panel-title {
    font-size: 20px;
}
.table > tbody > tr > td, .table > thead > tr > th {border: 1px solid #ddd !important;}
.mynew-btn{float: left;background: #34b6e6 !important;padding: 6px 13px!important;margin-left: 15px;font-family: Yanone Kaffeesatz !important;font-weight: 300 !important;font-size: 18px; border: none;color: #fff; text-transform: uppercase; border-radius: 4px; margin-top: 15px;}
.new-backbtn {
    float: left;
    clear: both;
    background: #34b6e6 !important;
    padding: 6px 13px!important;
    font-weight: 300 !important;
    font-size: 15px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Yanone Kaffeesatz !important;
    margin-top: 15px;
    margin-left: 15px;
}
.new-backbtn1 {
    float: left;
    clear: both;
    background: #34b6e6 !important;
    padding: 6px 13px!important;
    font-weight: 300 !important;
    font-size: 15px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Yanone Kaffeesatz !important;
    margin-right: 15px;
}
.green, .red {
    width: 25%;
    border-radius: 5px;
}
.regular-radio {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}
.red .regular-radio+label {
    background-color: #090;
}

.green label, .red label {
    font: 500 20px/150px Lato;
}
.regular-radio+label {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font: 500 33px/200px Lato;
}
.red_hot a, .regular-radio+label, .save_radio+label, h2.frm-hrd {
    text-transform: uppercase;
}
.regular-radio:checked + label {
    background-color: #e9ecee !important;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1), inset 0 0 10px rgba(0, 0, 0, .1);
}

.green .regular-radio+label {
    background-color: red;
}
.green label, .red label {
    font: 500 20px/150px Lato;
}
.regular-radio+label {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font: 500 18px/142px Lato;
}
.red_hot a, .regular-radio+label, .save_radio+label, h2.frm-hrd {
    text-transform: uppercase;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}
.filter_value, label {
    float: left;
    text-align: left;
}
.m-top { margin-top: 20px;}

.red_hot .ticked::before {
    content: "\f00c";
    color: green;
}
.red_hot .crossed::before {
    content: "\f00d";
    color:red;
}
.red_hot .crossed::before, .red_hot .ticked::before {
    font-family: FontAwesome;
    right: 30px;
    font-size: 30px;
}
.alert {color: #f00;}
#cassette-description {clear: both;}
#addtional_description label.toto-label {
    width: 22%;
}
#addtional_description.histo-sec {
    display: inline-block;
    width: 100%;
}
#addtional_description.histo-sec label.histo-name {
    width: 5%;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#addtional_description.pcr-sec {
    display: inline-block;
    width: 100%;
    margin-top: 10px; margin-bottom: 10px;
}
#addtional_description.pcr-sec label.pcr-name {
    width: 5%;
}

