<main>
    <!-- <cm-navbar></cm-navbar> -->
    <ngx-spinner
bdOpacity = 0.02
bdColor = "rgba(51, 51, 51, 0.6)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out-rapid"
fullScreen = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
    <router-outlet></router-outlet>
    <cm-growler position="top-right" timeout="2000"></cm-growler>
    <cm-modal></cm-modal>
    <cm-footer></cm-footer>
</main>
