.inner_banner {
  min-height: 350px;
  background-size: cover !important;
  margin-bottom: 30px;
}

.inner_banner .slider_cntent {
  padding: 0;
}

.slider_cntent {
  padding: 340px 0 0;
  max-width: 70%;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

@media screen and (min-width: 61.5625em) {

  .site-main {
    margin-bottom: 0;
  }
}

.warnty {
  width: 100%;
  margin: 3% 0 0;
  padding-bottom: 25px;
  border-bottom: #ccc dotted 1px;
  float: left;
}

.warnty .img {
  width: 27%;
  float: left;
}

.srvs_hldr .srvs_img img,
.warnty .img img {
  max-width: 100%;
}

img {
  height: auto;
}

.warnty h2 {
  width: 60%;
  float: left;
  margin: 0 0 0 3%;
  font: 700 26px Lato;
}

.content {
  width: 60%;
  float: left;
  margin: 1% 0 0 3%;
  font: 14px/17px Lato;
  color: #5c5c5c;
}

.warnty:last-child {
  border-bottom: 0;
}

.diseased-img {
  height: 181px;
}

.diseased-img img {
  height: 181px;
}

.service_lst h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato;
  color: #807d7d;
}

.histro_patho {
  margin: 30px 0px;
}

.histro_patho h5 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Lato;
}

.service_lst .content {
  margin-left: 0px;
}

.contnt p,
.contnt span {
  font-family: Lato;
  color: #807d7d;
  font-size: 15px;
  line-height: 22px;
  font: 16px/24px Lato;
}

.contnt h6 {
  font-family: Lato;
  color: #807d7d;
  font-weight: 600;
}

.contnt table th,
.contnt table td {
  font-family: Lato;
  color: #807d7d;
  font-size: 15px;
  line-height: 22px;
  font: 16px/24px Lato;
}

.content-area h1 {
  color: #444;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0 0 4px;
  text-transform: capitalize;
  background: 0 0;
  font-family: "Yanone Kaffeesatz";
  font-size: 44px;
}

.content-area h1:after {
  display: block;
  margin: 5px 0 0;
  padding: 0;
  width: 9%;
  content: '';
  height: 3px;
  background: #34b6e6;
}

.contnt h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato;
  margin: 30px 0px;
  color: #807d7d;
}

.diseased-nails h6 {
  font-size: 14px;
}

.pcr-pathogens table {
  font-family: Lato;
  font-size: 14px;
}

#myModal .modal-dialog {
  z-index: 9999;
}

#myModal .modal-content {
  background-color: transparent;
}

#myModal .modal-header {
  padding: 5px 0 0 0;
  border: none;
}

#myModal button.close {
  background: none !important;
  font-size: 50px !important;
  height: 30px;
  line-height: 30px;
}

#myModal .modal-dialog .popup_img {
  width: 100%;
}

.report-img {
  width: 100%;
  display: block;
  float: left;
}

.report-img a {
  float: left;
}

#myModal .modal-body {
  padding: 8px 15px 15px 15px;
}

.report-img a {
  cursor: pointer;
}

.histro-img a {
  cursor: pointer;
}

.report-img a {
  text-align: center;
  background: none;
  text-decoration: none;
}

.histro-img a {
  text-align: center;
  background: none;
  text-decoration: none;
  float: left;
}

.pcr_report {
  float: left;
  width: 100%;
  margin: 30px 0px 15px 0 !important;
}
/***** 09/08/2021 (PINTU) *****/
.site-main p {
  margin-top: 20px;
  color: #807d7d;
  font-family: 'Lato', sans-serif;
}
.content1 {
  font-size: 18px !important;
  font-family: 'Lato', sans-serif;
}
.site-main img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}
.content2 {
  padding: 5px 15px;
  margin: 20px 0 0 0;
}
.content2 h2 {
  font-weight: 500;
  font-size: 28px;
  color: #34B6E6;
}
.content2 p {
  font-size: 15px;
}
.content2_img {
  margin: 20px 0 0 0;
  width: 360px !important;
  height: 100% !important;
}
.content3 h2 {
  color: #34B6E6;
  margin: 50px 0 0 0;
  font-weight: 500;
  font-size: 28px;

}
.content3 ul {
  list-style: disc;
  margin: 10px 30px 0 30px;
  font-size: 15px;

}
.content3 ul li {
  margin: 10px 0px 10px 2px;
  color: #807d7d;
}
.content3 p {
  margin: 10px 0 0 0;
  font-size: 15px;

}
.content3 ol li {
  font-size: 15px;
  margin:0 0 10px 0;
  color: #807d7d;

}
.content4 {
  margin: 40px 0 0 0;
}
.content4_img {
  margin: 40px 0 0 0;
  width: 360px;
}
.content4 h2 {
  color: #34B6E6;
  font-weight: 500;
  font-size: 28px;
}
.content3 h3 {
  color: #34B6E6;
}
.content4 p {
  font-size: 15px;
}
.content5 h2 {
  color: #34B6E6;
  font-weight: 500;
  font-size: 28px;
}
.content5 h3 {
  font-size: 14px;
  color: #807d7d;
}
.content5 p {
  font-size: 15px;
}
.content6 h2 {
  color: #34B6E6;
  font-weight: 500;
  font-size: 28px;
}
.content6 p {
  font-size: 15px;
  color: #807d7d;
}

.clk_img {
  color: #8B0000 !important;
  margin: 0 0 10px 339px;
  font-size: 16px;
  font-weight: 600;
}
.content_pdf .clk_img {
  margin: 0 430px !important;
}
.bottom{
  margin-bottom: 50px !important;
}
.content_pdf img {
  display: block;
  margin: 0 auto;
}