<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">

      <div id="primary" class="content-area col-md-12">
        <h1>Full Specimen Tracking</h1>
        <form id="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-12 speciman_top">
                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number :</label>
                <input type="text" class="form-control" formControlName="acc_no" placeholder="Accessioning Number">
                <app-field-error-display [displayError]="isFieldValid('acc_no')"
                  errorMsg="Accessioning number required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 no_padding3">
                <button type="submit" class="btn reset_button" name="search_filter" id="submit" value="true"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2">
                <a href="javascript: void(0);" class="reset_button" (click)="resetForm()" title="Reset"><i
                    class="fa fa-repeat"></i> Reset</a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </form>
        <div class="histry-modal" role="dialog" data-backdrop="static" *ngIf="acc_no">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="acc_no"> <span>Accessioning Number :</span> {{postsArray.acc_no}}</div>
              <div class="modal-body">

                <div *ngIf="histo_modal">
                  <h3>Histo Specimen</h3>
                  <div class="track-list">
                    <ul>
                      <li class="active">Specimen Created
                        <div class="spctrk">
                          <p>{{postsArray.specimen_added_lab_name}}</p>
                          <p>{{postsArray.specimen_created_date}}</p>
                        </div>
                      </li>

                      <li class="active">QC Confirmation
                        <div class="spctrk">
                          <p>{{postsArray.qc_check_lab_name}}</p>
                          <p>{{postsArray.qc_check_specimen_modify_date}}</p>
                        </div>
                      </li>
                      <li class="active">Delivery to Lab
                        <label>Histo Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.stage1_lab_tech_name}}</p>
                          <p>{{postsArray.stage1_complete_date}}</p>
                        </div>
                      </li>
                      <li class="active">Gross
                        <label>Histo Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.stage2_lab_tech_name}}</p>
                          <p>{{postsArray.stage2_complete_date}}</p>
                        </div>
                      </li>
                      <li class="active">Microtomy
                        <label>Histo Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.stage3_lab_tech_name}}</p>
                          <p>{{postsArray.stage3_complete_date}}</p>
                        </div>
                      </li>
                      <li class="active">QC Check
                        <label>Histo Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.stage4_lab_tech_name}}</p>
                          <p>{{postsArray.stage4_complete_date}}</p>
                        </div>
                      </li>
                      <li class="active">Report Generated
                        <div class="spctrk">
                          <p>{{postsArray.report_generate_details}}</p>
                          <p>{{postsArray.report_generate_date}}</p>
                        </div>

                      </li>
                      <li class="active">Submitted Report
                        <div class="spctrk">
                          <p>{{postsArray.report_sender_details}}</p>
                          <p>{{postsArray.report_sender_date}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pcr" *ngIf="pcr_modal">
                  <h3>PCR Specimen</h3>
                  <div class="track-list">
                    <ul>
                      <li class="active">Specimen Created
                        <div class="spctrk">
                          <p>{{postsArray.specimen_added_lab_name}}</p>
                          <p>{{postsArray.specimen_created_date}}</p>
                        </div>
                      </li>

                      <li class="active">QC Confirmation
                        <div class="spctrk">
                          <p>{{postsArray.qc_check_lab_name}}</p>
                          <p>{{postsArray.qc_check_specimen_modify_date}}</p>
                        </div>
                      </li>


                      <li class="active">Delivery To Extraction
                        <label>PCR Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.pcr_stage1_lab_tech_name}}</p>
                          <p>{{postsArray.pcr_stage1_complete_date}}</p>
                        </div>
                      </li>
                      <li class="active">Assign Well Stage
                        <label>PCR Stages</label>
                        <div class="spctrk">
                          <p>{{postsArray.pcr_stage2_lab_tech_name}}</p>
                          <p>{{postsArray.pcr_stage2_complete_date}}</p>
                        </div>
                      </li>



                      <li class="active">Report Generate
                        <div class="spctrk">
                          <p>{{postsArray.generated_pcr_report_lab_tech_name}}</p>
                          <p>{{postsArray.generated_pcr_report_date}}</p>
                        </div>
                      </li>

                    </ul>


                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
        <ng-template #customLoadingTemplate>
          <div class="custom-class">
            <h3>
              Loading...
            </h3>

          </div>
        </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
        </ngx-loading>
      </div>
    </div>
  </div>
</div>