<cm-navbar></cm-navbar>
<div id="content" class="site-content">
 <div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		<div class="inner_page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Average Turnaround Time</h1>
						<form>
							<div class="specimen_border">
								<div class="row">
									<div class="col-md-4 speciman_top">
										<span class="analysis_right">Search by period:</span>
										<input type="text" class="form-control datepicker hasDatepicker" name="from_create_date" id="from_create_date" value="" placeholder="From Create Date">
									</div> 
									<div class="col-md-4 speciman_top">
										<span class="analysis_right">To </span>
										<input type="text" class="form-control datepicker hasDatepicker" name="to_create_date" id="to_create_date" value="" placeholder="To Create Date">
									</div>
									<div class="col-md-2 no_padding3">
										<input type="button" name="search_filter" value="Search" id="submit" class="form-control reset_button" onclick="fetch_analytic_details();">
									</div>
									<div class="col-md-2 no_padding3">
										<a href="#" class="form-control reset_button">Reset</a> 
									</div>
								</div>
							</div> 
						</form>
						<div class="clear"></div>
						<form>
							<div class="table-container" id="from_specimen_date">
		 
								<div id="specimen_list_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="specimen_list_length"><label>Show <select name="specimen_list_length" aria-controls="specimen_list" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="specimen_list_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="specimen_list"></label></div><table class="table table-striped listing_table doodle display dataTable no-footer" cellspacing="0" width="100%" id="specimen_list" role="grid" aria-describedby="specimen_list_info" style="width: 100%;">
									<thead>
										<tr class="table_cls" role="row"><th width="30%" class="sorting_asc" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Reports Completed Specimens Accessioning Number : activate to sort column descending" style="width: 509px;"><strong>Reports Completed Specimens Accessioning Number </strong></th><th width="35%" class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="Turn Around Time  : activate to sort column ascending" style="width: 596px;"><strong>Turn Around Time  </strong></th></tr>
									</thead>
									<tbody id="avg_turn_ard_tym">
									<tr role="row" class="odd">
											<td class="sorting_1"><strong>170118-5778-NF</strong></td>
											<td valign="middle">
												5											</td>
										</tr><tr role="row" class="even">
											<td class="sorting_1"><strong>170118-7553-NF</strong></td>
											<td valign="middle">
												6											</td>
										</tr><tr role="row" class="odd">
											<td class="sorting_1"><strong>170126-0009-NF</strong></td>
											<td valign="middle">
												4											</td>
										</tr><tr role="row" class="even">
											<td class="sorting_1"><strong>170222-0002-NF</strong></td>
											<td valign="middle">
												29											</td>
										</tr><tr role="row" class="odd">
											<td class="sorting_1"><strong>170313-0002-NF</strong></td>
											<td valign="middle">
												0											</td>
										</tr><tr role="row" class="even">
											<td class="sorting_1"><strong>170320-0015-NF</strong></td>
											<td valign="middle">
												2											</td>
										</tr><tr role="row" class="odd">
											<td class="sorting_1"><strong>170320-0016-NF</strong></td>
											<td valign="middle">
												2											</td>
										</tr><tr role="row" class="even">
											<td class="sorting_1"><strong>170320-0017-NF</strong></td>
											<td valign="middle">
												2											</td>
										</tr><tr role="row" class="odd">
											<td class="sorting_1"><strong>170320-0018-NF</strong></td>
											<td valign="middle">
												2											</td>
										</tr><tr role="row" class="even">
											<td class="sorting_1"><strong>170320-0019-NF</strong></td>
											<td valign="middle">
												2											</td>
										</tr></tbody>
								</table><div class="dataTables_info" id="specimen_list_info" role="status" aria-live="polite">Showing 1 to 10 of 12,034 entries</div><div class="dataTables_paginate paging_simple_numbers" id="specimen_list_paginate"><a class="paginate_button previous disabled" aria-controls="specimen_list" data-dt-idx="0" tabindex="0" id="specimen_list_previous">Previous</a><span><a class="paginate_button current" aria-controls="specimen_list" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="6" tabindex="0">1204</a></span><a class="paginate_button next" aria-controls="specimen_list" data-dt-idx="7" tabindex="0" id="specimen_list_next">Next</a></div></div>
          		 
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</div>