<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">

    <div id="primary" class="content-area col-md-12">
      <h1>Diagnosis Analytics</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border flex-style">

          <div class="row">
            <div class="col-md-12 speciman_top">
              <div class="row ">

                <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                  <span class="analysis_right">Data Type:</span>
                  <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                  <span>Recent Data</span>
                </div>
                <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                  <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                  <span>Archive Data (2017-2018)</span>
                </div>
                <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                </app-field-error-display>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Physician Name:</label>

              <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
              <mat-form-field class="example-full-width">
                <input type="text" aria-label="Number" matInput formControlName="physician_name"
                  [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                    <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                      *ngFor="let group of option.names; let i = index" [value]="group">
                      {{group}}

                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
              <div id="physician_chosen_error_msg" style=" color: red; display: block;">
                <div *ngIf="searchForm.get('physician_id').errors?.required else elseBlock">
                  <app-field-error-display [displayError]="isFieldValid('physician_id')" errorMsg="Physician required.">
                  </app-field-error-display>
                </div>
                <ng-template #elseBlock>
                  <app-field-error-display [displayError]="isFieldValid('physician_name')"
                    errorMsg="Physician required.">
                  </app-field-error-display>
                </ng-template>
              </div>
            </div>

            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Report From Date:</label>
              <input type="text" class="" name="from_create_date" id="from_create_date" bsDatepicker
                [bsConfig]="datePickerConfig" placeholder="From Date" formControlName="from_date" />
              <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
              </app-field-error-display>
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Report To Date:</label>
              <input type="text" class="" name="to_create_date" id="to_create_date" bsDatepicker
                [bsConfig]="datePickerConfig" placeholder="To Date" formControlName="to_date" />
              <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
              </app-field-error-display>
            </div>

          </div>
          <span>&nbsp;</span>
          <div class="row">
            <div class="col-md-2 no_padding3 speciman_top">
              <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                  aria-hidden="true"></i> Search</button>
            </div>
            <div class="col-md-2 no_padding3 speciman_top">
              <a href="javascript:void(0);" class="reset_button" title="Reset" (click)="resetForm()"><i
                  class="fa fa-repeat"></i> Reset</a>
            </div>
            <div class="col-md-12">
              <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
            </div>
          </div>
        </div>
      </form>

      <div class="clear"></div>
      <div class="box">
        <div class="box_2">
          <h2>Reported Green</h2>
          <p style="color: #07d153; background:#daead3; font-size: 14px;">{{postsArray.green}}</p>
        </div>
        <div class="box_2">
          <h2>Percentage</h2>
          <p style="background:#daead3;">
            {{postsArray.green_per}} % </p>
        </div>
      </div>
      <div class="box">
        <div class="box_2">
          <h2>Reported Yellow</h2>
          <p style="color: #7c6615; background:#fdf2cb; font-size: 14px;">{{postsArray.yellow}}</p>
        </div>
        <div class="box_2">
          <h2>Percentage</h2>
          <p style="background:#fdf2cb;">
            {{postsArray.yellow_per}}% </p>
        </div>
      </div>
      <div class="box">
        <div class="box_2">
          <h2>Reported Red</h2>
          <p style="color: #c40000; background:#f1cccc; font-size: 14px;">{{postsArray.red}}</p>
        </div>
        <div class="box_2">
          <h2>Percentage</h2>
          <p style="background:#f1cccc;">
            {{postsArray.red_per}}% </p>
        </div>
      </div>
      <div class="clear"></div>
      <table class="diagnosis_analystics">
        <tr>
          <td style="background:#a8c2f5;"><strong>Short code</strong></td>
          <td style="background:#a8c2f5;"><strong>Number of Specimens</strong></td>

          <td>
        <tr class="short" style="background:#daead3;" *ngFor="let option of postsArray.short_code1">{{option.sc}} </tr>
        </td>
        <td>
          <tr class="count" style="background:#daead3;" *ngFor="let option of postsArray.green_info">
            {{!isObjectEmpty(option)?option.count:'0'}}</tr>
        </td>
        </tr>
      </table>
      <table class="diagnosis_analystics">
        <tr>
          <td style="background:#a8c2f5;"><strong>Short code</strong></td>
          <td style="background:#a8c2f5;"><strong>Number of Specimens</strong></td>
          <td>
        <tr class="short" style="background:#fdf2cb;" *ngFor="let option of postsArray.short_code2">{{option.sc}} </tr>
        </td>
        <td>
          <tr class="count2" style="background:#fdf2cb;" *ngFor="let option of postsArray.yellow_info">
            {{!isObjectEmpty(option)?option.count:'0'}}</tr>
        </td>

        </tr>
      </table>
      <table class="diagnosis_analystics">
        <tr>
          <td style="background:#a8c2f5;"><strong>Short code</strong></td>
          <td style="background:#a8c2f5;"><strong>Number of Specimens</strong></td>
          <td>
        <tr class="short" style="background:#f1cccc" *ngFor="let option of postsArray.short_code3">{{option.sc}} </tr>
        </td>
        <td>
          <tr class="count3" style="background:#f1cccc" *ngFor="let option of postsArray.red_info">
            {{!isObjectEmpty(option)?option.count:'0'}}</tr>
        </td>

        </tr>
      </table>
      <div class="clear"></div>

      <ng-template #customLoadingTemplate>
        <div class="custom-class">
          <h3>
            Loading...
          </h3>

        </div>
      </ng-template>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
      </ngx-loading>

    </div>
  </div>
</div>