<cm-navbar></cm-navbar>
<div id="content" class="site-content">
        
<div class="content-wrap">
	<div class="container">
		<div class="content-area col-md-4"></div>
		<div id="primary" class="content-area col-md-8">
			<h1>Lab Data</h1>
			
			<form method="post" name="search" id="search">
				<div class="specimen_border">
					<div class="row">
						
						<div class="col-md-4 speciman_top specimen_bottom lable-cls">
							<label>From Date:</label>
							<input type="text" class="form-control datepicker hasDatepicker" name="from_create_date" id="from_create_date" value="" placeholder="From Date" required="">
						</div>
						
						<div class="col-md-4 speciman_top specimen_bottom lable-cls">
							<label>To Date:</label>
							<input type="text" class="form-control datepicker hasDatepicker" name="to_create_date" id="to_create_date" value="" placeholder="To Date" required="">
						</div>
						<div class="col-md-4">
							<input type="submit" name="search_filter" value="Search" id="submit" class="form-control">
	<a href="#" class="reset_button">Reset</a> 

						</div>
						
					</div>
					
				</div>
			</form>
            <div class="col-md-12">
			<form method="post" action="">
				
				<input type="hidden" name="from_cr_date" id="from_cr_date" value="">
				<input type="hidden" name="to_cr_date" id="to_cr_date" value="">
				<input class="form-control exp-btn" name="Export" value="Export" id="Export" type="submit"> 
		
			</form>
                </div>

			 <div class="clearfix"></div>
			  
			  <small>Data display from March 01, 2018 to the current date.</small>
				
				<div class="table-container">
					<div id="pending_specimen_report_wrapper" class="dataTables_wrapper"><div class="dataTables_length" id="pending_specimen_report_length"><label>Show <select name="pending_specimen_report_length" aria-controls="pending_specimen_report" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="pending_specimen_report_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="pending_specimen_report"></label></div><table class="table table-striped listing_table doodle display dataTable" cellspacing="0" width="100%" id="pending_specimen_report" role="grid" aria-describedby="pending_specimen_report_info" style="width: 100%;">
						<thead>
							<tr class="table_cls" role="row"><th width="15%" class="sorting_asc" tabindex="0" aria-controls="pending_specimen_report" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Accessioning Number: activate to sort column descending" style="width: 239px;">Accessioning Number</th><th width="18%" class="sorting" tabindex="0" aria-controls="pending_specimen_report" rowspan="1" colspan="1" aria-label="Patient Name: activate to sort column ascending" style="width: 290px;">Patient Name</th><th width="18%" class="sorting" tabindex="0" aria-controls="pending_specimen_report" rowspan="1" colspan="1" aria-label="Patient Age: activate to sort column ascending" style="width: 289px;">Patient Age</th><th width="15%" class="sorting" tabindex="0" aria-controls="pending_specimen_report" rowspan="1" colspan="1" aria-label="Created Date: activate to sort column ascending" style="width: 238px;">Created Date</th></tr>
						</thead>
						<tfoot>
							<tr class="table_cls"><th width="15%" rowspan="1" colspan="1">Accessioning Number</th><th width="18%" rowspan="1" colspan="1">Patient Name</th><th width="18%" rowspan="1" colspan="1">Patient Age</th><th width="15%" rowspan="1" colspan="1">Created Date</th></tr>
						</tfoot>
                        <tbody id="display_pending_specimen_list">
						<tr id="specimen_8753" role="row" class="odd">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0001-NF</div>
							</td>
							<td valign="middle">
							Raymond Thiebault							
							</td>
							<td valign="middle">
							76							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8754" role="row" class="even">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0002-NF</div>
							</td>
							<td valign="middle">
							Mary Wilder							
							</td>
							<td valign="middle">
							74							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8755" role="row" class="odd">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0003-NF</div>
							</td>
							<td valign="middle">
							Anthony Mancuso							
							</td>
							<td valign="middle">
							76							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8756" role="row" class="even">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0004-NF</div>
							</td>
							<td valign="middle">
							Elaine Guglielmo							
							</td>
							<td valign="middle">
							64							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8757" role="row" class="odd">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0005-NF</div>
							</td>
							<td valign="middle">
							Mary Dutko							
							</td>
							<td valign="middle">
							76							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8758" role="row" class="even">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0006-NF</div>
							</td>
							<td valign="middle">
							Thomas Dutko							
							</td>
							<td valign="middle">
							78							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8759" role="row" class="odd">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0007-NF</div>
							</td>
							<td valign="middle">
							Sherry Thacker							
							</td>
							<td valign="middle">
							63							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8760" role="row" class="even">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0008-NF</div>
							</td>
							<td valign="middle">
							Lyle Kunz							
							</td>
							<td valign="middle">
							90							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8761" role="row" class="odd">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0009-NF</div>
							</td>
							<td valign="middle">
							Benjamin Cole							
							</td>
							<td valign="middle">
							76							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr><tr id="specimen_8762" role="row" class="even">
							
							<td valign="middle" class="sorting_1">
								<div id="status">180301-0010-NF</div>
							</td>
							<td valign="middle">
							Stephen Bull							
							</td>
							<td valign="middle">
							73							
							</td>
							<td valign="middle">
								<div>2018-03-01</div>
							</td>
						</tr></tbody>
					</table><div class="dataTables_info" id="pending_specimen_report_info" role="status" aria-live="polite">Showing 1 to 10 of 4,662 entries</div><div class="dataTables_paginate paging_simple_numbers" id="pending_specimen_report_paginate"><a class="paginate_button previous disabled" aria-controls="pending_specimen_report" data-dt-idx="0" tabindex="0" id="pending_specimen_report_previous">Previous</a><span><a class="paginate_button current" aria-controls="pending_specimen_report" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="pending_specimen_report" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="pending_specimen_report" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="pending_specimen_report" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="pending_specimen_report" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a class="paginate_button " aria-controls="pending_specimen_report" data-dt-idx="6" tabindex="0">467</a></span><a class="paginate_button next" aria-controls="pending_specimen_report" data-dt-idx="7" tabindex="0" id="pending_specimen_report_next">Next</a></div></div>
				</div>
			
		</div>
	</div>
</div>
</div>