.nail_report {
    width: 80%;
    margin: 30px auto;
    border: 1px solid #4285f4;
    border-top: none;
    padding: 0 0 52px;
    position: relative;
    padding-bottom: 80px;
}

.hdr_btm_sec h6 span, .n_hdr_sec p span, .nail_report {
    display: block;
}
.tp_hdng {
    background: #8db3e2;
    border: 1px solid #4285f4;
    border-left: none;
    border-right: none;
    padding: 8px;
}

.tp_hdng, .tp_hdng h2 {
    font: 700 24px Arial, Helvetica, sans-serif;
    color: #000;
}
.brose_sec, .hdr_btm_sec, .hdr_top_sec, .n_ftr_sec, .refrnf_phy h4, .tp_hdng {
    text-align: center;
}
.tp_hdng, .tp_hdng h2 {
    font: 700 24px Arial, Helvetica, sans-serif;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 15px 0;
    text-rendering: optimizeLegibility;
}
.hdr_top_sec {
    padding: 8px 0;
}
.col_33 {
    width: 32.3333%;
}

.col_33, .col_50 {
    padding: 1%;
    float: left;
    margin: 0;
}
.n_logo {
    max-width: 90%;
    margin: 0 auto;
}
.comny_tag h4 {
    font: 700 20px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}
.comny_tag p {
    padding: 0;
    font: 400 16px Arial, Helvetica, sans-serif;
}

.comny_tag p, .hdr_btm_sec p, .hdr_top_sec p {
    color: #444;
    margin: 0;
}
.hdr_btm_sec {
    border-bottom: 2px dotted #8db3e2;
}
.hdr_btm_sec h6 span, .n_hdr_sec p span, .nail_report {
    display: block;
}
.hdr_btm_sec h6 {
    font: 700 16px Arial, Helvetica, sans-serif;
    color: #000;
}
.clear, .n_clear {
    clear: both;
}
.n_patient_info {
    padding: 10px;
    margin: 0;
    display: block;
}
.col_65 {
    width: 65%;
    padding: 0;
    float: left;
    margin: 0;
}
.smll_hdng {
    color: #444;
    font: 400 16px Arial, Helvetica, sans-serif;
    padding: 10px 0;
}
.n_patient_info_inr {
    padding: 0;
}
.n_ptnt_nm {
    margin: 0;
    padding: 0 0 4px;
}

.n_ptnt_nm, .n_ptnt_nm h4 {
    color: #000;
    font: 700 20px Arial, Helvetica, sans-serif;
}
.n_ptnt_nm, .refrnf_phy h4 {
    text-transform: capitalize;
}
.n_ptnt_nm, .n_ptnt_nm h4 {
    color: #000;
    font: 700 20px Arial, Helvetica, sans-serif;
}
.n_patient_info_inr p {
    color: #444;
    margin: 0;
    padding: 0;
    font: 400 14px/22px Arial, Helvetica, sans-serif;
}
.n_patient_info_inr p span:first-child {
    width: 40%;
}

.n_patient_info_inr p span {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.n_patient_info_inr p span:last-child {
    width: 60%;
}
.col_35 {
    width: 34%;
    padding: 0 1% 0 0;
    float: left;
    margin: 0;
}
.smll_hdng {
    color: #444;
    font: 400 16px Arial, Helvetica, sans-serif;
    padding: 10px 0;
}
.n_patient_addrs {
    padding: 0 0 4px;
}
.n_ptnt_loctn label {
    width: auto;
    color: #444;
}

.n_ptnt_loctn label, .n_ptnt_loctn textarea {
    font: 400 14px Arial, Helvetica, sans-serif;
    float: none;
}
.ptholgy_rpt_inr {
    padding: 15px;
}
#nail_fungal {
    position: relative;
}
.ptholgy_rpt_inr .n_row {
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}
.col_15 {
    float: left;
    padding: 1%;
    width: 12%;
}
#clinical_history {
    margin-left: 11px;
    width: 38%;
}
.ptholgy_rpt_inr textarea {
    float: none;
    width: 100%;
    font: 400 14px Arial, Helvetica, sans-serif;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
b, optgroup, strong {
    font-weight: 700;
}
.col_50 {
    width: 48%;
}

.col_33, .col_50 {
    padding: 1%;
    float: left;
    margin: 0;
}
.ptholgy_rpt_inr textarea {
    float: none;
    width: 100%;
    font: 400 14px Arial, Helvetica, sans-serif;
}
.ptholgy_rpt_inr .n_row {
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}
.nail_report_bg {
    background: #eee;
    padding: 5px;
}
#diagnostic {
    background: #d5edf6;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
textarea.fetch_red {
    background: #e53131;
    color: #000;
}
button, input, select, textarea {
    max-width: 100%;
}
.ptholgy_rpt_inr label {
    float: none;
    width: auto;
    font: 400 16px Arial, Helvetica, sans-serif;
    color: #444;
    padding: 0;
}
.edit-div #add_more {
    top: auto;
    bottom: 0;
}

#add_more {
    position: absolute;
    top: 24px;
    right: 29px;
    font-size: 30px;
    color: #fff;
    background: #34b6e6;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
#upload_box {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 30px 30px 23px 30px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#submit_save {
    position: absolute;
    bottom: -361px;
    right: 7%;
}

#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
#labdoc {
	float: none;
    width: 100%;
    font: 400 14px Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.brose_sec img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.brose_sec {
    background: #f2f2f2;
    border: 1px solid #ccc;
    margin: 0;
    width: 100%;
    line-height: 200px;
    height: 250px;
}
.ptholgy_rpt_inr .amend_note {
    color: red;
    font: 700 16px Arial, Helvetica, sans-serif;
}

.fetch_red {
    background: #e53131;
}


