<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <form id ="nail_fungal" method="post" name="nail_fungal" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">
<div class="nail_report">
<div class="tp_hdng">
<h2> Nail Fungal Pathology Report </h2>
</div>
<div class="n_hdr_sec">
<div class="hdr_top_sec">
<div class="col_33">
<div class="n_logo">
  <a href="javascript: void(0);"><img  style="max-width: 100%;height:auto" src="{{link}}assets/frontend/main_images/logo.png" alt="Ability Diagnostics" title="Ability Diagnostics homepage" /></a>			</div>
</div>
<div class="col_33">
<div class="comny_tag">
  <h4> Ability Diagnostics, LLC </h4>
  <p> 858 South Auto Mall Road, Suite 102 </p>
  <p> American Fork, UT 84003 </p>
</div>
</div>
<div class="col_33">
<div class="issue_dt">
  <p> Date of Report <span>{{postsArray.amended_report_view_details?.dor | date:"dd/MM/yyyy" }}</span> </p>
</div>
</div>
<div class="n_clear"> </div>
</div>
<div class="hdr_btm_sec">
<div class="col_33">
<div class="n_phn_no">
  <p> Phone Number <span> 801-899-3828 </span> </p>
</div>
</div>
<div class="col_33">
<div class="fax_no">
  <p> Fax Number <span> 801-855-7548 </span> </p>
</div>
</div>
<div class="col_33">
<div class="assct_no">
  <h6> Accessioning Number <span> {{postsArray.specimen_information?.accessioning_num}} </span> </h6>
</div>
</div>
<div class="n_clear"> </div>
</div>
</div>
<div class="n_patient_info">
<div class="col_65">
<div class="smll_hdng"> Patient Information: </div>
<div class="n_patient_info_inr">
<div class="n_ptnt_nm">
  <h4> {{postsArray.specimen_information?.patient_name}} </h4>
</div>
<p> <span> Phone:</span><span>{{postsArray.specimen_information?.patient_phn}}</span> </p>
<p> <span> DOB:</span><span>{{postsArray.specimen_information?.patient_dob}}</span> </p>
<p> <span>Collection Date:</span><span>{{postsArray.specimen_information?.collection_date}}</span> </p>
<p> <span>Date Received:</span><span>{{postsArray.specimen_information?.date_received}}</span> </p>
</div>
</div>
<div class="col_35">
<div class="smll_hdng"> Referring Physician: </div>
<div class="n_patient_addrs">
<h4> {{postsArray.physician_info?.name}}</h4>
</div>
<div class="n_ptnt_loctn">
<div class="n_row">
  <div class="col_35">
    <label> Address: </label>
  </div>
  <div class="col_65">  {{postsArray.physician_info?.add}} </div>
  <div class="n_clear"> </div>
</div>
<div class="n_row">
  <div class="col_35">
    <label> Phone: </label>
  </div>
  <div class="col_65"> <span> {{postsArray.physician_info?.mob}}</span> </div>
  <div class="n_clear"> </div>
</div>
<div class="n_row">
  <div class="col_35">
    <label> Fax: </label>
  </div>
  <div class="col_65"> <span>  {{postsArray.physician_info?.fax}}</span> </div>
  <div class="n_clear"> </div>
</div>
</div>
</div>
<div class="n_clear"> </div>
</div>
<div class="patholgy_rpt">
<div class="tp_hdng">
<h2>
  Pathology Report
</h2>
</div>
<div class="ptholgy_rpt_inr">

<div class="n_row">
  <div class="col_35">
    <label> Clinical History: </label>
  </div>
  <div  class="col_15"> </div>
  <div class="col_35" id="clinical_history">
    {{postsArray.amended_report_view_details?.clinical_history}}
  </div>
  <div class="col_15 mg-top" >
    <div style="float:left; padding:0; width:62px; margin:0;"><strong>Location: </strong></div>
    <div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;">{{postsArray?.clinician_location}}</div>
    
  	</div>
  <div class="n_clear"></div>
</div>

<div class="n_row">
  <div class="col_35">
    <label>
      Gross Description:
    </label>
  </div>
 
  <div class="col_15"> </div>
  <div class="col_50" id="gross">
      {{postsArray?.gross_description}}
    </div>
  <div class="n_clear">
  </div>
</div>
      <div class="top_note_heading col_35">
  <label>
    <strong> Amended Diagnosis: </strong></label>
</div>
<div class="col_15"> </div>
<div class="col_50 amend_note">
    {{postsArray.amended_report_view_details?.amend_note}}		</div>
<div class="n_clear">
  <div class="n_row fetch_red">
    <div class="col_35">
      <label>
        <strong>Diagnosis:</strong></label>
    </div>
   
    <div class="col_15">
        {{postsArray.diagnostic_short_code?.sc}}
      </div>
    <div class="col_50">
        {{postsArray.diagnostic_short_code?.diagnosis}}				</div>
    <div class="n_clear">
    </div>
  </div>
  <div class="n_row fetch_red">
    <div class="col_35">
      <label>
        <strong> Micro description: </strong></label></div>
    <div  class="col_15"></div>
    <div class="col_50 fetch_red" >
        {{postsArray.diagnostic_short_code?.text}}	 
    </div>
    <div class="n_clear"></div>
  </div>
          <div class="n_row">
    <div class="col_35">
      <label>
        Stains:
      </label>
    </div>
    <div class="col_15">
        {{postsArray?.st1val}}	 				
    </div>
    <div class="col_50" id="Stains_fst_desc">
        {{postsArray?.st1}}						
    </div>
    <div class="n_clear"></div>
    <div class="col_35">
      <label></label></div>
    <div  class="col_15">
        {{postsArray?.st2val}}	 			
    </div>
    <div class="col_50" id="Stains_sec_desc">
        {{postsArray?.st2}}
    </div>
    <div class="n_clear"></div>
    <div class="col_35">
      <label></label></div>
    <div  class="col_15">
        {{postsArray?.st3val}}
                </div>
    <div class="col_50" id="Stains_thr_desc">
        {{postsArray?.st3}}
                </div>
    <div class="n_clear"></div>
  </div>
          <div class="n_row">
    <div class="col_35">
      <label>
        Addendum:
      </label>
    </div>
    <div  class="col_15">
    </div>
    <div class="col_50">
        {{postsArray.amended_report_view_details?.addendum}}
    </div>
    <div class="n_clear">
    </div>
  </div>
          <div class="n_row">
     <div class="col_35">&nbsp;</div>
    <div class="col_65">
                  <div class="brose_sec">
        <img src="{{url}}/nail_fungal/{{postsArray.amended_report_view_details?.images}}"/>
      </div>
                </div>
    <div class="n_clear"></div>
    <div class="clear"></div>
    <div class="col-md-2 no_padding2" style="margin-top:25px;">
      <a [routerLink]="['/amended-reports']" class="btn btn-primary">Back</a>
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
</div>
</div>
</form>
</div>