<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>Archive Specimens List</h1>
        <form class="lwa-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Physician Name:</label>
                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" aria-label="Number" matInput formControlName="physician_name"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                      <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}

                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Specimen Collected Date:</label>
                <!-- <input type="text" class="form-control datepicker" id="collection_date" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  formControlName="date" id="datepicker" placeholder="MM/DD/YY" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Scan Specimen BarCode:</label>
                <input type="text" class="form-control" id="scan_code" placeholder="Scan Specimen BarCode"
                  formControlName="barcode">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient First Name:</label>
                <input type="text" class="form-control" id="patient_fname" placeholder="Patient First Name"
                  formControlName="fname" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient Last Name:</label>
                <input type="text" class="form-control" id="patient_lname" placeholder="Patient Last Name"
                  formControlName="lname" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number :</label>
                <input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number"
                  formControlName="assessioning_num" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 no_padding3">
                <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100">
              </div>
              <div class="col-md-2 no_padding3">
                <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>
                  Reset</a>
              </div>

            </div>

          </div>

        </form>
        <div class="specimen_border">
          <form class="lwa-form" [formGroup]="exportForm" (ngSubmit)="exportAsXLSX()">
            <div class="row">
              <div class="col-md-3 exp">
                <label>From Date:</label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  formControlName="frm_date" id="datepicker" placeholder="MM/DD/YY" />
              </div>
              <div class="col-md-3 exp">
                <label>To Date:</label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  formControlName="to_date" id="datepicker" placeholder="MM/DD/YY" />
              </div>
              <div class="col-sm-6 exp">
                <label class="exdrp">Export Type :</label>
                <div class="form_group_left">
                  <div class="form_group_left">
                    <input type="radio" id="male" formControlName="export_type" class="form-control2"
                      value="create_date">
                    <span>Specimen Create Date</span>
                  </div>
                  <div class="form_group_left">
                    <input type="radio" id="female" formControlName="export_type" class="form-control2"
                      value="report_date">
                    <span>Report Generate Date</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 no_padding3">
                <!-- <input type="button" name="wp-submit" id="lwa_wp-submit" value="Load All" class="reset_button" (click)="load_all()"> -->
                <input type="submit" class="reset_button" name="Export" value="Export" id="Export">
              </div>
            </div>
          </form>
        </div>
        <form action="" method="post">
          <div class="table-container">
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
              style="width: 100%;">
              <thead>
                <tr class="table_cls">
                  <th width="10%">
                    <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                  </th>
                  <th width="15%">
                    <mfDefaultSorter by="p_firstname">Physician Name</mfDefaultSorter>
                  </th>
                  <th width="15%">
                    <mfDefaultSorter by="p_firstname">Patient Name</mfDefaultSorter>
                  </th>
                  <th width="10%">
                    <mfDefaultSorter by="collection_date">Date Collected</mfDefaultSorter>
                  </th>
                  <th width="10%">QC Check </th>
                  <th width="40%">Actions</th>
                </tr>
              </thead>
              <tbody id="specimens_list">
                <tr class="odd" *ngFor="let specimens of mf.data">
                  <td valign="middle">
                    <div>{{specimens.assessioning_num?specimens.assessioning_num:'Not Processed'}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{specimens.physician_name}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{specimens.p_firstname}} {{specimens.p_lastname}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{specimens.collection_date}}</div>
                  </td>
                  <td>{{specimens.qc_check == 0 ? 'YES' : 'NO' }}</td>
                  <td>
                    <div class="buttonList1">
                      <a class="blue-btn" routerLinkActive="active"
                        routerLink="/view-specimen/{{specimens.id}}/archive"><i class="fa fa-eye"></i> View</a>
                      <a class="blue-btn" routerLinkActive="active"
                        routerLink="/view-specimen-stages/{{specimens.id}}/archive"><i class="fa fa-eye"></i> View
                        Stages</a>
                      <a href="javascript:void(0);" class="blue-btn track-btn"
                        (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i>
                        Track</a>
                    </div>
                  </td>
                </tr>
                <tr class="odd" *ngIf="no_data_status">
                  <td colspan="5">{{no_data}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="table_cls">
                  <th>Accessioning Number</th>
                  <th>Physician Name</th>
                  <th>Patient Name</th>
                  <th>Date Collected</th>
                  <th>QC Check</th>
                  <th>Actions</th>
                </tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>

              </tfoot>
            </table>

            <div class="col-md-6 pull-right">
              <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>
                  {{specimens_list.specimen_count}}</span></div>
              <div class="pull-right">
                <div class="show_physician_list"><strong>Total Number of Specimen: </strong> <span>
                    {{specimens_list.tot_count}}</span></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>