<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div class="bg-primary heading">Physician Notes</div>
      <a class="blue-btn" routerLinkActive="active" routerLink="/physician-notification-ae/0/add"><i class="fa fa-plus"></i> Add Notification</a> <input style="float: right;" type="text" (keyup)='search($event.target.value)'>
      <div *ngFor="let notes of data; let j= index;">
        <h2 class="accordion-toggle" (click) = "current = j"><i class='glyphicon' 
          [class.glyphicon-chevron-right] = "j != current"
          [class.glyphicon-chevron-down] = "j == current" ></i>
          <span class="arrow arrowUp">{{notes.physician_name}}</span>
        </h2>
        <div class="accordion-content default" [class.collapse]='current != j'>
          <div class="listr">
            <ul>
                <li *ngFor="let msg of notes.notes; let i= index;">
                  <p>{{msg}}</p>
                  <div class="infos">
                    <span><i class="fa fa-user" aria-hidden="true"></i> {{notes.user[i]}}</span>
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 
                      {{notes.create_date[i]}}
                    </span>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
