<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div id="registration-form" class="form">
        <form class="lwa-form" [formGroup]="addSpecimen" (ngSubmit)="onSubmit()">
          <div class="bg-primary heading" *ngIf="editType==='suspendedEdit' || editType==='specimensEdit'">Edit Specimen
          </div>
          <div class="bg-primary heading" *ngIf="editType==='qcCheck'">QC Confirmation</div>
          <input type="hidden" id="specimen_id" formControlName="specimen_id" />
          <input type="hidden" id="user_id" formControlName="user_id" />
          <div class="add_physicin">
            <div class="col-md-6">
              <div class="col-sm-12 no_padding" *ngIf="partners_company">
                <div style="width: 100%;margin: 10px auto;display: inline-block;"> 
                  <label style="width: 23%;">Company Name :</label>
                  <p style="font-size: 12px;float: left;">{{partners_company_name}}</p>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group" [ngClass]="displayFieldCss('collection_date')">
                  <label>Date Collected :</label>
                  <input type="text" class="form-control highlight_class" bsDatepicker [bsConfig]="datePickerConfig"
                    formControlName="collection_date" id="datepicker" placeholder="MM/DD/YY" />
                  <app-field-error-display [displayError]="isFieldValid('collection_date')"
                    errorMsg="Collecting date required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group">
                  <label>Time Collected :</label>
                  <input type="text" formControlName="time" placeholder="ex: 11:59" />
                  <select formControlName="format" id="format">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group" [ngClass]="displayFieldCss('date_received')">
                  <label>Date received :</label>
                  <input type="text" class="form-control highlight_class" bsDatepicker [bsConfig]="datePickerConfig"
                    formControlName="date_received" id="date_received" placeholder="MM/DD/YY" />
                  <app-field-error-display [displayError]="isFieldValid('date_received')"
                    errorMsg="Reciving date required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group no_margin1" [ngClass]="displayFieldCss('billValidCheck')">
                  <label>Bill :</label>
                  <div class="form_group_left">
                    <input type="hidden" formControlName="billValidCheck" class="form-control " id="billValidCheck">
                    <div class="form_group_left" *ngFor="let control of getBillArr.controls; let i= index;">
                      <input type="checkbox" [formControl]="control" (change)="getBillVal()" class="form-control2"
                        id="bill_insurence{{i}}">
                      <span>{{bill[i]}}</span>
                    </div>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('billValidCheck')"
                    errorMsg="Bill Type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-sm-12 no_padding" *ngIf="test_type">
                <div style="width: 100%;margin: 10px auto;display: inline-block;">
                  <label>Test Type :</label>
                  <p style="font-size: 12px;float: left;">{{test_type}}</p>
                </div>
              </div>
              <div class="col-sm-12 no_padding" *ngIf="process_done">
                <div style="width: 100%;margin: 10px auto;display: inline-block;"> 
                  <label>Process Done :</label>
                  <p style="font-size: 12px;float: left;">{{process_done}}</p>
                </div>
              </div>
              <div class="col-sm-12 no_padding" *ngIf="!assn_no">
                <div class="form-group no_margin1" [ngClass]="displayFieldCss('test_type')">
                  <label>Test Type :</label>
                  <div class="form_group_left highlight_class">
                    <div class="form_group_left">
                      <select formControlName="test_type">
                        <option hidden value="">Select Test Type</option>

                        <option *ngFor="let control of typesArr; let i= index;" value="{{control.type_code}}">
                          {{control.type_name}}</option>

                      </select>
                    </div>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('test_type')" errorMsg="Test Type required.">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <div id="primary" class="content-area_form1 col-md-6" *ngIf="!partners_company; else phy_display">

              <div class="form_right">
                <label>Physician Name:</label>
                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" (keyup)="onEnter($event)" aria-label="Number" matInput
                    formControlName="physician_name" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                      <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}

                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
                <div id="physician_chosen_error_msg" style=" color: red; display: block;">
                  <div *ngIf="addSpecimen.get('physician_id').errors?.required else elseBlock">
                    <app-field-error-display [displayError]="isFieldValid('physician_id')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </div>
                  <ng-template #elseBlock>
                    <app-field-error-display [displayError]="isFieldValid('physician_name')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </ng-template>
                </div>
                <div class="clear"></div>
                <div id="physician_det"></div>
                <div *ngIf="physicians_list_data != ''">

                  <h3>Physician Information</h3>
                  {{physicians_list_data.name}}<br>{{physicians_list_data.phy_email}}<br>{{physicians_list_data.phy_add}}<br>{{physicians_list_data.mob}}<br>

                  <div class="clear"></div>
                  <div id="physician_det"></div>
                </div>
              </div>
            </div>
            <ng-template #phy_display>
              <div id="primary" class="content-area_form1 col-md-6">

                <div class="form_right">

                  <div *ngIf="partners_specimen_details != ''">

                    <h3>Physician Information</h3>
                    {{partners_specimen_details?.physician_name}}<br>{{partners_specimen_details?.physician_address}}<br>{{partners_specimen_details?.physician_phone}}<br>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>

          <div class="clear"></div>
          <h2 class="frm-hrd">Patient Information</h2>

          <div class="col-sm-12">
            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('p_lastname')">
                <label>Last Name :</label>
                <input type="text" formControlName="p_lastname" class="form-control highlight_class" id="p_lastname"
                  placeholder="Last Name">
                <app-field-error-display [displayError]="isFieldValid('p_lastname')" errorMsg="Last name required.">
                </app-field-error-display>
              </div>
            </div>
            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('p_firstname')">
                <label>First Name :</label>
                <input type="text" formControlName="p_firstname" class="form-control highlight_class" id="p_firstname"
                  placeholder="First Name">
                <app-field-error-display [displayError]="isFieldValid('p_firstname')" errorMsg="First name required.">
                </app-field-error-display>
              </div>
            </div>

            <!--end1st row-->

            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_address')">
                <label>Street Address :</label>
                <textarea formControlName="patient_address" class="form-control highlight_class" id="patient_address"
                  placeholder="Street Address"></textarea>
                <app-field-error-display [displayError]="isFieldValid('patient_address')"
                  errorMsg="Street address required.">
                </app-field-error-display>
              </div>
            </div>
            <div class="col-sm-6 no_padding">
              <div class="form-group">
                <label>Apt #</label>
                <input type="text" formControlName="apt" class="form-control" id="apt" placeholder="Apt#">
              </div>
            </div>

            <!--end2nd row-->

            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_city')">
                <label>City :</label>
                <input type="text" formControlName="patient_city" class="form-control highlight_class" id="patient_city"
                  placeholder="City">
                <app-field-error-display [displayError]="isFieldValid('patient_city')" errorMsg="City required">
                </app-field-error-display>
              </div>
            </div>
            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_state')">
                <label>State :</label>
                <input type="text" formControlName="patient_state" class="form-control highlight_class"
                  id="patient_state" placeholder="State">
                <app-field-error-display [displayError]="isFieldValid('patient_state')" errorMsg="State required">
                </app-field-error-display>
              </div>
            </div>

            <!--end3rd row-->


            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_zip')">
                <label>Zip Code :</label>
                <input type="tel" formControlName="patient_zip" class="form-control highlight_class" id="patient_zip"
                  placeholder="Zip Code">
                <app-field-error-display [displayError]="isFieldValid('patient_zip')"
                  *ngIf="addSpecimen.get('patient_zip').errors?.required" errorMsg="Zip required">
                </app-field-error-display>
                <app-field-error-display [displayError]="isFieldValid('patient_zip')"
                  *ngIf="addSpecimen.get('patient_zip').errors?.pattern" errorMsg="Zip should be numbers only">
                </app-field-error-display>
                <app-field-error-display [displayError]="isFieldValid('patient_zip')"
                  *ngIf="addSpecimen.get('patient_zip').errors?.minlength" errorMsg="Zip length should be minimum 5">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-sm-6 no_padding">
              <div class="form-group">
                <label>Phone Number :</label>
                <input type="tel" formControlName="patient_phn" class="form-control" id="patient_phn"
                  placeholder="Phone Number" mask='000-000-0000'>
              </div>
            </div>
            <!--end4th row-->


            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_dob')">
                <label>Date of Birth :</label>
                <input type="text" class="form-control highlight_class" bsDatepicker [bsConfig]="datePickerConfig"
                  (bsValueChange)="onChangeCalculateAge($event)" formControlName="patient_dob" placeholder="MM/DD/YY"
                  id="" />
                <app-field-error-display [displayError]="isFieldValid('patient_dob')" errorMsg="DOB required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-sm-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('patient_age')">
                <label>Age :</label>
                <input type="text" formControlName="patient_age" class="form-control highlight_class" id="patient_age"
                  placeholder="Age">
                <app-field-error-display [displayError]="isFieldValid('patient_age')"
                  *ngIf="addSpecimen.get('patient_age').errors?.required" errorMsg="Age required">
                </app-field-error-display>
                <app-field-error-display [displayError]="isFieldValid('patient_age')"
                  *ngIf="addSpecimen.get('patient_age').errors?.pattern" errorMsg="Age should be numbers only">
                </app-field-error-display>
              </div>
              <label id="error_msg" style=" color: red; display: block;"></label>
            </div>

            <!--end5th row-->


            <div class="col-sm-6 no_padding">
              <div class="form-group">
                <label>Sex :</label>
                <div class="form_group_left" [ngClass]="displayFieldCss('patient_sex')">
                  <div class="form_group_left">
                    <input type="radio" formControlName="patient_sex" id="male" class="form-control2" value="Male">
                    <span>Male</span>
                  </div>
                  <div class="form_group_left">
                    <input type="radio" formControlName="patient_sex" id="female" class="form-control2" value="Female">
                    <span>Female</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('patient_sex')" errorMsg="Gender required">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 no_padding">
              <div class="form-group">
                <label>Patient ID :</label>
                <input type="tel" formControlName="patient_id" class="form-control" id="patient_id"
                  placeholder="Patient ID">
              </div>
            </div>

            <!--end6th row-->


          </div>


          <div class="clear"></div>
          <h2 class="frm-hrd">Billing / Insurance Information</h2>
          <h3 class="frm-hrd">Subscriber Primary Insurance </h3>
          <div class="col-sm-12">

            <div class="col-md-6 no_padding">
              <div class="col">
                <div class="form-group" [ngClass]="displayFieldCss('patient_age')">
                  <label style="width: 55%;">Subscriber Name/ Relation to Subscriber :</label>
                  <input type="hidden" formControlName="priSubscriberRelationValidCheck" class="form-control "
                    id="priSubscriberRelationValidCheck">
                  <div class="form_group_left" *ngFor="let control of relationArray.controls; let i= index;">
                    <input type="checkbox" [formControl]="control" (change)="getSubscriberVal()" class="form-control2"
                      id="pri_sub_relation{{i}}">
                    <span>{{relations[i]}}</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('priSubscriberRelationValidCheck')"
                    errorMsg="Relation required.">
                  </app-field-error-display>
                </div>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_insurance_name')">
                <label>Insurance Name :</label>
                <input type="text" formControlName="pri_insurance_name" class="form-control highlight_class"
                  id="pri_insurance_name" placeholder="Insurance  Name">
                <app-field-error-display [displayError]="isFieldValid('pri_insurance_name')"
                  errorMsg="Insurance  name required">
                </app-field-error-display>
              </div>
            </div>

            <!--end 1st row-->

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_address')">
                <label>Address :</label>
                <textarea formControlName="pri_address" class="form-control highlight_class" id="pri_address"
                  placeholder="Address"></textarea>
                <app-field-error-display [displayError]="isFieldValid('pri_address')" errorMsg="Address required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_city')">
                <label>City :</label>
                <input type="text" formControlName="pri_city" class="form-control highlight_class" id="pri_city"
                  placeholder="City">
                <app-field-error-display [displayError]="isFieldValid('pri_city')" errorMsg="City required">
                </app-field-error-display>
              </div>
            </div>

            <!--end 2nd row-->

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_state')">
                <label>State :</label>
                <input type="text" formControlName="pri_state" class="form-control highlight_class" id="pri_state"
                  placeholder="State">
                <app-field-error-display [displayError]="isFieldValid('pri_state')" errorMsg="State required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_zip')">
                <label>Zip Code :</label>
                <input type="tel" formControlName="pri_zip" class="form-control highlight_class" id="pri_zip"
                  placeholder="Zip Code">
                <app-field-error-display [displayError]="isFieldValid('pri_zip')"
                  *ngIf="addSpecimen.get('pri_zip').errors?.required" errorMsg="Zip required">
                </app-field-error-display>
                <app-field-error-display [displayError]="isFieldValid('pri_zip')"
                  *ngIf="addSpecimen.get('pri_zip').errors?.pattern" errorMsg="Zip should be numbers only">
                </app-field-error-display>
                <app-field-error-display [displayError]="isFieldValid('pri_zip')"
                  *ngIf="addSpecimen.get('pri_zip').errors?.minlength" errorMsg="Zip length should be minimum 5">
                </app-field-error-display>
              </div>
            </div>
            <!--end 3rd row-->

            <div class="col-md-6 no_padding">
              <div class="form-group ">
                <label>Insurance Type : </label>
                <div class="form_group_left">
                  <div class="form_group_left">
                    <input type="radio" formControlName="insurance_type" id="insurance_type" class="form-control2"
                      value="Commercial">
                    <span>Commercial</span>
                  </div>
                  <div class="form_group_left">
                    <input type="radio" formControlName="insurance_type" id="insurance_type" class="form-control2"
                      value="Federal">
                    <span>Federal</span>
                  </div>
                </div>
                <app-field-error-display [displayError]="isFieldValid('insurance_type')"
                  errorMsg="Insurance type required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Employer name :</label>
                <input type="text" formControlName="pri_employee_name" class="form-control" id="pri_employee_name"
                  placeholder="Employer name">
              </div>
            </div>

            <!--end 4th row-->

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_member_id')">
                <label>Member ID # :</label>
                <input type="tel" formControlName="pri_member_id" class="form-control highlight_class"
                  id="pri_member_id" placeholder="Member ID #">
                <app-field-error-display [displayError]="isFieldValid('pri_member_id')" errorMsg="Member ID required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group" [ngClass]="displayFieldCss('pri_subscriber_dob')">
                <label>Subscriber DOB :</label>
                <input type="text" class="form-control highlight_class" bsDatepicker [bsConfig]="datePickerConfig"
                  id="pri_subscriber_dob" formControlName="pri_subscriber_dob" placeholder="MM/DD/YY" />
              </div>
              <app-field-error-display [displayError]="isFieldValid('pri_subscriber_dob')"
                errorMsg="Subscriber DOB required">
              </app-field-error-display>
            </div>

            <!--end 5th row-->
            <div class="col-md-6 no_padding">
              <div class="form-group cnt" [ngClass]="displayFieldCss('pri_group_contact')">
                <label>Group / Contract :</label>
                <input type="text" formControlName="pri_group_contact" class="form-control highlight_class"
                  id="pri_group_contact" placeholder="Group / Contract">
                <app-field-error-display [displayError]="isFieldValid('pri_group_contact')"
                  errorMsg="Group / contract required">
                </app-field-error-display>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Subscriber Sex :</label>
                <div class="form_group_left" [ngClass]="displayFieldCss('pri_sex')">
                  <div class="form_group_left">
                    <input type="radio" formControlName="pri_sex" id="pri_sex" class="form-control2" value="Male">
                    <span>Male</span>
                  </div>
                  <div class="form_group_left">
                    <input type="radio" formControlName="pri_sex" id="pri_sex" class="form-control2" value="Female">
                    <span>Female</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('pri_sex')" errorMsg="Gender required">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <!--end 6th row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Medicare ID # :</label>
                <input type="tel" formControlName="pri_medicare_id" class="form-control" id="pri_medicare_id"
                  placeholder="Medicare ID #">
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Medicaid ID # :</label>
                <input type="tel" formControlName="pri_madicaid_id" class="form-control" id="pri_madicaid_id"
                  placeholder="Medicaid ID #">
              </div>
            </div>

            <!--end 7th row-->

          </div>

          <div class="clear"></div>
          <h3 class="frm-hrd">Subscriber Secondary Insurance</h3>

          <div class="col-sm-12">

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label style="width: 55%;">Subscriber Name/ Relation to Subscriber :</label>
                <div class="form_group_left">
                  <div class="form_group_left" *ngFor="let control of relationArraySec.controls; let i= index;">
                    <input type="checkbox" [formControl]="control" class="form-control2" id="sec_sub_relation{{i}}">
                    <span>{{relations[i]}}</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Insurance Name :</label>
                <input type="text" formControlName="sec_insurance_name" class="form-control" id="sec_insurance_name"
                  value="" placeholder="Insurance  Name">
              </div>
            </div>

            <!--end 1st row-->

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Address :</label>
                <textarea formControlName="sec_address" class="form-control" id="sec_address"
                  placeholder="Address"></textarea>
              </div>
            </div>
            <span class="spanSuccess"></span>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>City :</label>
                <input type="text" formControlName="sec_city" class="form-control" id="sec_city" placeholder="City">
              </div>
            </div>

            <!--end 2nd row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>State :</label>
                <input type="text" formControlName="sec_state" class="form-control" id="sec_state" placeholder="State">
              </div>
            </div>
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Zip Code :</label>
                <input type="tel" formControlName="sec_zip" class="form-control" id="sec_zip" placeholder="Zip Code">
              </div>
            </div>

            <!--end 3rd row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Employer name :</label>
                <input type="text" formControlName="sec_employee_name" class="form-control" id="sec_employee_name"
                  placeholder="Employer name">
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Member ID # :</label>
                <input type="tel" formControlName="sec_member_id" class="form-control" id="sec_member_id"
                  placeholder="Member ID #">
              </div>
            </div>
            <!--end 4th row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Subscriber DOB :</label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  id="sec_subscriber_dob" formControlName="sec_subscriber_dob" value="" placeholder="MM/DD/YY" />
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group cnt">
                <label>Group / Contract :</label>
                <input type="tel" formControlName="sec_group_contact" class="form-control" id="sec_group_contact"
                  placeholder="Group / Contract">
              </div>
            </div>
            <!--end 5th row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Subscriber Sex :</label>
                <div class="form_group_left">
                  <div class="form_group_left">
                    <input type="radio" formControlName="sec_sex" class="form-control2" id="male"
                      value="Male"><span>Male</span>
                  </div>
                  <div class="form_group_left">
                    <input type="radio" formControlName="sec_sex" class="form-control2" id="female"
                      value="Female"><span>Female</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Medicare ID # :</label>
                <input type="tel" formControlName="sec_medicare_id" class="form-control" id="sec_medicare_id"
                  placeholder="Medicare ID #">
              </div>
            </div>
            <!--end 6th row-->
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Medicaid ID # :</label>
                <input type="tel" formControlName="sec_medicaid_id" class="form-control" id="sec_medicaid_id"
                  placeholder="Medicaid ID #">
              </div>
            </div>

            <!--end 7th row-->
          </div>

          <div class="clear"></div>

          <h2 class="frm-hrd">Clinical Information</h2>
          <div class="row">
            <div class="col-md-4" *ngIf="editType === 'qcCheck'">
              <div class="form-group">
                <label>External ID: </label>
                <input type="text" formControlName="external_id" class="form-control" [id]="'site_indicator_'+i"
                  placeholder="External ID" (keyup)="emptyCheck($event)">
                <app-field-error-display [displayError]="isFieldValid('external_id')" errorMsg="External ID required">
                </app-field-error-display>
              </div>
            </div>
          </div>
          <div class="row" formArrayName="specimen" *ngFor="let spec of specimenArray.controls; let i=index">
            <div [formGroupName]="i">
              <div class="after_clinical"></div>
              <div class="col-md-6"><label style="width:100%;">Specimen#{{i+1}}:</label></div>
              <div class="col-md-6">
                <div *ngIf="i===0">
                  <label> Accessioning number:</label>
                  <div class="form_group_left">
                    <input type="text" formControlName="assessioning_num" [id]="'assessioning_num_'+i" readonly />
                  </div>
                </div>
                <div class="col-md-2" *ngIf="specimenArray.length>1">
                  <a href="javascript:void(0);" (click)="delete_specimen_data(i)" id="add_specimen_btn"
                    class="btn btn-danger" title="Remove Specimen">Close</a>
                </div>

              </div>
              <div class="clear"></div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="hidden" formControlName="clinicalSpecimenValidCheck" class="form-control"
                    [id]="'clinicalSpecimenValidCheck_'+i">
                  <div class="form_group_left2"
                    *ngFor="let control of getClinicalSpecimenArr[i].controls; let i= index;">
                    <input type="checkbox" [formControl]="control" class="form-control2 clinical_specimen"
                      id="clinical_specimen{{i}}">
                    <span>{{clinical_specimen[i]}}</span>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group_rgt">
                  <label><strong>Nail Unit (Histopathology: choose stain(s) Option):</strong>
                    Nail Unit Distrophy (Fungi/ Neoplusm/ Trauma)</label>
                  <div *ngFor="let control of getNailUnitArr[i].controls; let i= index;">
                    <div class="form_group_rgt">
                      <input type="checkbox" [formControl]="control" (change)="getNailUnitVal()"
                        class="form-control3 nail_unit" id="nail_unit{{i}}">
                      <div class="inr-spn">{{nailUnit[i]}}</div>
                    </div>
                    <div *ngIf="i===0" class="histopathology-options">
                      <p>Histopathology Options:</p>
                    </div>
                    <div *ngIf="i===3" class="histopathology-options">
                      <p>PCR Options:</p>
                    </div>
                  </div>
                  <app-field-error-display [displayError]="isNailUnitValid(spec.controls['clinicalSpecimenValidCheck'])"
                    errorMsg={{nailUnitValidMsg}}>
                  </app-field-error-display>

                </div>
              </div>
              <div class="clear">
                <p></p>
              </div>
              <div class="col-md-7 no_padding">
                <div class="form-group">
                  <label>Special Site Indicator: </label>
                  <input type="text" formControlName="site_indicator" class="form-control" [id]="'site_indicator_'+i"
                    placeholder="Site Indicator">
                </div>
              </div>
              <div class="clear">
                <p></p>
              </div>
              <div id="extra_specimen_det"></div>
              <div class="clear">
                <p></p>
              </div>
            </div>
          </div>
          <div *ngIf="specimenStatus === '1'">
            <a href="javascript:void(0);" (click)="add_specimen_data()" id="add_specimen_btn"
              class="btn btn-primary">Add More Specimens</a>
          </div>
          <div class="clear">
            <p></p>
          </div>
          <span>&nbsp;</span>
          <div class="col-md-12">
            <div class="form-group">
              <label>Did the physician sign the form or is it on file? </label>
              <div class="form_group_left" style="margin-left: 10px;">
                <label class="full">
                  <input type="radio" formControlName="physician_accepct" class="form-control2" value="0">
                  <span>Yes</span>
                </label>
              </div>
              <div class="form_group_left" style="margin-left: 10px;">
                <label class="full">
                  <input type="radio" formControlName="physician_accepct" class="form-control2" value="1">
                  <span>No</span>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="specimenStatus === '1'">
            <div class="col-md-6 no_padding">
              <div class="form-group">
                <label>Notes :</label>
                <textarea formControlName="notes" id="notes" class="form-control" placeholder="Enter Notes"></textarea>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col-md-1 no_padding col-sm-2 col-xs-3" align="center" style="margin-top: 0; margin-left: 15px;">
            <a href="list-specimen" class="btn btn-primary">Back</a>
          </div>
          <div class="col-md-2" align="left">
            <input type="submit" class="btn btn-primary" formControlName="wp_submit" id="lwa_wp-submit"
              value="Add Specimen" tabindex="100">
          </div>
          <div class="co-md-1" *ngIf="editType!='qcCheck'">
            <!-- <a href="javascript:void(0);" target="_blank" class="btn btn-primary" (click)="genarateAddSpecimenPdf()">Print As PDF</a> -->
            <!-- <a href="http://192.168.1.254/project/2018/part1/ability_new/codes/abadmin/api/PdfGenerate/genarate_add_specimen_pdf" class="blue-btn" target="_balnk"><i class="fa fa-eye"></i> Print As PDF</a> -->
            <a href="{{url}}genarate_add_specimen_pdf" class="blue-btn" target="_balnk"><i class="fa fa-eye"></i> Print
              As PDF</a>
          </div>
          <div class="co-md-1" *ngIf="editType==='qcCheck'">
            <a href="javascript:void(0);" class="btn btn-primary" (click)="qcCheckList()">Send To Lab</a>
          </div>
          <div class="clear">&nbsp;</div>


        </form>
      </div>
    </div>
  </div>
</div>