<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>PCR Average Stage Time</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border">
          <div class="row">
            <div class="list-mid">
              <div class="col-md-12 speciman_top">
                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-2 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-3 speciman_top">
                <span class="analysis_right">Accessioning: </span>
                <input type="text" class="form-control" placeholder="Accessioning Number" formControlName="acc" />
              </div>
              <div class="col-md-3 speciman_top">
                <span class="analysis_right">From: </span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Create Date" formControlName="from_date" />
                <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-3 speciman_top">
                <span class="analysis_right">To:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="To Create Date" formControlName="to_date" />
                <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-3">
                <input class="form-control srch-btn reset_button btn-blue" type="submit" name="wp-submit"
                  id="lwa_wp-submit" value="Search" tabindex="100">
                <a href="javascript:void(0);" class="form-control rest-btn reset_button btn-blue"
                  (click)="resetForm()">Reset</a>
              </div>
              <div style="margin-top: 20px;" class="col-md-4">
                <input type="button" name="wp-submit" id="lwa_wp-submit" class="reset_button"
                  value="Load Last One Month Records" (click)="load_last()">
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">Note: We archive the data after the year 2019.
                  You can check
                  archive data using
                  search option.</span>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="table-container">
        <div id="from_specimen_date">
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">
            <thead>
              <tr class="table_cls">
                <th style="width: 120px;" width="10%">
                  <mfDefaultSorter by="assessioning_num"># Accessioning Number</mfDefaultSorter>
                </th>
                <th style="width: 120px;" width="10%">
                  <mfDefaultSorter by="stage1">Delivery to Extraction</mfDefaultSorter>
                </th>
                <th style="width: 120px;" width="10%">
                  <mfDefaultSorter by="stage3">Assign Well Stage</mfDefaultSorter>
                </th>
                <th style="width: 120px;" width="10%">
                  <mfDefaultSorter by="stage4">Data Analysis</mfDefaultSorter>
                </th>
                <th style="width: 120px;" width="10%">
                  <mfDefaultSorter by="report">Report Generate</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody id="specimens_list">
              <tr class="odd" *ngFor="let specimens of mf.data">
                <td valign="middle">
                  {{specimens.assessioning_num}}
                </td>
                <td valign="middle">
                  <span class="{{ specimens.color1 != '' ? 'Red' : '----' }}">{{specimens.stage1}}</span> </td>
               
                <td valign="middle">
                  <span class="{{ specimens.color2 != '' ? 'Red' : '----' }}">{{specimens.stage2}}</span>
                </td>
              
                <td valign="middle">
                  <span class="{{ specimens.color3 != '' ? 'Red' : '----' }}">{{specimens.stage3}}</span>
                </td>
                <td valign="middle">
                  <span class="{{ specimens.color4 != '' ? 'Red' : '----' }}">{{specimens.report}}</span>
                </td>
              </tr>
              <tr *ngIf="no_data">
                <td colspan="7">No data Found!</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="table_cls">
                <th width="10%">Average Time</th>
                <th width="10%">{{postsArray.day1}} {{postsArray.hour1}}</th>
                <th width="10%">{{postsArray.day2}} {{postsArray.hour2}}</th>
                <th width="10%">{{postsArray.day3}} {{postsArray.hour3}} </th>
                <th width="10%">{{postsArray.day4}} {{postsArray.hour4}}</th>

              </tr>
              <td colspan="5" style="border: none;">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>

            </tfoot>

          </table>
          <input type="button" class="btn btn-blue exprt-btn" value="Load More" (click)="load_more()" *ngIf="!isSearch">
          <div class="pull-right">
            <div class="show_physician_list"><strong>Showing Number of Specimen: </strong>
              <span>{{postsArray.count}}</span></div>
          </div>

          <h2 class="blue-bg"><strong>Time Limit For Different Stages</strong></h2>
          <div class="table-responsive pcr-shw-tbl">
            <table class="table table-bordered">
              <thead>
                <tr class="table_cls">
                  <th><strong>PCR Stages</strong></th>
                  <th>Delivery to Extraction</th>
                  <th>Assign Well Stage</th>
                  <th>Data Analysis</th>
                   <th>Report Generate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b>Time (hours)</b>
                  </td>
                  <td>24</td>
                  <td>24</td>
                  <td>72</td>
                  <td>4</td>
                </tr>
              </tbody>
            </table>
          </div>


          <ng-template #customLoadingTemplate>
            <div class="custom-class">
              <h3>
                Loading...
              </h3>

            </div>
          </ng-template>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading>

        </div>
      </div>

    </div>
  </div>
</div>