<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Lab Analytics</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border">
          <div class="row">
            <div class="list-mid">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-3 speciman_top">
                <span class="analysis_right">Search by period:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Create Date" formControlName="from_date" />
                <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 speciman_top frm-to">
                <span class="analysis_right">To </span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="To Create Date" formControlName="to_date" />
                <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 no_padding3">
                <select name="spe_opt" id="spe_opt" formControlName="histo_pcr">
                  <option>Histo</option>
                  <option>PCR</option>
                </select>
              </div>
              <div class="col-md-2 no_padding3">
                <input class="form-control srch-btn reset_button btn-blue" type="submit" name="wp-submit"
                  id="lwa_wp-submit" value="Search" tabindex="100">
              </div>
              <div class="col-md-2 no_padding3">
                <a href="javascript:void(0);" class="form-control rest-btn reset_button btn-blue"
                  (click)="resetForm()">Reset</a>
              </div>
              <div class="col-md-2 no_padding3">
                <input type="button" class="btn btn-blue exprt-btn" name="csv" value="Export" (click)="exportAsXLSX()">
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="table-container">
        <div id="from_specimen_date">
          <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
            <thead>
              <tr class="table_cls">
                <th width="30%"><strong>Title </strong></th>
                <th width="35%"><strong>{{postsArray.current_Month}} - {{postsArray.Current_Month_Day}}</strong></th>
                <th width="35%"><strong>{{postsArray.last_Month}} - {{postsArray.last_Month_Name}}
                    {{postsArray.last_Month_Day}}</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Specimens Added</strong></td>
                <td valign="middle">
                  {{postsArray.current_specimen_count}} </td>
                <td valign="middle">
                  <div>
                    {{postsArray.previous_specimen_count}} </div>
                </td>
              </tr>  
              <tr>
                <td><strong>Physicians Added</strong></td>
                <td valign="middle">
                  {{postsArray.current_phy_count}} </td>
                <td valign="middle">
                  <div>
                    {{postsArray.pre_phy_count}} </div>
                </td>
              </tr>      
              <tr>
                <td><strong>Federal</strong></td>
                <td valign="middle">
                  <div>
                    {{postsArray.current_federal_count}} </div>
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.previous_federal_count}} </div>
                </td>
              </tr>
              <tr>
                <td><strong>Commercial </strong></td>
                <td valign="middle">
                  <div>
                    {{postsArray.current_comercial_count}} </div>
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.previous_comercial_count}} </div>
                </td>
              </tr>

              <tr>
                <td><strong>Specimens per Physician</strong>
                  <br />(Added Specimen / Total Physician)
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.specimen_per_phy_current}} </div>
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.specimen_per_phy_prev}} </div>
                </td>
              </tr>

              <tr>
                <td><strong>Specimens Per Active Physician</strong>
                  <br />(Total Specimen / Number of physicians who have sent at least 1 specimen)
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.specimen_per_active_current}} </div>
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.specimen_per_active_prev}} </div>
                </td>
              </tr>

              <tr>
                <td><strong>New physicians sending specimens</strong> </td>
                <td valign="middle">
                  <div>{{postsArray.physicians_sending_specimens_count}}</div>
                </td>
                <td valign="middle">
                  <div>
                    {{postsArray.pre_physicians_sending_specimens_count}} </div>
                </td>
              </tr>
              <tr>
                <td><strong>Report Issued</strong></td>
                <td> {{postsArray.report_issued_curr}} </td>
                <td>{{postsArray.report_issued_prev}} </td>
              </tr>
            </tbody>
          </table>
          <h2 style="background:#abd3e2; padding:6px; text-align: center; color:white; font-size:20px;"><strong>Current
              Specimen Status</strong></h2>
          <table>
            <tbody>
              <tr>
                <td>
                  <table class="analystics">
                    <tr>
                      <td style="background:#ddd;"> <a href="javascript:void(0)" data-toggle="tooltip"
                          data-placement="top" title="QC Check Specimen">QC Check</a></td>
                      <td style="background:#ddd;">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                          title="Delivery to lab">Stage 1</a>
                      </td>
                      <td style="background:#ddd;">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Gross">Stage
                          2</a>
                      </td>
                      <td style="background:#ddd;">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Microtomy">Stage
                          3</a>
                      </td>
                      <td style="background:#ddd;">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="QC Check">Stage
                          4</a>
                      </td>
                      <td style="background:#ddd;"><a href="javascript:void(0)" data-toggle="tooltip"
                          data-placement="top" title="Report Pending">Report Pending</a></td>

                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td> {{postsArray.qc_check_count}}</td>
                      <td>{{postsArray.stage1}}</td>
                      <td>{{postsArray.stage2}}</td>
                      <td>{{postsArray.stage3}}</td>
                      <td>{{postsArray.stage4}}</td>
                      <td>{{postsArray.report_added}} </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr style="background:#abd3e2">
                <td><strong>Total Physicians</strong></td>
                <td valign="middle">
                  <div>
                    {{postsArray.total_phy_count}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>