<cm-navbar></cm-navbar>
<div class="nail_report">
  <div class="tp_hdng">
    <h2> Nail Fungal Pathology Report </h2>
  </div>
  <div class="n_hdr_sec">
    <div class="hdr_top_sec">
      <div class="col_33">
        <div class="n_logo">
        <a href="#">
        <img style="max-width: 100%;height:auto" src="{{link}}assets/frontend/main_images/logo.png" alt="Ability Diagnostics" title="Ability Diagnostics homepage">
        </a>
        </div>
      </div>
      <div class="col_33">
        <div class="comny_tag">
          <h4> Ability Diagnostics, LLC </h4>
          <p> 858 South Auto Mall Road, Suite 102 </p>
          <p> American Fork, UT 84003 </p>
        </div>
      </div>
      <div class="col_33">
        <div class="issue_dt">
          <p> Date of Report <span>{{postsArray.amended_report_view_details?.dor | date:"dd/MM/yyyy" }}</span> </p>
        </div>
      </div>
      <div class="n_clear"> </div>
    </div>
    <div class="hdr_btm_sec">
      <div class="col_33">
        <div class="n_phn_no">
          <p> Phone Number <span> 801-899-3828 </span> </p>
        </div>
      </div>
      <div class="col_33">
        <div class="fax_no">
          <p> Fax Number <span> 801-855-7548 </span> </p>
        </div>
      </div>
      <div class="col_33">
        <div class="assct_no">
          <h6> Accessioning Number <span>{{specimen_result?.accessioning_num}} </span> </h6>
        </div>
      </div>
      <div class="n_clear"> </div>
    </div>
  </div>
  <div class="n_patient_info">
    <div class="col_65">
      <div class="smll_hdng"> Patient Information: </div>
      <div class="n_patient_info_inr">
        <div class="n_ptnt_nm">
          <h4>  {{specimen_result?.patient_name}}</h4>
        </div>
        <p> <span> Phone:</span><span>{{specimen_result?.patient_phn}}</span> </p>
        <p> <span> DOB:</span><span>{{specimen_result?.patient_dob}}</span> </p>
        <p> <span>Collection Date:</span><span>{{specimen_result?.collection_date}}</span> </p>
        <p> <span>Date Received:</span><span>{{specimen_result?.date_received}}</span> </p>
      </div>
    </div>
    <div class="col_35">
      <div class="smll_hdng"> Referring Physician: </div>
      <div class="n_patient_addrs">
        <h4> {{physician_info?.name}}</h4>
      </div>
      <div class="n_ptnt_loctn">
        <div class="n_row">
          <div class="col_35">
            <label> Address: </label>
          </div>
          <div class="col_65">  {{physician_info?.add}} </div>
          <div class="n_clear"> </div>
        </div>
        <div class="n_row">
          <div class="col_35">
            <label> Phone: </label>
          </div>
          <div class="col_65"> <span> {{physician_info?.mob}}</span> </div>
          <div class="n_clear"> </div>
        </div>
        <div class="n_row">
          <div class="col_35">
            <label> Fax: </label>
          </div>
          <div class="col_65"> <span>  {{physician_info?.fax}}</span> </div>
          <div class="n_clear"> </div>
        </div>
      </div>
    </div>
    <div class="n_clear"> </div>
  </div>
  
  
    <div class="patholgy_rpt">
      <div class="tp_hdng">
        <h2>Pathology Report</h2>
      </div>
      <div class="ptholgy_rpt_inr">
          <form name="nail_fungal" id="nail_fungal" [formGroup]="pending_report" autocomplete="off"  enctype="multipart/form-data">
          <div class="n_row">
            <div class="col_35">
              <label> Clinical History: </label>
            </div>
            <div  class="col_15"> </div>
            <div id="clinical_history" style="width:300px; float:left; margin-right:10px;">
              <textarea name="clinical_history" placeholder="Clinical History" style="width:300px;" formControlName="clinical_history"></textarea>
            </div>
            <div style="float:left;">
            <div style="float:left; padding:0; width:62px; margin:0;"><strong>Location: </strong></div>
            <div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;">{{clinician_location}}</div>
            </div>
            <div style="float:left;" >
              {{specimen_result?.site_indicator}}
            </div>
            <div class="n_clear"></div>
          </div>
          <div class="clear"></div>
          <div class="n_row">
            <div class="col_35">
              <label>
                Gross Description:
              </label>
            </div>
            <div  class="col_15">
            </div>
            <div class="col_50" id="gross">
              <textarea name="gross_description" placeholder="Gross Description" readonly="readonly" formControlName="gross_description"></textarea>
            </div>
            <div class="n_clear">
            </div>
          </div>
          <div class="top_note_heading col_35">
            <label><strong>Amended Diagnosis:</strong></label>
          </div>
          <div class="col_15"> </div>
          <div class="col_50">
            <textarea placeholder="***" class="amend_note red-place" formControlName="amend_note"></textarea>
          </div>
          <div class="n_row nail_report_bg">
            <div class="col_35">
              <label>
                <strong>
                  Diagnosis:
                </strong>
              </label>
            </div>
          
            <div class="col_15" [ngClass]="displayFieldCss('diagnostic_short_code')">
              <input type="text" id="shortCode_1" placeholder="Type shortcode" formControlName="diagnostic_short_code" (keypress)="Stains_fst_info($event,'diagnostic')"/>
              <app-field-error-display 
                [displayError]="isFieldValid('diagnostic_short_code')" 
                errorMsg="This field is required">
              </app-field-error-display>
            </div>
            <div class="col_50" id="diago">
              <textarea class="fetch_{{color}}" placeholder="Diagnostic" readonly="readonly" formControlName="diagnostic_text" ></textarea>
              <input type="hidden" value="" formControlName="diagnostic_color"/>
            </div>
            <div class="n_clear"></div>
          </div>
          <div class="n_row nail_report_bg">
            <div class="col_35">
              <label>
                <strong> Gross micro description: </strong> </label>
            </div>
            <div  class="col_15"></div>
            <div class="col_50" id="gross_micro_description" >
              <textarea class="fetch_{{color}}" id="gross_micro_desc" readonly="readonly" formControlName="gross_micro_desc_text"></textarea>
            </div>
            <div class="n_clear"></div>
          </div>
        
          <div class="n_row">
            <div class="col_35">
              <label >
                Stains:
              </label>
            </div>
            <div class="col_15" [ngClass]="displayFieldCss('stains_first')">
              <input type="text" formControlName="stains_first" id="shortCode_2" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'stains1')" value="" tabindex="2" required/>
              <app-field-error-display 
                [displayError]="isFieldValid('stains_first')" 
                errorMsg="This field is required">
              </app-field-error-display>
            </div>
            <div class="col_50" id="Stains_fst_desc">
                <textarea formControlName="stains_addendum_first" placeholder="Stains" id="addendum" tabindex="1" readonly="readonly"></textarea>
            </div>
            <div class="n_clear"></div>
            <div class="col_35">
              <label></label></div>
            <div  class="col_15">
              <input type="text" formControlName="stains_sec" id="shortCode_3" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'stains2')" value="" tabindex="2" />
            </div>
            <div class="col_50" id="Stains_sec_desc">
                <textarea formControlName="stains_addendum_sec" placeholder="Stains" id="addendum" tabindex="1" readonly="readonly"></textarea>
            </div>
            <div class="n_clear"></div>
            <div class="col_35">
              <label></label></div>
            <div  class="col_15">
              <input type="text" formControlName="stains_third" id="shortCode_4" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'stains3')" value="" tabindex="2" >
            </div>
            <div class="col_50" id="Stains_thr_desc">
                <textarea formControlName="stains_addendum_third" placeholder="Stains" id="addendum" tabindex="1" readonly="readonly"></textarea>
            </div>
            <div class="n_clear"></div>
          </div>
        
          <!-- <div class="n_row">
            <div class="col_35">
              <label >
                Internal Shortcode:
              </label>
            </div>
            <div class="col_15">
              <input type="text" formControlName="internal_short_code1" id="shortCode_5" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'internal_1')" value="" tabindex="2"/>
            </div>
            <div class="col_50" id="internal_shortcode_1_desc">
              <textarea formControlName="internal_short_code_addendum1" placeholder="Internal" id="addendum" tabindex="1" readonly="readonly"></textarea>
          </div>
          </div> -->
          <div class="n_row">
            <div class="col_35">
              <label> Addendum: </label>
            </div>
            <div class="col_50" id="stains_addendum" *ngIf="(old_date < date_check) && check_old_data">
              <textarea formControlName="old_addendum_text" placeholder="Addendum" id="addendum" tabindex="1" ></textarea>
            </div>
            <div formArrayName="addendum" *ngFor="let controls of pendingArr.controls; let i=index">
            <div class="n_row edit-ad" [formGroupName]="i">
                <div class="col-md-4">
                  </div>
                  <div  class="col_15">
                        <input type="text" formControlName="addendum_code" value="" class="TabOnEnter" id="shortCode_{{4+i+1}}" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'stains4')"/>
                      </div>
                      <div class="col_50" id="stains_addendum">
                        <textarea formControlName="addendum_text" placeholder="Addendum" id="addendum" tabindex="1" ></textarea>
                      </div>
                      <div id="minus-btn" class="col-md-1" *ngIf="pendingArr.length>1">
                      <a href="javascript:void(0);" (click)="delete_addendum_data(i)" id="add_specimen_btn" class="btn btn-danger" title="Remove Specimen">-</a>
                  </div>
                  </div>
                  
          </div>
            <a href="javascript:void(0)" id="add_more" name="add_more" (click)="add_addendum_data()" class="more_add">+</a>
          </div>  

          <div class="n_row">
            <div class="col_35">
              <label >
                Internal Shortcode:
              </label>
            </div>
            <div formArrayName="internal_code" *ngFor="let controls of internalArr.controls; let i=index">
              <div class="n_row edit-ad" [formGroupName]="i">
                <div class="col-md-4"></div>
            <div class="col_15">
              <input type="text" formControlName="internal_short_code1" id="internalCode_{{i+1}}" placeholder="Type shortcode" (keypress)="Stains_fst_info($event,'internal_1')" value="" tabindex="2"/>
            </div>
              <div class="col_50" id="internal_shortcode_1_desc">
                <textarea formControlName="internal_short_code_addendum1" placeholder="Internal Comments" id="addendum" tabindex="1" readonly="readonly"></textarea>
            </div>
            <div id="minus-btn" class="col-md-1" *ngIf="internalArr.length>1">
              <a href="javascript:void(0);" (click)="delete_internal_data(i)" id="add_specimen_btn" class="btn btn-danger" title="Remove Specimen">-</a>
          </div>
          </div>
                
          </div>
            <a href="javascript:void(0)" id="add_more" name="add_more" (click)="add_internal_data()" class="more_add">+</a>
        </div>
          <div class="n_row">
            <div class="col_35">
              <div class="form-group_rgt" id="upload">
                <div id="upload_box">
                  <div id="drop">Drop Here<br/>
                    <a>Choose File*</a>
                    <input type="file" #uploadFile formControlName="nail_fungal_img" id="nail_fungal_img"  (change)="onSelectFile($event)" />
                  </div>
                  <input type="hidden" id="nail_image_path" name="nail_image_path" />
                  <ul id="image_list"></ul>
                  <div id="video_upload_error" style="display:none;"></div>
                </div>
              </div>
              <label id="error_msg" style="color: red; display: block;"></label>
            </div>
            <div class="col_15"> &nbsp;</div>
            <div class="col_50">
              <div class="brose_sec" >
                
                <img [src]="image_url" alt="insert_imge"/>
               <!-- <img id="show_nail_fungal_img" alt="your image"/>  -->
                
              </div>
            </div>
            <!-- section is hide for  Lab Doc case sign out -->
            <!-- <div class="n_row sty_rep" *ngIf="user_id=='75770'|| user_id=='76696' ">
              <div class="col_35">
                <label> Select Lab Doc Signature: </label>
              </div>
              <div  class="col_15"></div>
              <div class="col_50">
                <select formControlName="labdoc" id="labdoc">
                  <option value="" hidden="">Select Labdoctor</option>
                  <option value="75444">David Bolick</option>
                  <option value="75770">Jared Szymanski</option>
                  <option value="76696">David Mehr, MD</option>
                </select>
              </div>
              <div class="n_clear"> </div>
            </div> -->

              <div class="n_row sty_rep" >
                <div class="col_35 lab_doc_signature">
                  <label>Laboratory Doctor Signature: </label>
                </div>
                <div  class="col_15"></div>
                <div class="col_50">
                
               <div *ngIf="signature_id=='75770' || signature_id=='76696' else davidBolick;">
                <div *ngIf="signature_id=='75770' && signature_id!='76696'"><img  src="{{link}}assets/frontend/images/sign_img_jared.png"  title="Laboratory Doctor Signature">
                  <div>Jared Szymanski, DO, FCAP</div>
                </div>
                <div *ngIf="signature_id=='76696' && signature_id!='75770'"><img  src="{{link}}assets/frontend/images/sign_img_mehr.png" title="Laboratory Doctor Signature">
                  <div>David Mehr, MD</div>
                </div>
              </div>
                <ng-template #davidBolick>
                  <div><img   src="{{link}}assets/frontend/images/davidbolick_sign.jpg" title="Laboratory Doctor Signature">
                    <div>David Bolick, MD, MSc, CWSP</div>
                  </div>
                  </ng-template>
                </div>
                <div class="n_clear"> </div>
              </div>

       
          </div>
          <input type="button" value="Save" formControlName="submit" id="" class="btn" (click) = "onSubmit($event)"/>
        </form>
      </div>
    </div>
  
  </div>