<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <!-- <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider_cntent">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="inner_page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page_title">{{postsArray.site_page_title}}</h1>
              <div class="abut_cntnt">
                <div class="a_cntnt">
                  <p [innerHTML]=postsArray.site_page_desc></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
