<cm-navbar></cm-navbar>
<div id="primary" class="container">
    <h1>PCR Stages Processing</h1>
    <form  [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
        <div class="specimen_border">
                <div class="row">
						<!-- <div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan Barcode:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Scan BarCode" formControlName="barcode">
						</div> -->
							<div class="col-md-4 speciman_top specimen_bottom">
							<label>Barcode / Accessioning No.:</label>
                            <input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number" formControlName="assessioning_num"/>
                            <app-field-error-display 
                            [displayError]="isFieldValid('assessioning_num')" 
                            errorMsg="This field is required">
                            </app-field-error-display>
						</div>
					</div> 
            <div class="row">
                   
                <div class="col-md-2 no_padding3">
                
                    <input type="submit" value="Search" tabindex="100">
                </div>
              
               
                <div class="col-md-2 no_padding3">
                        <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>  Reset</a> 
                </div>
                </div>
            </div>
      
    </form>
  
            <div class="panel panel-primary ability_titl" *ngIf="show">
            <div class="panel-heading">
                <h3 class="panel-title"> Search Result </h3>
            </div>
            
                <div class="container">
                   
                                <form class="lwa-form" [formGroup]="extractionProcessData" (ngSubmit) = "extractionDataSubmit(specimen_id,stageid)">
                                <div class="modal-body">
                                <div [ngClass]="extractionDisplayFieldCss('pass')">
                                   
                                <div class="col-md-6 new red">
                                                            <input id="pass" formControlName="pass" class="regular-radio big-radio stage_status" value="1" type="radio" [(ngModel)]="pass">
                                                            <label for="pass">
                                                                Pass &amp; Save
                                                            </label>
                                </div>
                                <div class="col-md-6 new_g green">
                                                            <input id="fail" formControlName="pass" class="regular-radio big-radio stage_status" value="0" type="radio" [(ngModel)]="pass">
                                                            <label for="fail">
                                                                Fail &amp; Send Report
                                                            </label>
                                </div>
                                <app-field-error-display 
                                    [displayError]="extractionIsFieldValid('pass')" 
                                    errorMsg="Please select one option">
                                  </app-field-error-display>
                                </div> 
                         
                
                                    <div style="margin-bottom: 10px;display: flex;width: 100%;">
                                        <label>Dimension:</label>
                                        </div>
                                     <div style="display: flex;width: 100%;">
                                    
                                     <div style="display: flex;width:25%;margin-right: 5px;" [ngClass]="extractionDisplayFieldCss('xvalue')">
                                         <label style="margin-right: 15px;margin-top: 7px;text-align: left;width: 2%;">X </label><input type="number" id="xvalue" class="form-control" formControlName="xvalue" autofocus [(ngModel)]="xval">
                                        </div>
                                        <app-field-error-display 
                                        [displayError]="extractionIsFieldValid('xvalue')" 
                                        errorMsg="X value required">
                                    </app-field-error-display>
                                         <div style="display: flex;width: 25%;margin-right: 5px;" [ngClass]="extractionDisplayFieldCss('yvalue')">
                                         <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Y </label><input type="number" id="yvalue" formControlName="yvalue" class="form-control" [(ngModel)]="yval">
                                         </div>
                                         <app-field-error-display 
                                         [displayError]="extractionIsFieldValid('yvalue')" 
                                         errorMsg="Y value required">
                                     </app-field-error-display>
                                         <div style="display: flex;width: 25%;" [ngClass]="extractionDisplayFieldCss('zvalue')">
                                         <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Z </label><input type="number" id="zvalue" formControlName="zvalue" class="form-control" [(ngModel)]="zval">
                                         </div>
                                         <app-field-error-display 
                                         [displayError]="extractionIsFieldValid('zvalue')" 
                                         errorMsg="Z value required">
                                     </app-field-error-display>
                                     </div>
                                     <div id="addtional_description">
                                        <div style="width: 100%;display: flex;margin-top: 20px;">
                                        <div style="width: 8%;display: flex;" [ngClass]="extractionDisplayFieldCss('color')">
                                        <label style="width: 100%;margin-right: 5px;">Color:</label>
                                        </div>
                                        <app-field-error-display 
                                         [displayError]="extractionIsFieldValid('color')" 
                                         errorMsg="Color is required">
                                     </app-field-error-display>
                                        <div style="width: 100%;display: flex;margin-bottom: 20px;">
                                        <input type="text" class="form-control" style="width: 84%;" placeholder="Color" id="color" formControlName="color" [(ngModel)]="color">
                                            </div>
                                            </div>
                                        </div>
                                        <div id="addtional_description" [ngClass]="extractionDisplayFieldCss('pieces')">
                                        <label>Pieces:</label>
                                            <label>
                                                <input type="radio" id="pieces1" value="1" formControlName="pieces" [(ngModel)]="pieces">1
                                            </label>
                                             <label>
                                                <input type="radio" id="pieces2" value="2" formControlName="pieces" [(ngModel)]="pieces">2
                                            </label>
                                             <label>
                                                <input type="radio" id="pieces3" value="3" formControlName="pieces" [(ngModel)]="pieces">3
                                            </label>
                                             <label>
                                                <input type="radio" id="pieces4" value="multiple" formControlName="pieces" [(ngModel)]="pieces">Multiple
                                            </label>
                                        </div> 
                                        <app-field-error-display 
                                        [displayError]="extractionIsFieldValid('pieces')" 
                                        errorMsg="Pieces is required">
                                    </app-field-error-display>  
                                    <div style="margin-bottom: 20px; margin-top: 10px;    float: left;
                                    width: 100%;">
                                        <div id="addtional_description">
                                            <label>Tissue Type:</label>
                                                <label>
                                                    <input type="radio" id="nail" value="nail" formControlName="tissue" [(ngModel)]="nail">Nail
                                                </label>
                                                 <label>
                                                    <input type="radio" id="skin" value="skin" formControlName="tissue" [(ngModel)]="nail">Skin
                                                </label>
                                                
                                            </div>
                                         
                                                <div style="clear: both;" id="addtional_description" class="pcr-sec">
                                                <label class="pcr-label">For PCR:</label>
                                                    <label class="pcr-name">
                                                        <input type="checkbox" value="pcr" id="pcr" (change)="show_pcr($event)" formControlName="pcr" [(ngModel)]="pcr_chk">
                                                    </label>
                                                    
                                                    <input type="text" id="pcr_val" *ngIf="filter || pcr_val" formControlName="pcr_val" [(ngModel)]="pcr_val">
                                                </div>
                                            </div>
                                <div class="col-md-12 text-center"><a [routerLink]="['/pcr-stages']" class="new-backbtn1">Back</a><input id="submit_process" class="popup-submit" value="Save" type="submit"></div>
                                </div>
                                </form>
                
                </div>

</div>	

<div class="panel panel-primary ability_titl" *ngIf="!show">
    <div class="panel-heading">
        <h3 class="panel-title"> Stage Processing <br> <span>Stage 1: Delivery to Extraction</span></h3>
    </div>
    
        <div class="table-container">
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
            <thead>
            <tr>
                        <th width="15%" class="listed_box shrt-acc"> # <mfDefaultSorter by="assessioning_num">Accessioning</mfDefaultSorter> </th>
                        <th width="17%" class="listed_box">
                        <div class="listed_txt">Stage 1: Delivery to Extraction</div>
                        </th>
</tr>
            </thead>
<tbody>

<tr *ngFor="let specimens of mf.data">
<td valign="middle"># {{specimens.assessioning_num}}
</td>
<td valign="middle" *ngIf="specimens.test_type != 'W' && specimens.test_type != 'RPP' && specimens.test_type != 'UTI' ; else elsepart; ">

<!-- <a href="javascript:void(0);" class="blue-btn" (click)="displayProcessStage(specimens.id,2)">

Update Stage
</a> -->
<a  routerLinkActive="active" routerLink="/delivery-to-extraction-stage/{{specimens.id}}/1" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Update Stage</a>
</td>
<ng-template #elsepart>
    <td valign="middle" >
        <span *ngIf="specimens.test_type == 'W'">Stage is not available for wound.</span>
        <span *ngIf="specimens.test_type == 'RPP'">Stage is not available for Respiratory.</span>
        <span *ngIf="specimens.test_type == 'UTI'">Stage is not available for Urinary Tract Infection.</span>
    </td>
</ng-template>

</tr>
<tr *ngIf="no_data_status">
<td colspan="5">{{no_data}}</td>
</tr>
<td colspan="7">
<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
</td> 

</tbody>
</table>
<div style="padding-left: 10px;margin-bottom: 10px;">
<a [routerLink]="['/pcr-stages']" class="new-backbtn1">Back</a>
<input type="button" class="btn btn-blue exprt-btn" value="Load More" (click)="load_more()"> 
<div style="float: right;" class="show_physician_list">Total Number of Specimen <span>{{spe_count}}</span></div>

</div>

</div>			
</div>		
</div>
