<cm-navbar></cm-navbar>
<div class="content-wrap">
	<div class="container">
		<div class="content-area col-md-4"></div>
		<div id="primary" class="content-area col-md-12">
			<h1>Notifications List</h1>
			<p class="clear"></p>
			<div class="table-container">
				
				<a href="https://docs.google.com/document/d/1_9QkQhNfJz2BZxH3N1KEb0lYWK9otF-LS8_MVskq1Bc/edit" target="_blank" class="btn btn-primary"> Google Doc Notification</a>
				<div style="margin-bottom: 13px" ></div>


				<h3 style="padding-bottom: 20px;">Incomplete Notifications</h3>
				<div style="overflow-y: scroll; height:400px;">
					<p *ngFor="let incom_res of incompleted_notifications" class="bg-info note-{{incom_res.note_id}}" [class.read]="incom_res.note_read === 'Read'" id="note-{{incom_res.note_id}}">
						<a href="javascript:void(0);" (click)="read_notification(incom_res.note_id)">{{incom_res.notification_details}}</a><a class="close-bt" href="javascript:void(0)" (click)="dismiss_notification(incom_res.note_id);" style="text-align: left">X</a>
					</p>
        		</div>
				<hr/>
				<h3 style="padding-bottom: 20px;">Completed Notifications</h3>
				<div style="overflow-y: scroll; height:400px;">
					<div class="complete"></div>
						<p *ngFor="let com_res of completed_notifications" class="bg-info  note-{{com_res.note_id}}" [class.read]="com_res.note_read === 'Read'" id="note-{{com_res.note_id}}" >
							{{com_res.notification_details}}
							<span style="color: #c80000; font-size: 14px">Notification Submitted By : {{com_res.reader_name}}</span><br/>
							<span style="color: #c80000; font-size: 14px">Notification Complete Date : {{com_res.modify_date}}</span>
						</p>
				</div>
				<div class="clear"><p>&nbsp;</p></div>
			</div>
		</div>
	</div>
</div>