.highlight_class {
    background-color: #d5edf6 !important;
    padding: 5px;
}
.chosen-container {
    display: block !important
    }
    #physician_chosen {
        width: auto!important
        }
        .flex-style #physician_det_chosen {
            margin-right: 5px;
            width: 162px !important;
            display: flex;
            height: 33px;
          }
          .flex-style .chosen-single.chosen-default {
            align-items: center;
            border-radius: 2px;
            display: flex;
            height: 33px;
            width: 100%;
          }
          .speciman_top .form-control,
.speciman_top a.chosen-single {
width: 57%;
margin-left: 0
}
#notification_frm_open #notification_frm .query_qus a.chosen-single {
	height: 32px; padding: 3px 8px;
}
.chosen-container-single .chosen-single div {
	top:5px;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.overlay {
    position: fixed !important;
}

/**10.9.19_css*/

p.MsoNormal, .abut_cntnt p {
    color: #807d7d;
    font-size: 15px;
    line-height: 22px;
    font: 16px/24px Lato;
}
ul.bltt li{
    color: #807d7d;
    font-size: 15px;
    line-height: 22px;
    font: 16px/24px Lato;
}
p.MsoNormal strong{
    color: #807d7d;
    font-size: 15px;
    line-height: 22px;
    font: 16px/24px Lato;
}
p.undr strong {
    text-decoration: underline;
}
.bxxx {
    border: 1px solid #ddd;
    padding: 40px 20px;
    margin: 40px 0px;
}
ul.bddtt {
    list-style-type: disc;
}
.a_cntnt h1 {
    color: #444;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
    font-family: "Yanone Kaffeesatz";
    font-size: 44px;
    position: relative;
  }

  .a_cntnt .clk_img{
    color: #8B0000;
    margin: 0 0 10px 339px;
    font-size: 16px;
    font-weight: 600;
  }