<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>PCR Submitted Reports</h1>
      <div class="row">
        <!-- <div class="col-md-3">
       
       <cm-pcr-left-menu></cm-pcr-left-menu>
       
       </div> -->
        <div class="col-md-12">
          <div class="table-container">
            <h4>Accessioning # Generated Report</h4>
            <form action="" method="post">
              <div class="table-container">
                <!-- <p style="float: right;">  Search By test Type: <input type="text" (keyup)='search_test_type($event.target.value)'></p> -->
                <form
                  class="lwa-form"
                  [formGroup]="searchForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="row">
                    <div class="col-md-4 speciman_top specimen_bottom">
                      <label>Physician Name:</label>
                      <input
                        type="hidden"
                        formControlName="physician_id"
                        class="form-control "
                        id="physician_id"
                      />
                      <mat-form-field class="example-full-width">
                        <input
                          type="text"
                          aria-label="Number"
                          matInput
                          formControlName="physician_name"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                          autoActiveFirstOption
                          #auto="matAutocomplete"
                        >
                          <mat-optgroup
                            *ngFor="let option of filteredOptions | async"
                            label="Physician List"
                          >
                            <mat-option
                              (onSelectionChange)="
                                callSomeFunction(option.ids[i])
                              "
                              *ngFor="let group of option.names; let i = index"
                              [value]="group"
                            >
                              {{ group }}
                            </mat-option>
                          </mat-optgroup>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 speciman_top specimen_bottom">
                      <label>Test Type :</label>
                      <select class="form-control" formControlName="test_type">
                        <option value="">All</option>
                        <option value="W">Wound</option>
                        <option value="D">Derm</option>
                        <option value="NF">Toenail Fungus</option>
                        <!-- New section adde for RPP/UTI 28/06/2021 -->
                        <option value="RPP">Respiratory</option>
                        <option value="UTI">Urinary Tract Infection</option>
                      </select>
                    </div>
                    <div class="col-md-4 speciman_top specimen_bottom">
                      <label>Accessioning Number :</label>
                      <input
                        type="text"
                        class="form-control"
                        id="assessioning_num"
                        placeholder="Accessioning Number"
                        formControlName="assessioning_num"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 speciman_top specimen_bottom">
                      <label>From Date:</label>
                      <input
                        type="text"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="datePickerConfig"
                        formControlName="from_date"
                        id="datepicker"
                        placeholder="MM/DD/YY"
                        autocomplete="off"
                      />
                    </div>
                    <div class="col-md-4 speciman_top specimen_bottom">
                      <label>To Date:</label>
                      <input
                        type="text"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="datePickerConfig"
                        formControlName="to_date"
                        id="datepicker"
                        placeholder="MM/DD/YY"
                        autocomplete="off"
                      />
                    </div>
                    <div class="row">
                    <div class="col-md-2 no_padding3">
                      <input
                        type="submit"
                        name="wp-submit"
                        id="lwa_wp-submit"
                        value="Search"
                        tabindex="100"
                      />

                    </div>
                  </div>
                  </div>
                </form>
                <!--  -->
                <table
                  class="table table-striped"
                  [mfData]="data"
                  #mf="mfDataTable"
                  [mfRowsOnPage]="10"
                  style="width: 100%;"
                >
                  <thead>
                    <tr class="table_cls">
                      <th width="15%">Physician Name</th>
                      <th width="10%">
                        <mfDefaultSorter by="accessioning_num"
                          >Accessioning Number</mfDefaultSorter
                        >
                      </th>
                      <th width="15%">Test Type</th>
                      <th width="15%">Create Date</th>
                      <th width="30%">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="specimens_list">
                    <tr class="odd" *ngFor="let specimens of mf.data">
                      <td valign="middle">
                        <div>{{ specimens.physician_name }}</div>
                      </td>
                      <td valign="middle">
                        <div>{{ specimens.accessioning_num }}</div>
                      </td>
                      <td valign="middle">
                        <!-- <div>{{specimens.test_type}}</div> -->
                        <div>
                          <span *ngIf="specimens.test_type == 'NF'"
                            >Toenail Fungus
                          </span>
                          <span *ngIf="specimens.test_type == 'W'">Wound </span>
                          <span *ngIf="specimens.test_type == 'D'">Derm</span>
                          <!-- New section adde for RPP/UTI 28/06/2021 -->
                          <span *ngIf="specimens.test_type == 'RPP'">Respiratory</span>
                          <span *ngIf="specimens.test_type == 'UTI'">Urinary Tract Infection</span>
                        </div>
                      </td>
                      <td valign="middle">
                        <div>{{ specimens.created_date }}</div>
                      </td>
                      <td>
                        <div class="buttonList1">
                          <a
                            href="{{ url }}pcr_report_pdf/{{
                              specimens.report_pdf_name
                            }}"
                            class="blue-btn"
                            target="_blank"
                            *ngIf="specimens.report_pdf_name"
                            ><i class="fa fa-eye"></i> View PCR Report</a
                          >
                          <span
                            *ngIf="!specimens.report_pdf_name"
                            style="color:red; font-weight: bold; text-shadow: none;"
                            >Report Canceled<br />
                          </span>
                          <span *ngIf="!specimens.report_pdf_name"
                            >Canceled Reason:
                            {{ specimens.cancelled_reason }}</span
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="odd" *ngIf="no_data_status">
                      <td colspan="5">{{ no_data }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="table_cls">
                      <th width="15%">Physician Name</th>
                      <th width="10%">Accessioning Number</th>
                      <th width="15%">Test Type</th>
                      <th width="15%">Create Date</th>
                      <th width="30%">Actions</th>
                    </tr>
                    <td colspan="7">
                      <mfBootstrapPaginator
                        [rowsOnPageSet]="[10, 25, 50, 100]"
                      ></mfBootstrapPaginator>
                    </td>
                  </tfoot>
                </table>
                <div class="col-md-6 pull-right">
                  <div class="show_physician_list">
                    <strong>Showing Number of Specimen: </strong>
                    <span> {{ specimen_count }}</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
