<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>PCR Average Stage Time</h1>
        <form>
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">Search by period:</span>
                <input type="text" class="form-control datepicker hasDatepicker" name="from_create_date"
                  id="from_create_date" value="" placeholder="From Create Date">
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">To </span>
                <input type="text" class="form-control datepicker hasDatepicker" name="to_create_date"
                  id="to_create_date" value="" placeholder="To Create Date">
              </div>
              <div class="col-md-2 no_padding3">
                <input type="submit" name="search_filter" value="Search" id="submit" class="form-control reset_button">
              </div>
              <div class="col-md-2 no_padding3">
                <a href="https://www.abilitydiagnostics.com/pcr-average-stage-time"
                  class="form-control reset_button">Reset</a>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-2 no_padding3" style="margin-top:15px">
                <a href="https://www.abilitydiagnostics.com/pcr-average-stage-time?load-data=all"
                  class="reset_button"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load All Records</a>
              </div>

              <div class="col-md-2 no_padding3" style="margin-top:15px">
                <a href="https://www.abilitydiagnostics.com/pcr-average-stage-time?load-data=time_data"
                  class="reset_button"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load Last One Month
                  Records</a>
              </div>
            </div>
          </div>
        </form>
        <div class="table-container" id="avg-time">
          <div id="specimen_list_wrapper" class="dataTables_wrapper">
            <div class="dataTables_length" id="specimen_list_length"><label>Show <select name="specimen_list_length"
                  aria-controls="specimen_list" class="">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select> entries</label></div>
            <div id="specimen_list_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                  placeholder="" aria-controls="specimen_list"></label></div>
            <table class="table table-striped listing_table doodle dataTable" cellspacing="0" width="100%"
              id="specimen_list" role="grid" aria-describedby="specimen_list_info" style="width: 100%;">
              <thead>
                <tr class="table_cls" role="row">
                  <th width="15%" class="listed_box sorting_asc" tabindex="0" aria-controls="specimen_list" rowspan="1"
                    colspan="1" aria-sort="ascending" aria-label="
                    # Accessioning Number
                  : activate to sort column descending" style="width: 151px;">
                    # Accessioning Number
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Delivery to Extraction
                  : activate to sort column ascending" style="width: 142px;">
                    Delivery to Extraction
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Delivery to PCR
                  : activate to sort column ascending" style="width: 142px;">
                    Delivery to PCR
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                   Assign Well Stage
                  : activate to sort column ascending" style="width: 142px;">
                    Assign Well Stage
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Data Analysis
                  : activate to sort column ascending" style="width: 142px;">
                    Data Analysis
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Manual Review
                  : activate to sort column ascending" style="width: 143px;">
                    Manual Review
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Report Generate
                  : activate to sort column ascending" style="width: 143px;">
                    Report Generate
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id="tr_14369" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 180919-0019-NF </td>
                  <td>
                    19 hours, 43 minutes
                  </td>
                  <td>
                    <span style="color:red;">19 hours, 49 minutes</span> </td>
                  <td>

                    19 hours, 49 minutes </td>
                  <td>
                    <span style="color:red;">1 day, 2 hours, 25 minutes</span> </td>
                  <td>
                    <span style="color:red;">1 day, 2 hours, 25 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">20 hours, 35 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14371" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 180919-0021-NF </td>
                  <td>
                    19 hours, 35 minutes
                  </td>
                  <td>
                    <span style="color:red;">19 hours, 42 minutes</span> </td>
                  <td>

                    19 hours, 42 minutes </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 58 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 58 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 22 hours, 3 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14375" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 180919-0025-NF </td>
                  <td>
                    <span style="color:red;">6 days, 21 hours, 37 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 21 hours, 38 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 21 hours, 38 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 38 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 38 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 21 hours, 43 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14380" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 180919-0031-NF </td>
                  <td>
                    <span style="color:red;">6 days, 21 hours, 9 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 21 hours, 11 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 21 hours, 11 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 11 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 3 hours, 11 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 21 hours, 15 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14394" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 180919-0045-NF </td>
                  <td>
                    <span style="color:red;">6 days, 20 hours, 30 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 20 hours, 32 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 20 hours, 32 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 2 hours, 32 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 2 hours, 32 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 20 hours, 37 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14400" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 180919-0051-NF </td>
                  <td>
                    <span style="color:red;">6 days, 20 hours, 11 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 20 hours, 13 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 20 hours, 13 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 2 hours, 13 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 2 hours, 13 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 20 hours, 18 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14404" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 180919-0055-NF </td>
                  <td>
                    <span style="color:red;">6 days, 19 hours, 56 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 19 hours, 58 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 19 hours, 58 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 1 hour, 59 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 1 hour, 59 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 20 hours, 3 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14406" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 180919-0057-NF </td>
                  <td>
                    <span style="color:red;">6 days, 19 hours, 50 minutes</span>
                  </td>
                  <td>
                    <span style="color:red;">6 days, 19 hours, 53 minutes</span> </td>
                  <td>

                    <span style="color:red;">6 days, 19 hours, 53 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 1 hour, 53 minutes</span> </td>
                  <td>
                    <span style="color:red;">7 days, 1 hour, 53 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 19 hours, 58 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14408" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 180920-0005-NF </td>
                  <td>
                    20 hours, 50 minutes
                  </td>
                  <td>
                    <span style="color:red;">20 hours, 51 minutes</span> </td>
                  <td>

                    20 hours, 51 minutes </td>
                  <td>
                    <span style="color:red;">6 days, 6 hours, 37 minutes</span> </td>
                  <td>
                    <span style="color:red;">6 days, 6 hours, 37 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 41 minutes</span>
                  </td>
                </tr>
                <tr id="tr_14410" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 180920-0007-NF </td>
                  <td>
                    20 hours, 43 minutes
                  </td>
                  <td>
                    <span style="color:red;">20 hours, 44 minutes</span> </td>
                  <td>

                    20 hours, 44 minutes </td>
                  <td>
                    <span style="color:red;">6 days, 6 hours, 30 minutes</span> </td>
                  <td>
                    <span style="color:red;">6 days, 6 hours, 30 minutes</span>
                  </td>
                  <td>

                    <span style="color:red;">6 days, 34 minutes</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="table_cls">
                  <th width="15%" class="listed_box" rowspan="1" colspan="1">Average Time</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">1 Days28.7 Hours</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">1 Days28.8 Hours</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">1 Days28.8 Hours</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">3 Days87.4 Hours</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">3 Days87.4 Hours</th>
                  <th width="17%" class="listed_box" rowspan="1" colspan="1">1 Days41.1 Hours</th>
                </tr>
              </tfoot>
            </table>
            <div class="dataTables_info" id="specimen_list_info" role="status" aria-live="polite">Showing 1 to 10 of 100
              entries</div>
            <div class="dataTables_paginate paging_simple_numbers" id="specimen_list_paginate"><a
                class="paginate_button previous disabled" aria-controls="specimen_list" data-dt-idx="0" tabindex="0"
                id="specimen_list_previous">Previous</a><span><a class="paginate_button current"
                  aria-controls="specimen_list" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button "
                  aria-controls="specimen_list" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button "
                  aria-controls="specimen_list" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button "
                  aria-controls="specimen_list" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button "
                  aria-controls="specimen_list" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a
                  class="paginate_button " aria-controls="specimen_list" data-dt-idx="6" tabindex="0">10</a></span><a
                class="paginate_button next" aria-controls="specimen_list" data-dt-idx="7" tabindex="0"
                id="specimen_list_next">Next</a></div>
          </div>
        </div>
        <h2 class="blue-bg"><strong>Time Limit For Different Stages</strong></h2>

        <div class="table-responsive pcr-shw-tbl">
          <table class="table table-bordered">
            <thead>
              <tr class="table_cls">
                <th><strong>Specimen Stages</strong></th>
                <th>Delivery to Lab</th>
                <th>Gross</th>
                <th>Microtomy</th>
                <th>QC Check</th>
                <th>Pending Specimen List</th>
                <th>Pending Reports</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b>Time (hours)</b>
                </td>
                <td>24</td>
                <td>6</td>
                <td>48</td>
                <td>5</td>
                <td>5</td>
                <td>24</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>