#wpcrlResetPasswordSection h3,
.bg-primary,
.content-area h1,
.fv-form h3,
.woocommerce h2,
.woocommerce-checkout h3 {
  color: #444;
  font-weight: 400;
  font-size: 44px;
  font-family: "Yanone Kaffeesatz";
  margin: 0 0 20px;
  padding: 0 0 4px;
  text-transform: capitalize;
  background: 0 0;
}

#wpcrlResetPasswordSection h3:after,
.bg-primary:after,
.content-area h1:after,
.fv-form h3:after,
.woocommerce h2:after,
.woocommerce-checkout h3:after {
  display: block;
  margin: 5px 0 0;
  padding: 0;
  width: 9%;
  content: '';
  height: 3px;
  background: #34b6e6;
}

.show_physician_list {
  font-family: arial;
  font-size: 16px;
  margin: 0 0 .75em;
  padding: 0;

}

.show_physician_list span {
  color: #34b6e6;
  font-size: 18px;
}

.specimen_border {
  border: 1px solid #ccc;
  padding: 26px 12px 17px;
  margin-bottom: 20px;
}

.flex-style .specimen_bottom {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.specimen_bottom label {
  color: #5c5c5c;
  float: left;
  font: 600 13px Lato;
  padding: 1.5% 1%;
  text-align: left;
  width: 46%;
}

.flex-style .speciman_top.specimen_bottom>input,
.flex-style .speciman_top.specimen_bottom>select {
  margin-right: 5px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=tel],
input[type=number],
input[type=search],
textarea,
select {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #999;
  padding: 8px;
  font-size: 12px !important;
}

#btnForgotPassword,
#place_order,
.btn,
.button,
.reset_button,
.single_add_to_cart_button,
.wc-proceed-to-checkout .button,
input[type=reset],
input[type=submit] {
  width: auto;
  background: #34b6e6 !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: "Yanone Kaffeesatz" !important;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  height: 33px;
}

#search .col-md-2 a.reset_button,
.pagination ul li {
  display: inline-block;
}

#btnForgotPassword,
#place_order,
.btn,
.button,
.reset_button,
.single_add_to_cart_button,
.wc-proceed-to-checkout .button,
input[type=reset],
input[type=submit] {
  width: auto;
  background: #34b6e6 !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: "Yanone Kaffeesatz" !important;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  height: 33px;
  line-height: 15px !important;
}

.koli {
  width: 30% !important;
}

label {
  width: 20%;
  font: 600 13px Lato;
  color: #5c5c5c;
}

.filter_value,
label {
  float: left;
  text-align: left;
}

.chzn-select {
  width: 45%;
}

#sex {
  width: 45%;
}

.no_padding3 {
  float: left;
  width: auto;
}

.table_cls {
  background: #34B6E6;
}

table.dataTable tfoot th,
table.dataTable thead th {
  font-weight: 700;
}

.table_cls th {
  color: #fff;
  font: 14px Lato;
}

pre,
table,
td,
th {
  border: 1px solid #d1d1d1;
}

tfoot td {
  border: 1px solid #fff !important;
}

.table>thead>tr>th {
  vertical-align: middle;
}

.mat-form-field {
  width: 44%;
}

.physician-chkbox {
  margin-top: -25px;
  margin-left: 5px;
}
.analysis_right {
  margin-right: 12px;
}

@-moz-document url-prefix() {
  .mat-form-field {
    width: 49%;
  }

  #sex {
    width: 50% !important;
  }
}
