#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font: 400 44px "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.physician_details {
    background: #e7e7e7;
    margin-bottom: 2px;
    margin-right: 2%;
    height: 67px;
    padding: 0 0 0 18px;
    width: 48%;
}
#registration-form .form-group, #title, .add_physicin .col-md-1.no_padding {
    text-align: left;
}

.form-group, .view_form-group {
    width: 100%;
    margin: 15px auto;
    display: inline-block;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}

.filter_value, label {
    float: left;
    text-align: left;
}
