<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div class="bg-primary heading"> Details</div>
        <div *ngIf="data">
            <div class="col-md-6 physician_details">
                <div class="form-group">
                  <label>First Name :&nbsp;</label>
                  <label>{{data.fname}}</label>
                </div>  
              </div>

            <div class="col-md-6 physician_details">
                <div class="form-group">
                  <label>Last Name :&nbsp;</label>
                  <label>{{data.lname}}</label>
                  </div>
              </div>

              <div class="col-md-6 physician_details">
                  <div class="form-group">
                    <label>User Name :&nbsp;</label>
                    <label>{{data.user_login}}</label>
                  </div>
              </div>
                <div class="col-md-6 physician_details">
                    <div class="form-group">
                      <label>Email :&nbsp;</label>
                      <label>{{data.user_email}} </label>
                    </div>
                </div>
                <div class="col-md-6 physician_details">
                    <div class="form-group">
                      <label>Phone :&nbsp;</label>
                      <label>{{data.mob}}</label>
                    </div>
                </div>
                <div class="col-md-6 physician_details">
                    <div class="form-group">
                      <label>Website :&nbsp;</label>
                      <label>{{data.user_url}} </label>
                    </div>
                </div>
                <div class="col-md-6 physician_details">
                    <div class="form-group">
                      <label>Address :&nbsp;</label>
                      <label>{{data.address}}</label>
                    </div>
                </div>
                <div class="col-md-6 physician_details">
                    <div class="form-group">
                        <label>Specimen Control Access :&nbsp;</label>
                        <label *ngIf="data.acc_cntrl==='add'">Add Specimen</label><br>
                        <label *ngIf="data.acc_cntrl_qc==='check'">QC Check</label>
                    </div>
                </div>
        </div>
    </div>
  </div>
</div>
