<cm-navbar></cm-navbar>
<!--content-->
<div id="content" class="site-content">
  <div class="home_banner" [ngStyle]="{'background': 'url(' + home_ban + ') 50% 0px no-repeat'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider_cntent">
            <h2>Delivering The Next Generation of Science</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="home_first_blk">
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <div class="hm_cntent">
                <h2>{{postsArray.site_page_title}}</h2>
                <p [innerHTML]=postsArray.site_page_desc></p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="home_img">
                <img width="260" height="189"
                  src="{{url}}assets/uploads/Sitecontentimage/{{postsArray.site_page_image}}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                  sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 984px) 60vw, (max-width: 1362px) 62vw, 840px">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home_sknd_blk" [ngStyle]="{'background': 'url(' + home_sknd_blk + ') no-repeat'}">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="srvs_titl">Our Science-Based Services</h2>
            </div>
          </div>

          <div class="srvs_blk">
            <ul class="row">
              <li class="col-sm-3" *ngFor="let serv of serviceDetails">
                <div class="srvs_hldr">
                  <div class="srvs_cntent">
                    <h2>{{serv.service_title}}</h2>
                    <p [innerHTML]=serv.service_desc></p>
                    <a *ngIf="serv.service_link" href="{{serv.service_link}}"> More info</a>
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>