<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Import Specimen Data</h1>
      <!-- <div class="col-md-3">
		 
		 <cm-pcr-left-menu></cm-pcr-left-menu>
		 
     </div> -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="partnerVal">Company Name</label>
            <select #partnerVal id="partnerVal" class="form-control">
              <option value="">Select a Company</option>
              <option value="ability-diagnostics">Ability Diagnostics</option>
              <option *ngFor="let partner of parrners_data" value="{{partner.partner_id}}">{{partner.partner_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="jsonFile">Upload Data</label>
            <input #xlFile type="file" name="files[]" multiple id="jsonFile" accept=".xlsx"
              (change)="incomingfile($event)" class="form-control" />
            <span style="display: block; font-size:13px; font-weight:600; padding: 2px 5px 0 5px;">Note: Please upload
              .xlsx file format only.</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class='exportExcel'>
            <button class="analyze-btn" (click)="Upload()">Import</button>
            <a [routerLink]="['/home']" class="analyze-btn" style="margin-left: 20px;">BACK</a>
          </div>
        </div>
      </div>

      
      <ng-container *ngIf="error_message; else elseTemplate">
     <div class="error_message">{{error_message}}</div>   
      </ng-container>
      <ng-template #elseTemplate>
        
      
      <div class="row" style="margin-top:100px;" *ngIf="showErrList">
        <h4>Specimen Import Errors</h4>

        <table class="table table-striped" style="width: 20%;">
          <thead>
            <tr class="table_cls">
              <th>Accessioning Number</th>
            </tr>
          </thead>
          <tbody id="import_err_list">
            <tr class="odd" *ngFor="let err of error_data">
              <td>{{err}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>

    </div>
  </div>
</div>